@use 'defines';
@use 'color';

@keyframes pournshake {
    0%,
    60%,
    100% { transform: translate(0, 0)           rotate(0)      scale(1);   }
    30%  { transform: translate(0, 0)           rotate(180deg) scale(1.2); }
    32%  { transform: translate(0.2em, 0.2em)   rotate(185deg) scale(1.2); }
    34%  { transform: translate(-0.2em, 0)      rotate(175deg) scale(0.8); }
    36%  { transform: translate(0.2em, 0.1em)   rotate(180deg) scale(1.2); }
    38%  { transform: translate(-0.2em, -0.2em) rotate(185deg) scale(0.8); }
    40%  { transform: translate(0.2em, 0.2em)   rotate(185deg) scale(1.2); }
    42%  { transform: translate(-0.2em, 0)      rotate(175deg) scale(0.8); }
    44%  { transform: translate(0.2em, 0.1em)   rotate(180deg) scale(1.2); }
    46%  { transform: translate(-0.2em, -0.2em) rotate(185deg) scale(0.8); }
}

.sauce-analysis-stats {
    $pad: 0.5rem;
    $expander-height: 0.6em;

    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    font-size: 0.96em;
    border-top: var(--sauce-border);
    width: defines.$basic-analysis-width;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap; // Looks terrible but needed to prevent overflow
    padding-bottom: $expander-height;
    line-height: normal;

    &:empty {
        display: none;
    }

    &.expanded {
        .expander .expand.icon {
            display: none;
        }
    }
    &:not(.expanded) {
        .expander .compress.icon {
            display: none;
        }

        .sauce-data-tuple {
            line:nth-child(1n+4) {  // Only show 3 lines if not expanded
                display: none;
            }
        }
    }

    [data-icon] {
        height: 0.9em;
    }

    .expander {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $expander-height;
        transition: box-shadow 200ms, filter 200ms;
        background-image: linear-gradient(to top,
            hsl(var(--sauce-border-hue), var(--sauce-border-sat), calc(var(--sauce-border-light) + var(--sauce-border-shade-dir) * -6%)),
            hsl(var(--sauce-border-hue), var(--sauce-border-sat), calc(var(--sauce-border-light) + var(--sauce-border-shade-dir) * -16%)) 18%,
            hsl(var(--sauce-border-hue), var(--sauce-border-sat), calc(var(--sauce-border-light) + var(--sauce-border-shade-dir) * -20%)));
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.1em;

        .icon {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg[data-icon] {
                height: 100%;
            }
        }

        &:hover {
            filter: contrast(2);
            box-shadow: 0 0 6px -1px color.shade(fg, 0%) inset;
        }
    }

    .sauce-brand-sidebar {
        padding: $pad 1.2em;
        display: flex;
        flex-direction: column;

        .sauce-logo {
            display: flex;
            justify-content: center;
            opacity: 0.85;

            img {
                transform: rotate(-20deg);
                max-width: 2.75em;
                max-height: 2.75em;
                font-size: inherit;
            }

            &:hover {
                animation: pournshake 6s infinite ;
                opacity: 1;
            }
        }

        .sauce-label {
            font-size: 0.9em;
            text-shadow: 1px 1px 3px #0001;
            line-height: 1.2;
            color: color.shade(accent, -5%);
        }
    }

    .sauce-data-divider {
        margin: 0.8em 0;
        border-right: var(--sauce-thin-border);
        opacity: 0.7;
    }

    .sauce-data-tuple {
        display: flex;
        flex-direction: column;
        margin: $pad 0.22em;
        position: relative;
        min-width: 5em; // stablize when scrolling

        line {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            font-size: 0.92em;

            &:not(:last-child) {
                padding-bottom: 0.2em;
            }

            &.heading {
                font-size: 0.96em;

                key {
                    font-weight: bold;
                }
            }

            &:not(.heading) key::before {
                content: '•';
                font-weight: bold;
                margin: 0 0.2em;
            }

            key:not(:empty)::after {
                content: ':';
                margin: 0 0.05em;
            }

            key {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            value {
                // flex with baseline removes whitespace between strava formatters
                display: flex;
                align-items: baseline;
                font-variant-numeric: tabular-nums;

                sup {
                    font-size: 0.8em;
                }
            }

            key:not(:empty) + value {
                margin-left: 0.2em;
            }
        }

        .sauce-rank {
            max-height: 2.8em;
            max-width: 5em;
            width: auto;
            object-fit: contain;
        }
    }
}

.sauce-analysis-keyboard-hint {
    position: absolute;
    top: 1px;
    left: 2px;
    transition: opacity 200ms, visibility 200ms;
    visibility: hidden;
    opacity: 0;

    &:hover {
        opacity: 1 !important;
    }

    svg[data-icon] {
        height: 1em;
    }
}


section.chart.sauce-keyboard-events {
    .sauce-analysis-keyboard-hint {
        opacity: 0.5;
        visibility: visible;
    }
}
