<select name="type" class="pref">
    <option value="power" {{panelPrefs.type === 'power' ? 'selected' : ''}}>{{{/power}}}</option>
    <option value="power_wkg" {{panelPrefs.type === 'power_wkg' ? 'selected' : ''}}>{{{/power}}} (w/kg)</option>
    <% if (!sauce.options['analysis-disable-np']) { %>
        <option value="np" {{panelPrefs.type === 'np' ? 'selected' : ''}}>NP®</option>
    <% } %>
    <% if (!sauce.options['analysis-disable-xp']) { %>
        <option value="xp" {{panelPrefs.type === 'xp' ? 'selected' : ''}}>xPower</option>
    <% } %>
    <option value="pace" {{panelPrefs.type === 'pace' ? 'selected' : ''}}>{{{/pace}}}</option>
    <option value="gap" {{panelPrefs.type === 'gap' ? 'selected' : ''}}>{{{/gap}}}</option>
    <option value="hr" {{panelPrefs.type === 'hr' ? 'selected' : ''}}>{{{/heartrate}}}</option>
</select>

<% if (!obj.disablePeriod) { %>
    <% if (['pace', 'gap'].includes(panelPrefs.type)) { %>
        <select name="distance" class="pref">
            <% for (const x of peakRanges.distances) { %>
                <option value="{{x.value}}" {{panelPrefs.distance === x.value ? 'selected' : ''}}>{{humanRaceDistance(x.value)}}</option>
            <% } %>
        </select>
    <% } else { %>
        <select name="time" class="pref">
            <% for (const x of peakRanges.periods) { %>
                <option value="{{x.value}}" {{panelPrefs.time === x.value ? 'selected' : ''}}>{{humanPeakPeriod(x.value)}}</option>
            <% } %>
        </select>
    <% } %>
<% } %>

<% if (!obj.disableActivityType) { %>
    <select name="activityType" class="pref">
        <option value="" {{!panelPrefs.activityType ? 'selected' : ''}}>{{{any}}}</option>
        <option value="ride" {{panelPrefs.activityType === 'ride' ? 'selected' : ''}}>{{{rides}}}</option>
        <option value="run" {{panelPrefs.activityType === 'run' ? 'selected' : ''}}>{{{runs}}}</option>
        <option value="swim" {{panelPrefs.activityType === 'swim' ? 'selected' : ''}}>{{{swims}}}</option>
        <option value="workout" {{panelPrefs.activityType === 'workout' ? 'selected' : ''}}>{{{workouts}}}</option>
    </select>
<% } %>

<% if (!obj.disableOptions) { %>
    <div class="options">
        <% if (!obj.disableIncludeAllAthletes) { %>
            <label>
                <input type="checkbox" class="pref" name="includeAllAthletes" {{panelPrefs.includeAllAthletes ? 'checked' : ''}}/>
                {{{/all_athletes}}}
            </label>
        <% } %>
        <% if (!obj.disableIncludeAllDates) { %>
            <label>
                <input type="checkbox" class="pref" name="includeAllDates" {{panelPrefs.includeAllDates ? 'checked' : ''}}/>
                {{{all_dates}}}
            </label>
        <% } %>
        <% if (!obj.disableSkipEstimates) { %>
            <label title="{{{skip_estimates_tooltip}}}">
                <input type="checkbox" class="pref" name="skipEstimates" {{panelPrefs.skipEstimates ? 'checked' : ''}}/>
                {{{skip_estimates}}}
            </label>
        <% } %>
        <% if (!obj.disableSkipVirtual) { %>
            <label title="{{{skip_virtual_tooltip}}}">
                <input type="checkbox" class="pref" name="skipVirtual" {{panelPrefs.skipVirtual ? 'checked' : ''}}/>
                {{{skip_virtual}}}
            </label>
        <% } %>
    </div>
<% } %>
