<header class="title">
    <span class="panel-name">{{name}}</span>
    <div class="btn btn-icon-only btn-unstyled sauce-panel-settings"
         title="{{{panel_settings_tooltip}}}">{{=icon cog-duotone=}}</div>
</header>
<div class="sauce-panel-content table-view peaks-view loading-mask loading">
    <div class="peaks-controls-view"></div>
    <div class="results table-wrap">
        <table class="sauce-perf">
            <thead>
                <tr>
                    <th class="centered">{{{/rank}}}</th>
                    <th class="righted">{{{/value}}}</th>
                    <th></th>
                    <% if (prefs.includeAllAthletes) { %>
                        <th>
                            <span>{{{/athlete}}}</span>
                            <div class="btn btn-icon-only btn-unstyled filter"
                                 title="{{{filter_tooltip}}}">{{=icon search-duotone=}}</div>
                            <input class="filter {{filters.athleteName ? 'visible' : ''}}"
                                   type="text" data-activity-field="athleteName"
                                   placeholder="{{{filter}}}..."
                                   value="{{filters.athleteName ? filters.athleteName.val : ''}}"/>
                        </th>
                    <% } %>
                    <th>
                        <span>{{{/activity}}}
                        <div class="btn btn-icon-only btn-unstyled filter"
                             title="{{{filter_tooltip}}}">{{=icon search-duotone=}}</div>
                        <input class="filter {{filters.name ? 'visible' : ''}}" type="text"
                               data-activity-field="name" placeholder="{{{filter}}}..."
                               value="{{filters.name ? filters.name.val : ''}}"/>
                    </th>
                    <th>{{{/type}}}</th>
                    <th>{{{/date}}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="data">
                {- await embed('performance/peaks/table-rows.html', obj) -}
            </tbody>
            <tbody>
                <tr class="load-more">
                    <% const colspan = prefs.includeAllAthletes ? 8 : 7; %>
                    <td colspan="{{colspan}}"
                        class="centered {{hasMore ? '' : 'hidden'}}">{{{/load_more}}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="resize-drag">{{=icon grip-lines-light=}}</div>
</div>
