
#sauce-infopanel {
    border-top: 1.5px solid #ff4400;
    border-bottom: 1.5px solid #ff4400;
    margin-top: 10px;
}

#sauce-infopanel .title,
#sauce-infopanel .sauce-title-menu {
    white-space: nowrap;
}

#sauce-infopanel .sauce-title-menu {
    width: 100%;
}

#sauce-infopanel .sauce-title-menu a.selection {
    border: none;
}

#sauce-infopanel .sauce-title-menu a.selection,
#sauce-infopanel .sauce-title-menu .options li > a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sauce-infopanel .sauce-title-menu .sauce-svg-icon {
    max-width: 1em;
    max-height: 1em;
    width: 100%;
    height: 100%;
    display: inline-flex;  /* contrain svg */
    flex-direction: column;
}


#sauce-infopanel .watt-estimate-disclaimer {
    color: darkred;
    margin: 0.3em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
}

#sauce-infopanel .watt-estimate-disclaimer > * {
    padding: 0 0.2em;
}


#sauce-infopanel .group {
    padding-bottom: 0;
}

#sauce-infopanel table {
    margin: 0;
}

#sauce-infopanel td {
    padding: 5px 0 5px 20px;
}

#sauce-infopanel td:last-child {
    padding-left: 10px;
    color: #007fb6;
}

.sauce-moreinfo td a {
    color: #007fb6;
}

.sauce-moreinfo .sauce-sparkline {
    margin-top: 1em;
}

#sauce-infopanel tr:nth-child(odd) {
    background: #fafafa;
}

#sauce-infopanel tr.selected {
    background: rgba(0, 0, 0, 0.74);
    color: #fff;
}

#sauce-infopanel tr:hover:not(.selected) {
    background: #9d9d9d87;
    cursor: pointer;
}

#sauce-infopanel tr.selected td:last-child {
    color: white;
}

.sauce-moreinfo sub,
.sauce-moreinfo small,
.sauce-moreinfo sup {
    font-size: 75%;
}

.sauce-positive {
    color: #109f10 !important;
}

.sauce-negative {
    color: #8b1c1c !important;
}

.sauce-smaller {
    font-size: 0.8em;
}


.activity-stats .secondary-stats.inline-stats.sauce-stats {
    border: 1.5px solid #ff4400;
    border-left: 0;
    border-right: 0;
    background: #fff;
    margin-left: -13px;
    margin-right: -15px;
}

.activity-stats .secondary-stats.inline-stats.sauce-stats .divider:not(:first-child) {
    border-left: 1px solid #ff440080;
    width: 20px;
    height: 2.2em;
    display: inline-block;
    margin-top: 0.3em;
}

.activity-stats .inline-stats.sauce-stats .origin-default {
    text-decoration: underline dotted;
    color: #aaa;
}

.activity-stats .inline-stats.sauce-stats .origin-sauce {
    color: #ff4400;
}

.activity-stats .inline-stats.sauce-stats .origin-strava {
}


.sauce-moreinfo .ui-dialog-content {
    padding: 0px !important;
}

.sauce-moreinfo .ui-dialog-content table {
    box-sizing: border-box;
    margin: 0px 0px 0 0;
    padding: 20px 20px 4px 20px;
}

.sauce-moreinfo img.rank_badge {
    height: 28px;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: 1px;
}

.sauce-moreinfo td {
    padding: 4px 0px;
    height: 22px;
}

.sauce-moreinfo td:first-child {
    width: 50%;
    padding-left: 2px;
    padding-right: 2px;
    text-align: right;
}

.sauce-moreinfo td:last-child {
    width: 50%;
    text-align: center;
}

.sauce-moreinfo td.rank_holder {
    position: relative;
}

.sauce-moreinfo tr:last-child td {
    border-bottom: 0;
}

.ui-dialog.sauce-dialog {
    margin: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    border-radius: 0.22em;
    overflow: hidden;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: inherit;  /* use strava font, not jquery */
}

.ui-dialog.sauce-dialog .ui-dialog-titlebar,
.ui-dialog.sauce-dialog .ui-dialog-buttonpane {
    flex: 0 0 auto;
}

.ui-dialog.sauce-dialog .ui-dialog-content {
    flex: 1 1 auto;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
    width: auto !important; /* override element styling during moves */
}

.ui-dialog.sauce-dialog header {
    margin: 0.5em 1em;
    border-bottom: 1px solid #ff4400cc;
}

.ui-dialog.sauce-dialog.sauce-big-data {
    max-width: 90vw;
    max-height: calc(100vh - 4em);
}

.ui-dialog.sauce-dialog.sauce-big-data .ui-dialog-content {
    padding: 0;
}

.ui-dialog.sauce-dialog.sauce-big-data pre {
    background: white;
    color: #761f00;
    padding: 1em 2em;
    white-space: pre;
    letter-spacing: 0;
    overflow: auto;
}

.ui-dialog.sauce-dialog.sauce-big-data label {
    display: inline-block;
    margin: 0 0.3em 0.5em;
}

.ui-dialog.sauce-dialog.sauce-big-data label input {
    margin-right: 0.15em;
    margin-top: 0.2em;
    zoom: 1.2;
}

.ui-dialog.sauce-dialog .ui-dialog-titlebar {
    min-height: 0;
    background-image: linear-gradient(180deg, #c4644e 0%, #b43719 50%, #912f1a 100%);
    color: #fff;
    padding: 0.5em 0.5em;
}

.ui-dialog.sauce-dialog .ui-dialog-titlebar .ui-dialog-title svg {
}

.ui-dialog.sauce-dialog .ui-dialog-title {
    font-size: 16px;
}

.ui-dialog.sauce-dialog .ui-dialog-titlebar-close {
    top: 5px;
}

.ui-dialog.sauce-dialog .ui-dialog-buttonpane {
    margin: 0;
    padding: 0.4em;
}

/* Fix strava's dialog button padding. */
.ui-dialog.sauce-dialog .ui-dialog-buttonpane button {
    min-height: unset;
    border-radius: 0.25em;
    padding: 0.3em 0.6em;
    margin: 0.3em;
    font-size: 0.85em;
}

.sauce-inline-comments {
    max-height: 300px;
    overflow: auto;
}

.sauce-inline-comments:not(:empty) {
    margin-top: 0.5em;
    border-top: 1px solid #e5e5e5;
}

.sauce-comment-holder {
    padding: 0.4em 0.6em;
    margin-bottom: 0.2em;
    display: flex;
    border-radius: 0.28em;  /* for hover */
}

.sauce-comment-holder:last-child {
    margin-bottom: 0;
}

.sauce-comment-holder:hover {
    background-color: #00000009;
}

.sauce-comment-holder a.sauce-athlete {
    display: block;
    margin-top: 0.2em;
    margin-right: 0.5em;
}

.sauce-comment-holder a.sauce-athlete img {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.sauce-comment-holder .sauce-comment {
    flex: 1 100%;
}

.sauce-comment-holder .sauce-comment p {
    font-size: .85em;
    margin: 0;
}

.sauce-comment-holder .sauce-header {
    font-size: 0.75em;
    color: #666;
}

.sauce-new-comment {
    margin-top: 0.5em;
    border-top: 1px solid rgba(255, 123, 123, 0.46);
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
}

.sauce-new-comment input {
    height: auto !important;
    font-size: 10px !important;
    padding: 4px;
    width: 300px;
}

.sauce-new-comment .sauce-label {
    font-size: 0.8em;
}

.sauce-new-comment button {
    padding: 6px 8px;
    font-size: 10px;
    min-height: initial;
}

.actions-menu img.sauce-icon {
    width: 1.8em;
    margin-right: 0.3em;
    vertical-align: bottom;
    opacity: 0.7;
    transition: opacity 100ms;
}
.actions-menu li:hover img.sauce-icon {
    opacity: 1;
}

.actions-menu li.sauce.first {
    border-top: 1.5px solid #ff4400;
}
.actions-menu li.sauce.last {
    border-bottom: 1.5px solid #ff4400;
}

.sauce-rank-widget {
    padding: 1em;
    margin: 1em;
    border-radius: 0.25em;
    background: #c3c3c3;
}

.sauce-rank-widget .rank-graph {
    padding-top: 1em;
}

.ui-dialog footer {
    margin-top: 1em;
    font-size: 0.9em;
}

.rank_badge {
    cursor: pointer;
}

abbr.unit {
    margin-left: 0.1em;
    font-size: 0.88em;
}

.sauce-analysis-stats:empty {
    box-sizing: border-box;
}

.sauce-analysis-stats:empty {
    display: none;
}

.sauce-analysis-stats .sauce-brand-sidebar {
    width: 120px; /* Must match hard code chart SIDEBAR_WIDTH */
    display: flex;
    position: relative;
}

.sauce-analysis-stats .sauce-brand-sidebar .sauce-beta {
    position: absolute;
    top: -0.6em;
    left: -0.4em;
}

.sauce-analysis-stats .sauce-brand-sidebar .sauce-logo {
    flex-basis: 3em;
    margin-left: 0.8em;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo_vert_48x128.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: 1em 0;
}

.sauce-analysis-stats .sauce-brand-sidebar .sauce-label {
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
    font-size: 1.1em;
    text-shadow: 1px 1px 3px #0002;
    line-height: 1.2em;
    color: #222;
}

.sauce-analysis-stats {
    display: flex;
    font-size: 0.9em;
    border-top: 1.5px solid #ff4400;
    border-bottom: 1.5px solid #ff4400;
    margin-right: 68px; /* Match strava's hard coded values */
}

.sauce-analysis-stats .sauce-data-tuple {
    position: relative;
    padding-right: 1em;
    margin: 0.5em 0;
}

.sauce-analysis-stats .sauce-data-tuple:not(:last-child) {
    border-right: 1px solid #ff440080;
}

.sauce-analysis-stats .sauce-data-tuple:not(:first-child) {
    margin-left: 1em;
}

.sauce-analysis-stats .sauce-data-tuple line {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 0.90em;
}

.sauce-analysis-stats .sauce-data-tuple line.heading {
    font-size: 0.95em;
}

.sauce-analysis-stats .sauce-data-tuple line:not(.heading) {
    font-size: 0.92em;
}

.sauce-analysis-stats .sauce-data-tuple line:not(.heading) key::before {
    content: '•';
    font-weight: bold;
    margin: 0 0.2em;
}

.sauce-analysis-stats .sauce-data-tuple line key:not(:empty)::after {
    content: ':';
    margin: 0 0.1em;
}

.sauce-analysis-stats .sauce-data-tuple line.heading key {
    font-weight: bold;
}

.sauce-analysis-stats .sauce-data-tuple line key {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sauce-analysis-stats .sauce-data-tuple line value {
    display: block;
    margin-left: 0.2em;
    white-space: nowrap;
}

.sauce-beta {
    font-size: 0.7em;
    line-height: 1.3em;
    padding: 0 0.3em;
    background-color: #3364b6 !important;
    color: white !important;
    border-radius: 0.24em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
}


/*
 * <label class="sauce-switch">
 *     <input type="checkbox">
 *     <span class="sauce-slider"></span>
 * </label>
 */
.sauce-switch {
    position: relative !important;
    display: inline-block !important;
    width: 1.75em !important;
    height: 1em !important;
    line-height: 1.15em !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Hide default HTML checkbox */
.sauce-switch input {
    opacity: 0 !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    line-height: 0 !important;
    margin: 0 0.2em;
}

.sauce-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 400ms;
    border-radius: 1em;
}

.sauce-slider::before {
    position: absolute;
    content: "";
    height: 0.765em;
    width: 0.765em;
    left: 0.1176em;
    bottom: 0.1176em;
    background-color: white;
    transition: 400ms;
    border-radius: 50%;
}

input:checked + .sauce-slider {
    background-color: #2196F3;
}

input:focus + .sauce-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sauce-slider::before {
    transform: translateX(0.765em);
}
