@media only screen and (max-width: 768px) {
    body > .view {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    body > .view > .page.container {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1 1 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        min-height: initial !important;
    }

    body > .view > .page.container nav.sidenav {
        order: -1; /* place at top */
        position: static;
        margin: 0;
        width: 100%;
    }

    body > .view > .page.container nav.sidenav #sauce-infopanel {
        margin: 0;
        font-size: 1.2em;
    }

    body > .view > .page.container nav.sidenav #sauce-infopanel td {
        padding: 0.6em 0;
        width: 50%;
        text-align: center;
    }

    body > .view > .page.container nav.sidenav #sauce-infopanel .sauce-title-menu .selection,
    body > .view > .page.container nav.sidenav #sauce-infopanel .sauce-title-menu ul li a {
        font-size: 1.1em;
        padding: 0.8em;
    }

    .ui-dialog.sauce-dialog.sauce-info-dialog {
        width: 100vw !important;
        height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        font-size: 1.3em;
    }

    .ui-dialog.sauce-dialog.sauce-info-dialog table td {
        padding-top: 0.85em;
        padding-bottom: 0.85em;
    }

    body > .view > .page.container #pagenav {
        display: flex;
        margin: 0;
    }

    body > .view > .page.container #pagenav li {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center; /*for submenus*/
    }

    body > .view > .page.container #pagenav li > * {
        padding: 0.5em;
    }

    body > .view > .page.container #pagenav li.group > ul {
        display: none;
    }

    body > .view > .page.container #pagenav li.group:hover > ul {
        display: flex;
        position: absolute;
        background: white;
        z-index: 100;
        box-shadow: 1px 1px 5px #0004;
        padding: 0 0.8em;
        top: 3em;
        right: 0;
        width: 100vw;
        box-sizing: border-box;
    }

    body > .view > .page.container #pagenav li.group > ul li {
        padding: 0.4em 0;
    }

    body > .view > .page.container #pagenav li.selected > a {
        box-shadow: initial;
        background: none;
        color: white;
    }

    body > .view > .page.container #pagenav li.selected {
        box-shadow: inset 0 0 10px #0004;
        background: #fc5200;
    }

    body > .view > footer {
        display: none;
    }

    header#global-header nav.nav-bar {
        min-width: initial;
        display: flex;
        margin: 0;
        padding: 0;
    }

    header#global-header nav.nav-bar .branding {
        margin-left: 1em;
    }
    header#global-header nav.nav-bar.search-mode .branding {
        display: none;
    }

    header#global-header nav.nav-bar .btn-mobile-menu {
        display: none !important;
    }

    header#global-header nav.nav-bar #global-search-filter {
        display: none;
    }
    header#global-header nav.nav-bar.search-mode #global-search-filter {
        display: initial;
    }

    header#global-header nav.nav-bar #global-search-field {
        width: 3em; /* must have some width becaues it's a click target */
    }
    header#global-header nav.nav-bar.search-mode #global-search-field {
        width: 100%;
    }

    header#global-header nav.nav-bar.search-mode .user-nav {
        display: none;
    }

    header#global-header nav.nav-bar.search-mode #global-search-button {
        right: 32px;
    }

    header#global-header nav.nav-bar #global-search-bar {
        position: static;
        float: initial;
    }
    header#global-header nav.nav-bar.search-mode #global-search-bar {
        flex: 1 1 100%;
    }

    header#global-header nav.nav-bar.search-mode #global-search-bar .input-group {
        overflow: hidden;
        max-width: 30em;
    }

    header#global-header nav.nav-bar #global-search-cancel {
        position: static;
        transform: initial;
    }

    header#global-header nav.nav-bar #global-search-bar .dropdown button {
        padding: 0 0.8em;
        min-width: initial;
    }

    header#global-header nav.nav-bar #container-nav {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
    }

    header#global-header nav.nav-bar .global-nav.nav-group {
        display: none;
    }

    header#global-header .user-nav {
        float: initial;
    }

    header#global-header .user-nav .upload-menu {
        display: none;
    }


    #heading > header {
        padding: 0;
    }

    #heading > header h2 {
        font-size: 1.1em;
        padding: 0 0.5em;
    }

    #heading > header .social {
        margin-right: 0;
    }

    #heading > header .give-kudos span.kudo.title {
        display: none;
    }

    #heading .activity-summary-container {
        flex-direction: column;
    }

    #heading .activity-summary-container .details-container .avatar {
        width: 6rem;
        height: 6rem;
    }

    #heading .activity-summary-container .details {
        padding-left: 7rem;
        padding-bottom: 0;
    }

    #heading .activity-summary-container .details .activity-name {
        font-size: 1.3em;
        line-height: 1.2em;
        margin-top: 0.6em;
    }

    #heading .activity-summary-container::before {
        content: none;
        display: none;
    }

    #heading .activity-summary-container .activity-summary,
    #heading .activity-summary-container .activity-stats {
        width: 100%;
    }

    #heading footer .footer-achievements-title {
        display: none;
    }

    #heading footer .footer-achievements-list {
        float: none;
        width: 100%;
    }

    #view {
        margin: 0;
    }

    #view .sauce-analysis-stats {
        flex-wrap: wrap;
        font-size: 1em;
        margin: 0;
        justify-content: space-evenly;
    }

    #view .sauce-analysis-stats .sauce-brand-sidebar {
        flex: 1 1 100%;
        padding: 0.8em;
    }

    #view .sauce-analysis-stats .sauce-brand-sidebar .sauce-label {
        font-size: 1.1em;
    }

    #view .sauce-analysis-stats .sauce-brand-sidebar .sauce-label br {
        display: none;
    }

    #view .sauce-analysis-stats .sauce-data-tuple {
        font-size: 1.2em;
        padding: 0.5em 0.8em;
        box-shadow: 1px 1px 5px #0002;
        border: none;
        border-radius: 0.25em;
        margin: 0 0.3em 0.85em;
    }
}
