/* Override Strava CSS for enhanced usability. */

.sauce-enabled #basic-analysis text.static-label-box.label,
.sauce-enabled #basic-analysis text.laps-label,
.sauce-enabled #basic-analysis text.segments-label {
    fill: #555 !important;
}

.sauce-enabled #basic-analysis text.static-label-box.detail {
    fill: #222 !important;
    font-size: 11px;
}

.sauce-enabled #basic-analysis #effort-detail {
    color: #222 !important;
}

/* hide broken dialog titlebar button */
.sauce-enabled .ui-dialog-titlebar button.ui-dialog-titlebar-close {
    display: none;
}

.sauce-enabled .main .feed-container .feed {
    display: flex;
    flex-direction: column;
}

.sauce-enabled img.sauce-rank {
    margin-left: 0.8em;
    width: 3.5em;
    opacity: 0.8;
    object-fit: contain;
    transition: opacity 200ms;
}

.sauce-enabled img.sauce-rank:hover {
    opacity: 1;
}

.card.hidden-by-sauce {
    display: none !important;
}

.sauce-enabled table.segments .sauce-rank-holder,
.sauce-enabled table.hidden-segments .sauce-rank-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
