@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html {
    box-sizing: border-box;
    color: #111;
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #f3f0ee;
}

html.popup {
    body {
        font-size: 0.85em;
        width: 36em;
        max-width: 100%;
        height: 580px; /* chrome seems to have a max size of 600px */
        padding: 1.2em;
    }

    .not-popup-only {
        display: none;
    }
}

html:not(.popup) {
    body {
        max-height: 100%;
    }

    .popup-only {
        display: none;
    }
}

html {
    &:not(.moz-extension) .moz-only,
    &:not(.chrome-extension) .chrome-only,
    &:not(.safari-web-extension) .safari-only,
    &:not(.edge) .edge-only,
    &.moz-extension .not-moz,
    &.chrome-extension .not-chrome,
    &.safari-web-extension .not-safari,
    &.edge .not-edge {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    html:not(.popup) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #222;
        padding: 1em;

        body {
            font-size: 0.92em;
            padding: 1.2em;
            border-radius: 0.22em;
            box-shadow: 1px 1px 8px #fff5;
        }
    }
}

button {
    cursor: pointer;
    color: #222;
    background-image: linear-gradient(180deg, #eee8, #aaa4, #4445);
    border-radius: 0.2em;
    border: 1px solid #333;
    padding: 0.3em 1em;
    margin: 0.1em 0.4em;
    transition: box-shadow 100ms;
    font: inherit; // Undo user-agent overrides.
}

button:hover {
    box-shadow: 1px 1px 3px #0006;
}

button:active {
    box-shadow: inset 1px 1px 3px #0006;
}

button.green {
    background-color: #07a51d;
    color: white;
}

button.red {
    background-color: #d41111;
    color: white;
}

body.loading {
    pointer-events: none;
    opacity: 0.5;
}


body.disabled .whenEnabled {
    display: none;
}

body:not(.disabled) .whenDisabled {
    display: none;
}

body.disabled main {
    opacity: 0.5;
}

main {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    overflow: auto;
}

section {
    flex: 0 0 auto;  // Required for Safari
    display: flex;
    flex-direction: column;
}

section:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.desc {
    color: #555;
    margin: 0.4em 0 0.5em;
    max-width: 68ch;
}

a {
    color: #ff4000;
}

.saucey {
    font-family: 'Permanent Marker';
}

header {
    flex: 0 0 auto;  // Required for Safari
    padding-bottom: 0.8em;
    border-bottom: 1.5px solid #ff4000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        left: 1em;
        top: 0;
        max-width: 5em;
        max-height: 100%;
        transform: rotate(-30deg);
        padding: 0.4em;
    }

    .title {
        font-family: 'Permanent Marker';
        color: #222;
        margin: 0;

        sup {
            font-size: 0.4em;
        }
    }
    .sub-title {
        text-transform: uppercase;
        font-weight: 900;
        color: #ff4000;
        font-size: 1em;
        margin: 0;
    }
}

.dismiss {
    background-image: url(/images/fa/window-close-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.25em;
    height: 1.25em;
    opacity: 0.6;
    cursor: pointer;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
}
.dismiss:hover {
    opacity: 1;
}

h4, h3 {
    margin: 0.5em 0;
}

footer {
    background-color: #e1e1e1;
    border-radius: 0.22em;
    border-top: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons > * {
    display: flex;
}

.buttons > a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

td.label {
    text-align: right;
    padding: 8px 4px;
    font-size: 1.1em;
}

td .error:empty {
    display: none;
}

td .error {
    color: darkred;
}

.actions {
    border-top: 1px solid #eee;
    padding: 0.4em 0 1em;
}

.actions h4 {
    color: #333;
    margin: 0.8em 0;
}

body.disabled .actions {
    opacity: 0.4;
    pointer-events: none;
}


