@use 'theme';

@keyframes shakeanim {
    0% {
        transform: translateX(0) rotate(0);
    }
    15% {
        transform: translateX(-0.2em) rotate(-10deg);
    }
    30% {
        transform: translateX(0.2em) rotate(10deg);
    }
    45% {
        transform: translateX(-0.2em) rotate(-10deg);
    }
    60% {
        transform: translateX(-0.2em) rotate(10deg);
    }
    75% {
        transform: translateX(-0.2em) rotate(-10deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

.sauce-analysis-stats {
    display: flex;
    overflow: hidden;
    font-size: 0.9em;
    border-top: theme.$border;
    border-bottom: theme.$border;

    &:empty {
        box-sizing: border-box; // this is a bug  maybe root element? XXX
        display: none;
    }

    .sauce-brand-sidebar {
        padding-right: 1.5em;
        display: flex;
        position: relative;

        .sauce-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3em 0.8em;
            margin-left: 1em;

            img {
                transform: rotate(-20deg);
                max-width: 3.5em;
                max-height: 3.5em;
                font-size: inherit;
            }

            &:active {
                animation: shakeanim 600ms infinite;
            }
        }

        .sauce-label {
            flex: 1 1 auto;
            align-self: center;
            font-size: 1.1em;
            text-shadow: 1px 1px 3px #0001;
            line-height: 1.2em;
            color: #222;
        }
    }

    .sauce-data-tuple {
        display: flex;
        flex-direction: column;
        padding-right: 1em;
        margin: 0.5em 0;

        &.vcentered {
            justify-content: center;
        }

        &:not(:last-child) {
            border-right: theme.$thin-border;
        }

        &:not(:first-child) {
            margin-left: 1em;
        }

        line {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            font-size: 0.90em;

            &.heading {
                font-size: 0.95em;

                key {
                    font-weight: bold;
                }
            }

            &:not(.heading) {
                font-size: 0.92em;

                key::before {
                    content: '•';
                    font-weight: bold;
                    margin: 0 0.2em;
                }
            }

            key:not(:empty)::after {
                content: ':';
                margin: 0 0.1em;
            }

            key {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            value {
                display: block;
                margin-left: 0.2em;
                white-space: nowrap;
            }
        }

        .rank_badge {
            max-height: 3em;
            object-fit: contain;
        }
    }
}
