@use 'defines';
@use 'color';

@keyframes pournshake {
    0%,
    60%,
    100% { transform: translate(0, 0)           rotate(0)      scale(1);   }
    30%  { transform: translate(0, 0)           rotate(180deg) scale(1.2); }
    32%  { transform: translate(0.2em, 0.2em)   rotate(185deg) scale(1.2); }
    34%  { transform: translate(-0.2em, 0)      rotate(175deg) scale(0.8); }
    36%  { transform: translate(0.2em, 0.1em)   rotate(180deg) scale(1.2); }
    38%  { transform: translate(-0.2em, -0.2em) rotate(185deg) scale(0.8); }
    40%  { transform: translate(0.2em, 0.2em)   rotate(185deg) scale(1.2); }
    42%  { transform: translate(-0.2em, 0)      rotate(175deg) scale(0.8); }
    44%  { transform: translate(0.2em, 0.1em)   rotate(180deg) scale(1.2); }
    46%  { transform: translate(-0.2em, -0.2em) rotate(185deg) scale(0.8); }
}

.sauce-analysis-stats {
    display: flex;
    overflow: hidden;
    font-size: 0.96em;
    border-top: var(--sauce-border);
    border-bottom: var(--sauce-border);
    width: defines.$basic-analysis-width;

    $vpad: 0.5rem;

    &:empty {
        display: none;
    }

    .sauce-brand-sidebar {
        padding: $vpad 1.2em;
        display: flex;
        flex-direction: column;

        .sauce-logo {
            display: flex;
            justify-content: center;
            opacity: 0.85;

            img {
                transform: rotate(-20deg);
                max-width: 3.2em;
                max-height: 3.2em;
                font-size: inherit;
            }

            &:hover {
                animation: pournshake 6s infinite ;
                opacity: 1;
            }
        }

        .sauce-label {
            font-size: 1.1em;
            text-shadow: 1px 1px 3px #0001;
            line-height: 1.2;
            color: color.shade(accent, 10%);
        }
    }

    .sauce-data-tuple {
        display: flex;
        flex-direction: column;
        padding-right: 1em;
        margin: $vpad 0;

        &:not(:last-child) {
            border-right: var(--sauce-thin-border);
        }

        &:not(:first-child) {
            margin-left: 1em;
        }

        line {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            font-size: 0.90em;

            &.heading {
                font-size: 0.95em;

                key {
                    font-weight: bold;
                }
            }

            &:not(.heading) {
                font-size: 0.92em;

                key::before {
                    content: '•';
                    font-weight: bold;
                    margin: 0 0.2em;
                }
            }

            key:not(:empty)::after {
                content: ':';
                margin: 0 0.05em;
            }

            key {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            value {
                display: block;
                margin-left: 0.2em;
                white-space: nowrap;

                sup {
                    font-size: 0.8em;
                }
            }
        }

        .sauce-rank {
            max-height: 3em;
            object-fit: contain;
            padding: 0.5em;
        }
    }
}
