.ui-dialog.sauce-dialog.sauce-bubble {
    //position: absolute;
    //z-index: 10000;

    .ui-dialog-titlebar {
        display: none;
    }

    .ui-dialog-content {
        width: 100px;
        height: 100px;
    }
}
