@use 'animations';
@use 'color';

@mixin uniform {
    .btn {
        transition-property: filter, background-color, color, box-shadow, opacity, border-color;
        transition-duration: 150ms;

        &:hover {
            filter: brightness(1.10);
        }

        &:focus {
            outline: none;
        }

        &.btn-unstyled.btn-icon-only {
            opacity: 0.75;
            min-width: initial;
            padding: 0.25em;

            &:hover {
                opacity: 1;
                filter: drop-shadow(1px 1px 2px #0003);
            }

            &:active {
                filter: brightness(0.9);
            }
        }


        &:not(.btn-unstyled):not(.btn-primary):not(.btn-secondary) {
            background-color: color.get(bg);
            border: 1px solid color.shade(fg, 20%, 0.2);

            &:hover {
                border-color: color.get(fg, 0.5);
            }
        }

        &:not(.btn-unstyled) {
            &.btn-block {
                display: flex;
            }

            &:hover {
                box-shadow: 1px 1px 1px #0005;
                border-color: transparent;
            }

            &:active {
                box-shadow: 0 0 4px 3px #0004 inset;
                border-color: #0003 !important;
            }
        }

        > svg[data-icon] {
            height: 1.4em;
            margin: -0.2em 0.2em;
        }

        &.btn-icon-only > svg[data-icon] {
            margin: -0.2em 0;
        }

        &.btn-icon-right {
            > svg[data-icon] {
                margin-right: -1em;
                margin-left: 1em;
            }

            &.btn-sm {
                > svg[data-icon] {
                    margin-right: 0;
                }
            }
        }

        &.sauce-loading {
            svg[data-icon] {
                display: none;
            }

            &.btn-primary,
            &.btn-secondary {
                &::before,
                &::after {
                    filter: invert(1);
                }

                &.btn-outline:not(:hover) {
                    &::before,
                    &::after {
                        filter: initial;
                    }
                }
            }

            &::before,
            &::after {
                width: 1.8em;
                margin: -0.5em 0.5em -0.5em;
                line-height: 0;
                animation: rotation 3s infinite steps(30 * 3);
            }
            &.btn-sm,
            &.btn-xs {
                &::before,
                &::after {
                    width: 1.4em;
                }
            }

            &:not(.btn-icon-right)::before {
                content: url(../../images/fa/spinner-third-duotone.svg);
                margin-left: 0;
            }
            &.btn-icon-right::after {
                content: url(../../images/fa/spinner-third-duotone.svg);
                margin-right: 0;
            }
        }

        &.sauce-busy {
            cursor: wait;
        }
    }

    .btn-group {
        &.btn-group-justified {
            border-collapse: initial;  // Fixes border-radius
        }
    }

    .sauce-swapped-background {
        .btn:not(.btn-unstyled) {
            background-color: color.shade(bg, 10%) !important;
            border-color: color.shade(bg, 20%, 0.5);
            color: color.shade(fg, 10%) !important;


            &.btn-secondary {
                background-color: color.shade(fg, 25%) !important;
                border-color: color.shade(fg, 20%, 0.5);
                color: color.shade(bg, 10%) !important;

                &:hover,
                &:focus {
                    border-color: color.shade(fg, 20%, 0.5);
                }
            }

            &:hover,
            &:focus {
                border-color: color.shade(bg, 20%, 0.5);
            }
        }
    }
}
