// Hard coded strava values.
$global-header-height: 55px;
$analysis-heading-height: 45px;
$analysis-sidenav-width: 154px;
$analysis-page-sidenav-width: 154px;
$analysis-page-left-pad: 195px;
$analysis-page-right-pad: 16px;
$basic-analysis-width: 966px;

$sauce-primary-color: #ff4400;
$sauce-border: 1.5px solid $sauce-primary-color;
$sauce-thin-border: 1px solid rgba($sauce-primary-color, 0.5);
