// Hard coded strava values.
$global-header-height: 55px;
$analysis-heading-height: 45px;
$analysis-sidenav-width: 154px;
$analysis-page-left-pad: 195px;
$analysis-page-right-pad: 16px;
$basic-analysis-width: 966px;
