$basic-analysis-width: 966px; // Strava's hard coded width (overriden in responsive mode)
$analysis-heading-height: 45px; // Strava's hard coded value
$analysis-sidenav-width: 154px; // Strava's hard coded value
