@use 'defines';
@use 'color';
@use 'perf_predictor';
@use 'live_segment';
@use 'trailforks';
@use 'peaks_settings';
@use 'data_views';
@use 'sync';
@use 'buttons';


// Use more specific selector to avoid race with application-xyz.css that strava loads
// at the same time as us.  Load order varies.
html .ui-dialog {
    background: transparent;
    border: none;
    font-size: 1em; // This is the default in analysis but not other pages, so we need to set it.

    &.sauce-small {
        font-size: 0.94em;

        .ui-widget-header {
            font-size: 1.1em;

            .title-label {
                padding-top: 1px; // offset bottom border
                line-height: normal;
            }
        }
    }

    .ui-widget-content,
    .ui-dialog-content {
        $bg: color.shade(bg, 3%);
        background-color: $bg;
        border-color: color.shade(bg, 12%);

        ul.tabs li.selected {
            background-color: $bg;

            .tab {
                background-color: transparent;
            }
        }
    }

    .ui-widget-header {
        border-color: color.shade(bg, 20%);
    }

    // Copy from analysis page so behavior is same elsewhere (perf page)
    form {
        > button,
        > input[type="submit"],
        form > input[type="button"] {
            margin-top: 10px;
        }
    }
}

.ui-dialog.sauce-dialog {
    outline: none;
    margin: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    border-radius: 0.22em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: inherit;  /* use strava font, not jquery */
    max-width: calc(100vw - (100vw - 100%));  // full viewport minus possible scrollbar
    max-height: calc(100vh - (100vh - 100%)); // full viewport minus possible scrollbar
    box-sizing: border-box;
    line-height: normal;
    color: color.shade(fg, 16%);

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    @include buttons.uniform;

    .ui-dialog-titlebar,
    .ui-dialog-buttonpane {
        flex: 0 0 auto;
    }

    .ui-dialog-buttonpane  .ui-dialog-buttonset {
        button,
        .btn {
            min-height: 34px;  // equalize all pages (perf in particular)

            svg[data-icon] {
                width: 1em;
                margin-left: 0.44em;
            }

            &.btn-icon-only {
                svg[data-icon] {
                    width: 1.2em;
                    margin: 0;
                }
            }
        }
    }

    .ui-dialog-content {
        flex: 1 1 auto;
        overflow: auto;
        flex-direction: column;
        width: auto !important; /* override element styling during moves */

        &.flex {
            display: flex !important;
        }
    }

    header {
        margin: 0.5em 1em;
        border-bottom: var(--sauce-thin-border);
    }

    &.sauce-big-data {
        max-width: 90vw;
        max-height: calc(100vh - 4em);

        .ui-dialog-content {
            padding: 0;
        }

        pre {
            padding: 1em 2em;
            white-space: pre;
            letter-spacing: 0;
        }

        label {
            display: inline-block;
            margin: 0 0.3em 0.5em;

            input {
                margin-right: 0.15em;
                margin-top: 0.2em;
            }
        }
    }

    &.no-pad .ui-dialog-content {
        padding: 0;
    }

    .padded-info {
        padding: 1rem;
        margin: 0;
    }

    .overflow {
        overflow: auto;
    }

    a:focus {
        outline: none;
    }

    a.help-info {
        float: right;
        width: 1.1em;
        height: 1.1em;
        margin: 0.25em 0 0.35em 0.35em;
        color: color.get(fg);
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 200ms;

        &.hidden {
            display: none;
        }

        &:hover {
            opacity: 1;
        }
    }

    .help {
        background-image: linear-gradient(to bottom,
                                          color.shade(accent3, 10%),
                                          color.get(accent3));
        color: color.shade(accent3, 60%);
        padding: 1em;
        margin: 0.4em 0 1em;
        border-radius: 0.5em;
        position: relative;
        font-size: 0.85em;

        &:not(.visible) {
            display: none;
        }

        a {
            color: color.get(accent2);
        }

        a.sauce-dismiss {
            float: right;
            margin-right: -0.5em;
            margin-top: -0.5em;
            cursor: pointer;
            opacity: 0.9;
            transition: opacity 200ms;

            &:hover {
                opacity: 1;
            }

            svg[data-icon] {
                color: white;
                width: 1em;
            }
        }

        &::after {
            content: '';
            border-color: color.get(accent3) transparent transparent transparent;
            border-width: 0.5em 0.5em 0 0.5em;
            border-style: solid;
            position: absolute;
            bottom: -0.48em;  // firefox subpixel rendering is buggy, subtract 0.02em to avoid lines.
            left: 1em;
        }

        table {
            margin: 0 1em;

            td:first-child {
                white-space: nowrap;
                font-weight: bold;
                padding-right: 1em;
            }
        }
    }

    form.sauce-key-value {
        padding-bottom: 1.2em;

        &.sauce-vertical {
            key,
            value {
                display: flex;
                width: 100%;
            }

            value input {
                flex: 1 1 100%;
            }

            value input + span {
                font-size: 0.88em;
                margin-left: 0.5em;
                flex: 0 0 auto;
                min-width: 4.5ch;
                text-align: center;
            }
        }

        label {
            display: inline-block;
            padding: 0.5em 0.2em;
            margin: 0;
        }

        .entry {
            padding: 0.5rem 1rem;
            position: relative;

            &.flex {
                display: flex;

                key {
                    flex: 0 0 auto;
                }
            }

            &.collapsable {
                min-height: 2em;
                padding-top: 0.4em !important;
            }

            > a.help-info {
                float: initial;
                position: absolute;
                top: 0.2em;
                right: 1rem;
            }

            .indent {
                display: flex;
                flex-direction: column;
            }
        }

        > .entry:nth-of-type(odd) {
            background-color: color.shade(bg, 5%);
        }

        key {
            width: 16ch;
            display: inline-block;
            word-break: break-all;
        }

    }

    input:not([type="range"]) {
        top: revert; // reset strava
        width: revert; // reset strava
        vertical-align: middle;
        background-color: color.shade(bg, 0%);
        border: 1px solid color.shade(bg, 14%);
        border-radius: 0.24em;
        padding: 0.24em 0.5em;
        line-height: normal;
        height: initial;

        &:invalid {
            border: 1px dashed var(--sauce-negative);
        }

        &::placeholder {
            opacity: 0.8;
        }

        &:focus {
            border-color: color.shade(accent4, -10%);
        }
    }

    select {
        border-radius: 0.22em;
        padding: 0.25em 0.5em;
        margin: 0;
        top: initial;
        height: auto;
    }

    // Reset firefox number input arrows to look like normal text input
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield;
    }

    // Bit of a hack, but the calender widget on chrome is currently too tall because the
    // icon below is too big.  This makes it the same height as a normal text input.
    // Tested on linux and mac.
    input[type="date" i]::-webkit-calendar-picker-indicator {
        height: 0.8em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

    @include perf_predictor.dialog;
    @include live_segment.dialog;
    @include trailforks.dialog;
    @include sync.dialog;
    @include peaks_settings.dialog;

    .ui-dialog-titlebar {
        min-height: 0;
        background-image: linear-gradient(180deg,
                                          #{color.shade(accent, -8%)} 0%,
                                          #{color.shade(accent, -20%)} 100%);
        padding: 0.4em 0.7em;

        .ui-dialog-title {
            color: color.shade(accent, 70%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;

            .title-label {
                flex: 1 1 auto;
            }

            .title-icon {
                flex: 0 0 auto;
                display: flex;

                img, svg {
                    height: 1.2em;
                    object-fit: contain;
                }
            }
        }
    }

    .ui-widget-header {
        font-size: 1.1em;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog-buttonpane {
        margin: 0;
        padding: 0.4em;
    }

    .ui-dialog-buttonpane {
        button,
        .btn {
            border-radius: 0.25em;
            padding: 0.5em 0.8em;
            margin: 0.3em;
            font-size: 0.85em;
        }
    }

    footer {
        margin-top: 1em;
        font-size: 0.9em;
    }

    &.sauce-updated {
        header {
            display: flex;
            justify-content: space-between;
            color: color.get(accent4);
            font-weight: bold;
        }

        ul.notes {
            &,
            li {
                padding: revert;
                margin: revert;
                list-style: revert;
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .ui-dialog.sauce-dialog {
        width: 100vw !important;
        height: 100vh !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        font-size: 1.2em;
        border: none;
        border-radius: 0;

        .ui-dialog-buttonpane {
            font-size: 1.1em;
        }

        .ui-resizable-handle {
            display: none !important;
        }

        form.sauce-key-value {
            .entry {
                &.mutable-data-view {
                    margin: 1em 0 !important;
                    border: none !important;
                    border-radius: 0 !important;
                    background: unset !important;

                    .mutable-data-entries {
                        max-height: initial !important;
                        padding: 1em 0 !important;

                        .mutable-data-entry {
                            padding: 0.4em 0 !important;
                        }
                    }
                }
            }
        }
    }
}
