@use 'defines';
@use 'color';


.ui-dialog {
    background: transparent;
    border: none;

    .ui-widget-content,
    .ui-dialog-content {
        background-color: color.shade(bg, 3%);
        border-color: color.shade(bg, 12%);
    }

    .ui-widget-header {
        border-color: color.shade(bg, 20%);
    }
}

.ui-dialog.sauce-dialog {
    margin: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    border-radius: 0.22em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: inherit;  /* use strava font, not jquery */
    max-width: 100vw;
    max-height: 100vh;

    .ui-dialog-titlebar,
    .ui-dialog-buttonpane {
        flex: 0 0 auto;
    }

    .ui-dialog-content {
        flex: 1 1 auto;
        overflow: auto;
        display: flex !important;
        flex-direction: column;
        width: auto !important; /* override element styling during moves */
    }

    header {
        margin: 0.5em 1em;
        border-bottom: var(--sauce-thin-border);
    }

    &.sauce-big-data {
        max-width: 90vw;
        max-height: calc(100vh - 4em);

        .ui-dialog-content {
            padding: 0;
        }

        pre {
            padding: 1em 2em;
            white-space: pre;
            letter-spacing: 0;
            overflow: auto;
        }

        label {
            display: inline-block;
            margin: 0 0.3em 0.5em;

            input {
                margin-right: 0.15em;
                margin-top: 0.2em;
            }
        }
    }

    &.sauce-perf-predictor {
        .ui-dialog-content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;
        }

        label {
            display: inline-block;
            padding: 0.5em 0.2em;
            margin: 0;
        }

        form.input {
            flex: 1 1 50%;
            max-width: 100%;
            padding: 0.8em 0 1.2em;

            p {
                padding: 1em;
                margin: 0;
            }

            .entry {
                padding: 0.25em 1.2em;

                .indent {
                    padding-left: 1em;
                }
            }

            > .entry:nth-child(odd) {
                background-color: color.shade(bg, 5%);
            }

            key {
                min-width: 16ch;
            }

            a.help-info {
                float: right;
                width: 1.1em;
                height: 1.1em;
                margin-left: 0.35em;
                margin-bottom: 0.35em;
                color: color.get(fg);
            }

            .help {
                background-image: linear-gradient(to bottom, color.shade(accent3, 10%), color.get(accent3));
                color: color.shade(accent3, 60%);
                padding: 1.2em;
                margin: 1em 1.2em 0.5em;
                border-radius: 0.5em;
                position: relative;
                font-size: 0.85em;

                &:not(.visible) {
                    display: none;
                }

                a.dismiss {
                    float: right;
                    margin-right: -0.5em;
                    margin-top: -0.5em;
                    filter: invert(1);
                }

                &::after {
                    content: '';
                    border-color: color.get(accent3) transparent transparent transparent;
                    border-width: 0.5em 0.5em 0 0.5em;
                    border-style: solid;
                    position: absolute;
                    bottom: -0.5em;
                    left: 1em;
                }

                table {
                    margin: 0 1em;

                    td:first-child {
                        white-space: nowrap;
                        font-weight: bold;
                        padding-right: 1em;
                    }
                }
            }
        }

        .output {
            font-family: sans-serif;
            background-image: linear-gradient(180deg,
                                              #{color.shade(fg, 18%)},
                                              #{color.shade(fg, -18%)} 1.5em,
                                              #{color.shade(fg, 10%)});
            color: color.shade(bg, 10%);
            padding: 1em;
            font-size: 1.1em;
            flex: 1 1 auto;
            max-width: 100%;

            @keyframes pulse {
                0%, 100% {
                    border-bottom: 2px solid transparent;
                }
                80% {
                    border-bottom: 2px solid color.get(accent3);
                }
            }

            key {
                min-width: 12ch;
                color: inherit;
            }

            label {
                color: inherit;
            }

            section {
                padding: 1em;

                &.original {
                    font-size: 0.9em;
                }

                &.predicted {
                    &.pulse {
                        animation: pulse 600ms 1;
                    }
                }

                sup.ahead-behind {
                    font-size: 0.80em;
                }
            }
        }

        key {
            display: inline-block;
        }

        input {
            vertical-align: middle;
        }

        input[type="number"] {
            height: auto;
            width: calc(7ch + 1em);
            padding: 0.2em 0.5em;
            border-radius: 0.22em;

            &:invalid {
                border-color: red;
            }

            &::placeholder {
                opacity: 0.8;
            }
        }

        select {
            border-radius: 0.22em;
            padding: 0 0.5em;
            margin: 0;
        }
    }

    .ui-dialog-titlebar {
        min-height: 0;
        background-image: linear-gradient(180deg,
                                          #{color.shade(accent, -8%)} 0%,
                                          #{color.shade(accent, -20%)} 100%);
        color: #fff;
        padding: 0.5em 0.5em;

        .ui-dialog-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;

            .title-label {
                flex: 1 1 auto;
            }

            .title-icon {
                max-width: 1.8em;
                max-height: 1.8em;
                flex: 0 1 1.8em;
                display: flex; /* constrains inner svg icons */
                flex-direction: column;
            }
        }
    }

    .ui-widget-header {
        font-size: 1.1em;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog-buttonpane {
        margin: 0;
        padding: 0.4em;
    }

    .ui-dialog-buttonpane button {
        min-height: unset;
        border-radius: 0.25em;
        padding: 0.5em 0.8em;
        margin: 0.3em 0.5em;
        font-size: 0.85em;
    }

    footer {
        margin-top: 1em;
        font-size: 0.9em;
    }
}
