
@import url('https://fonts.googleapis.com/css2?display=swap&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Permanent+Marker&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');


@font-face {
    font-family: 'MSSansSerif';
    font-weight: 400;
    src: url('fonts/MSSansSerif.woff2') format("truetype");
}

@font-face {
    font-family: 'I drawed this v2';
    font-weight: 400;
    src: url('fonts/Idrawedthis_v2.woff2') format("truetype");
}


:root.sauce-enabled {
    &.sauce-font-custom-family body {
        font-family:
            var(--sauce-font-custom-family),
            "Boathouse",
            "Segoe UI",
            "Helvetica Neue",
            -apple-system,
            system-ui,
            BlinkMacSystemFont,
            Roboto,
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Material Icons";

        [class*="StravaMentionsInput--body--"],
        .sauce-new-comment {
            textarea {
                font-family: unset; // Fix for @mentions overlay 
                font-size: unset; // Fix for @mentions overlay 
            }
        }
    }

    &.sauce-font-custom-size {
        &,
        body {
            font-size: var(--sauce-font-custom-size);
        }
    }
}
