@use 'color';

.history-view {
    input {
        background-color: transparent;
        border: 1px solid color.shade(bg, 14%);
        padding: 0.28em 0.4em;
        border-radius: 0.22em;
        line-height: normal;
        height: initial;

        &:invalid {
            border: 1px dashed red;
        }
    }

    input[type="number"] {
        width: 7ch;
        text-align: right;
    }

    input[type="date"] {
        width: auto;
    }

    .history-header {
        padding: 0.6em 1em 0.2em 1em;
    }

    .history-footer {
        padding: 0 1em;

        button {
            display: flex;
            margin: 0.6em 0;
        }
    }

    .history-entries {
        padding: 0.4em 0;
        margin-bottom: 0.2em;
        max-height: 10em;
        overflow: auto;

        .history-entry {
            padding: 0.1em 1.2em;
            display: flex;
            align-items: center;

            &:hover {
                background-color: color.shade(bg, 2%);
                border-radius: 0.28em;
            }

            key {
                flex: 1 0 auto;
                max-width: 16ch;
                display: inline-block;
                white-space: nowrap;

                abbr {
                    margin-right: 0.5em;
                }
            }

            value {
                flex: 1 1 auto;
                overflow: hidden;

                input[type="date"] {
                    max-width: 100%;
                }
            }
        }
    }

    &:not(.dirty) {
        .history-save.btn {
            display: none;
        }
    }

    .btn.history-entry-add,
    .btn.history-entry-delete {
        svg {
            .fa-secondary {
                color: color.shade(bg, 25%);
                opacity: 0.8;
            }
        }
    }

    .btn.history-entry-add {
        color: green !important;
    }

    .btn.history-entry-delete {
        color: red !important;
        flex: 1 0;
        display: flex;
        justify-content: flex-end;
    }
}
