@use 'color';

@mixin dialog {
    &.sauce-live-segment {
        input[type="number"] {
            width: calc(5ch + 1em);
            text-align: right;
        }

        img.self {
            width: 15em;
            padding-left: 1em;
            margin: 1em;
            float: right;
            border-radius: 0.3em;
        }
    }


    @media only screen and (max-width: 768px) {
        &.sauce-live-segment {
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            height: 100vh !important;
            width: 100vw !important;
            max-height: initial;
            max-width: initial;
            margin: 0;
        }
    }
}
