@use 'defines';
@use 'color';


@keyframes clickoutline {
    $size: 3em;

    0%   {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        box-shadow: 0 0 0 0.1em transparent;
    }
    20% {
        top: calc(50% - #{$size / 2});
        left: calc(50% - #{$size / 2});
        width: $size;
        height: $size;
        box-shadow: 0 0 0 0.2em #666a;
    }
    100% {
        top: calc(50% - #{$size / 2});
        left: calc(50% - #{$size / 2});
        width: $size;
        height: $size;
        box-shadow: 0 0 3em 0.2em #fff0;
    }
}


@mixin global {
    #global-header {
        .menu-expander {
            display: flex !important;
            flex: 0 0 auto;
            flex-direction: column;
            justify-content: center;
            width: 3.75em;
            opacity: 0.8;
            cursor: pointer;
            padding: 0 1em;
            transition: opacity 100ms;
            max-height: 70%;

            &:hover {
                opacity: 1;
            }
        }

        nav.nav-bar {
            margin: 0 !important;

            .global-nav.nav-group {
                display: none;
            }

            &.search-mode {
                .branding {
                    display: none;
                }

                .user-nav {
                    display: none;
                }

                #global-search-bar {
                    .dropdown button {
                        font-size: 1em;
                        padding: 0 1em;
                        min-width: initial;
                    }
                }
            }
        }

        .user-nav {
            .upload-menu,
            .upgrade {
                display: none;
            }

            a.nav-link.selection {
                pointer-events: none;  // Let touch open the menu instead of navigating
            }
        }
    }
}


@mixin analysis {

    .inset {
        padding: 0.8rem !important;
    }

    #global-header {
        nav.nav-bar {
            .branding {
                margin-left: 0 !important;
            }
        }
    }

    body > .view {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > .page.container {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1 1 100%;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
            min-height: initial !important;

            #sauce-infopanel {
                margin: 0;

                td {
                    padding: 0.6em 0.3em;
                    width: 50%;
                }

                .sauce-title-menu .selection {
                    background-color: color.shade(bg, 4%); // match other headings
                    border-bottom: 1px solid color.shade(bg, 15%);
                }

                .sauce-title-menu .selection,
                .sauce-title-menu ul li a {
                    font-size: 1.1em;
                    padding: 0.8em;
                }
            }

            #heading {
                .menu-expander {
                    display: flex !important;
                    flex-direction: column;
                    justify-content: center;
                    width: 1.6em;
                    opacity: 0.75;
                    cursor: pointer;
                    padding: 0 1em;
                    transition: opacity 100ms;

                    &:hover {
                        opacity: 1;
                    }
                }

                > header {
                    .social {
                        flex: 1 0 auto;
                        margin-right: 0;

                        .sharing,
                        .view-comments.button,
                        .collapse.button {
                            display: none;
                        }
                    }

                    .give-kudos span.kudo.title {
                        display: none;
                    }
                }

                .activity-summary-container {
                    .activity-stats {
                        font-size: 0.9em;  // prevent some overflow of inline stats.
                    }

                    .details-container {
                        .avatar {
                            width: 6rem;
                            height: 6rem;
                        }

                        .details {
                            padding-left: 7rem;
                            padding-bottom: 1rem;

                            .activity-name {
                                font-size: 1.3em;
                                line-height: 1.2em;
                                margin-top: 0.6em;
                            }

                            .activity-description {
                                font-size: 0.9em;
                            }
                        }
                    }

                    .others-section-v2 {
                        border: none;

                        .other-athletes div[data-react-class="ActivityTagging"],
                        .flybys {
                            display: none;
                        }
                    }
                }

                footer {
                    .footer-achievements-title {
                        display: none;
                    }

                    .footer-achievements-list {
                        float: none;
                        width: 100%;
                        padding: 0.5em 1em 0.25em;
                        margin: 0;
                    }
                }
            }

            #view {
                margin: 0;

                .sauce-analysis-stats {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .sauce-brand-sidebar {
                        grid-row: 1;
                        grid-column: 1 / 3;
                        padding: 0.3em 0 0 0.3em;

                        .sauce-label {
                            line-height: 1;
                        }

                        .sauce-logo {
                            display: none;
                        }
                    }

                    .sauce-data-tuple {
                        align-items: flex-start;

                        &:nth-child(odd) {
                            border: none;
                        }
                    }
                }

                #chart-controls {
                    font-size: 0.82em;
                }

                #map-canvas {
                    min-height: initial;
                    max-height: 20vh;
                }

                #run-efforts-table .laps {
                    min-height: initial;

                    table.laps {
                        th, td {
                            width: initial;
                        }
                    }
                }

                table.distribution-chart {
                    font-size: 0.8em;

                    tbody {
                        td {
                            padding: 0.8em 0.2em;
                        }

                        td:first-child {
                            padding-left: 0.86em;
                            padding-right: 0.86em;
                        }

                        td.name {
                            display: none;
                        }
                    }
                }
            }

            nav.sidenav {
                box-sizing: border-box;
                transition: left 200ms, visibility 200ms;
                position: fixed;
                margin: 0;
                top: defines.$global-header-height;
                left: -100vw;
                max-width: 90vw;
                visibility: hidden;
                width: initial;
                overflow: hidden auto;
                max-height: calc(100vh - #{defines.$global-header-height});
                background: white;

                ul#pagenav,
                .actions-menu .drop-down-menu > ul.options {
                    > li > a,
                    > li.group > .title,
                    > li.sauce-group > .sauce-header,
                    > li.sauce-group > ul > li > a {
                        padding: 1rem 2.5rem;
                    }

                    li.group > ul li a {
                        padding: 0.65rem 3rem 0.65rem 3.5rem;
                        font-size: 1em;  // shrink less than desktop
                    }

                    li > a {
                        position: relative;

                        &:active::after {
                            animation: clickoutline 2s;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            pointer-events: none;
                            width: 0;
                            height: 0;
                            display: block;
                            border-radius: 100%;
                            top: 50%;
                            left: 50%;
                        }
                    }
                }

                #pagenav {
                    margin: 0;
                }

                .actions-menu {
                    border: none;

                    > a.button,
                    > .slide-menu .selection {
                        height: initial;
                        padding: 0.85rem 0;
                    }

                    > a.button {
                        position: absolute;
                        z-index: 2;  // Must be over drop down menu
                        width: 50%;
                        background: white;
                        border-radius: 0;
                    }

                    .drop-down-menu {
                        min-width: 100%;
                        max-width: 16rem;
                        float: initial;
                        display: block;
                        transition: background 200ms;

                        &.active {
                            background: #333;

                            .selection .app-icon {
                                filter: invert(1);
                            }
                        }

                        &:not(:first-child) .app-icon-wrapper {
                            margin-left: 50%;
                        }

                        .selection,
                        ul.options {
                            background: transparent;
                        }

                        > ul.options {
                            position: static;
                            min-width: initial;
                            border: none;
                            margin: 0;
                            display: block;
                            overflow: hidden;
                            transition: max-height, visibility, color;
                            transition-duration: 200ms;

                            &:not(.open-menu) {
                                max-height: 0;
                                visibility: hidden;
                            }
                            &.open-menu {
                                color: white;
                                transition-duration: 400ms;
                                max-height: 200vh;  // must exceed max content height
                            }

                            li > a {
                                font-size: 1em;
                                color: inherit;
                                transition: initial;

                                &:hover {
                                    background: black;
                                }
                            }
                        }
                    }
                }
            }
        }

        > footer {
            display: none;
        }
    }

    // Starts-with match for "analysis" and "analysis-range"
    body:not([data-route|="analysis"]) {
        #sauce-infopanel {
            display: none;
        }
    }
    body[data-route]:not([data-route="overview"]) {
        #heading .collapsable.container-fluid {
            display: none !important;
        }
    }

    .ui-dialog.sauce-dialog.sauce-info-dialog {
        width: 100vw !important;
        height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        font-size: 1.2em;
        border: none;
        border-radius: 0;

        table td {
            padding-top: 0.85em;
            padding-bottom: 0.85em;
        }

        .ui-dialog-buttonpane {
            font-size: 1.1em;
        }
    }

    .sauce-nav-expanded {
        .view > .page.container nav.sidenav {
            box-shadow: 8px 8px 10px #0002;
            left: 0;
            visibility: visible;
        }
    }

    section#segments section.map-chart-container .spans8 {
        float: initial;
        width: 100%;
    }

    #pace-analysis-section,
    body[data-route="pace-zones"] #view > section,
    body[data-route="heartrate-zones"] #view > section {
        header {
            .inline-stats {
                font-size: 0.8em;
                width: initial;

                li.suffer-score {
                    margin-left: inherit;
                }
            }
        }
    }

    #pace-analysis-section {
        .main {
            min-height: initial;
        }
    }

    #segments {
        table.segments,
        table.hidden-segments {
            > thead {
                display: none;
            }

            > tbody > tr:nth-child(odd) {
                background-color: color.shade(bg, 5%);
            }

            > tbody > tr > td {
                $star-width: 3rem;
                width: initial;
                padding: 3.5rem 0.5rem 0.4rem 0;

                &.starred-col {
                    padding-top: 0 !important;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    width: $star-width;
                }

                &.achievement-col {
                    position: absolute;
                    border: none;
                    right: 0;
                    padding: 0.4rem !important;
                }

                &.name-col {
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    padding: 0.4rem 0 0 $star-width !important;
                    border: none;
                    pointer-events: none;

                    > .name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-right: 3em;
                        white-space: nowrap;
                    }
                }

                &.climb-cat-col {
                    display: none;
                }

                button.toggle-effort-visibility {
                    display: none;
                }

                .segment-effort-detail {
                    pointer-events: auto;
                    margin-top: 3rem;

                    > .content {
                        margin: 0;
                    }
                }
            }
        }

        .ride.segments-list {
            > .row .align-right {
                display: none;
            }

            table.segments,
            table.hidden-segments {
                td.time-col + td + td + td {
                    display: none;
                }
            }
        }

        .run.segments-list {
            table.segments,
            table.hidden-segments {
                > tbody > tr > td {
                    padding-top: 2rem; // name col is single row for runs.
                }
            }

            .segment-effort-detail {
                width: 100%;

                .dismiss {
                    top: 1em;
                    right: 1em;
                    width: 2em;
                    height: 2em;
                    opacity: 1;
                }
            }
        }

        > footer {
            display: none;
        }
    }

    .page-status-message {
        min-width: initial;
    }

    .lightbox-window {
        width: initial;

        .invite-lightbox {
            .sidenav,
            .invite-container {
                float: initial;
                width: initial;
            }

            .invite-container {
                .email {
                    > * {
                        float: initial;
                        width: initial;
                    }
                }

                #email-invite-load-contacts {
                    margin-top: 1em;
                }
            }
        }
    }

    // Edit page..
    body > .container.mb-xl > .row {
        flex-direction: column;

        form > .row {
            flex-direction: column;
        }

        .edit-activity-rpe-input input[name="activity[perceived_exertion]"] + div {
            flex-direction: column;
        }
    }

    footer > .footer-promos,
    footer > .footer-global {
        display: none;
    }

    #basic-analysis {
        #effort-detail {
            margin-left: 0.5em;
            font-size: 0.8em;
        }

        #stacked-chart {
            .xaxis-container text {
                fill: black;
            }

            // XXX all this is in testing...
            .labelGroup {
                text.label {
                    fill: black !important;
                    font-size: 15px;
                    transform: translateY(-17px);
                }

                text.detail {
                    fill: black !important;
                    font-size: 14px;
                    transform: translateY(-23px);
                }
            }
        }
    }

    .leaflet-container {
        pointer-events: none;

        .mapbox-container {
            pointer-events: auto;
        }
    }

    #similar-activities-section {
        #similar-activities-pinnable {
            table.efforts-table {
                display: none;  // Non-fixed widths make alignment impossible.
            }
        }

        table.efforts-table {
            $left-pad: 0.5rem;

            thead.vh {
                // Resets...
                position: initial !important;
                clip: initial;
                width: initial !important;
                height: initial !important;
                padding: inherit !important;
                margin: inherit !important;
                overflow: inherit;
                border: initial;
            }

            th, td {
                padding-bottom: 1rem !important;
                vertical-align: top;
                width: initial;
            }
            td {
                padding-top: 2.8rem !important;
            }
            th {
                max-width: 0;  // Disable use in col width calculations.
            }

            .date-column {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .name-column {
                position: absolute;
                box-sizing: border-box;
                border: none;
            }
            td.name-column {
                padding: 1rem 3rem 0 $left-pad !important;
                display: flex;
                left: 0;
                width: 100%;

                > .name {
                    color: black;
                    max-width: 100%;
                }
                > svg {
                    float: initial;
                    margin: 0 0.5em 0 0;
                }
            }
            th.name-column {
                visibility: hidden;
            }

            td, th {
                &:first-child {
                    padding-left: $left-pad !important;
                }
            }

            td.activity-column {
                padding: 0 !important;
                vertical-align: middle;

                a {
                    display: block;
                    font-size: 0;  // hide it and just use sprite.
                    opacity: 0.9;

                    &::after {
                        content: '>';
                        font-size: 1.1rem;
                        font-weight: bold;
                        line-height: 1;
                        color: #3671ff;
                        width: initial;
                        height: initial;
                        background: none;
                        margin: 0.5em;
                    }

                    &:active::after {
                        color: darkred;
                    }
                }
            }
        }
    }

    #laps #efforts-table {
        font-size: 0.85em;
    }
}

@mixin segment-compare {
    .page.container {
        width: 100%;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #leaderboard-table {
        th, td {
            padding-left: 0.4em;
            padding-right: 0.2em;
            font-size: 0.85em;
        }

        td[class*="avatar-"] {
            white-space: nowrap;

            > .minimal {
                white-space: nowrap;
            }
        }
    }

    #leaderboard-container {
        ul.tabs {
            > li {
                border: 1px solid #aaa;
                border-radius: 0.28em;
                margin: 0.2em 0.4em;

                &.selected {
                    background: #dfdfe8;
                }

                > .tab {
                    padding: 0.3em 0.8em;
                    border: none;
                    background: none;
                }
            }
        }
    }

    #leaderboard-content {
        .btn-group {
            margin: 0.5em 0;

            button {
                font-size: 0.85em;
                padding: 0.4em 0.7em;
            }
        }
    }

    #roster {
        table {
            td, th {
                padding-left: 0.5em;
                padding-right: 0.3em;
            }
        }
    }

    #scrubber {
        --action-button-width: 25px;

        .scrubber-action {
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-size: 0.5em;
        }
    }
}
