@use 'defines';


@keyframes clickoutline {
    $size: 3em;

    0%   {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        box-shadow: 0 0 0 0.1em transparent;
    }
    20% {
        top: calc(50% - #{$size / 2});
        left: calc(50% - #{$size / 2});
        width: $size;
        height: $size;
        box-shadow: 0 0 0 0.2em #666a;
    }
    100% {
        top: calc(50% - #{$size / 2});
        left: calc(50% - #{$size / 2});
        width: $size;
        height: $size;
        box-shadow: 0 0 3em 0.2em #fff0;
    }
}

@mixin analysis {
    body > .view {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > .page.container {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1 1 100%;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
            min-height: initial !important;

            #sauce-infopanel {
                margin: 0;

                td {
                    padding: 0.6em 0;
                    width: 50%;
                    text-align: center;
                }

                .sauce-title-menu .selection {
                    background-color: #f7f7fa; // match other headings
                    border-bottom: 1px solid #dfdfe8;
                }

                .sauce-title-menu .selection,
                .sauce-title-menu ul li a {
                    font-size: 1.1em;
                    padding: 0.8em;
                }
            }

            #heading {
                .menu-expander {
                    display: flex !important;
                    flex-direction: column;
                    justify-content: center;
                    width: 1.6em;
                    opacity: 0.75;
                    cursor: pointer;
                    padding: 0 1em;
                    transition: opacity 100ms;

                    &:hover {
                        opacity: 1;
                    }
                }

                > header {
                    .social {
                        flex: 1 0 auto;
                        margin-right: 0;

                        .sharing,
                        .view-comments.button,
                        .collapse.button {
                            display: none;
                        }
                    }

                    .give-kudos span.kudo.title {
                        display: none;
                    }
                }

                .activity-summary-container {
                    .details-container {
                        .avatar {
                            width: 6rem;
                            height: 6rem;
                        }

                        .details {
                            padding-left: 7rem;
                            padding-bottom: 1rem;

                            .activity-name {
                                font-size: 1.3em;
                                line-height: 1.2em;
                                margin-top: 0.6em;
                            }

                            .activity-description {
                                font-size: 0.9em;
                            }
                        }
                    }

                    .others-section-v2 {
                        border: none;

                        .other-athletes div[data-react-class="ActivityTagging"],
                        .flybys {
                            display: none;
                        }
                    }
                }

                footer {
                    .footer-achievements-title {
                        display: none;
                    }

                    .footer-achievements-list {
                        float: none;
                        width: 100%;
                        padding: 0.5em 1em 0.25em;
                        margin: 0;
                    }
                }
            }

            #view {
                margin: 0;

                .sauce-analysis-stats {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    grid-auto-flow: row;

                    .sauce-brand-sidebar {
                        grid-row: 1;
                        grid-column: 1 / 3;
                        margin: 0 0.8em;

                        .sauce-logo {
                            margin-left: 0;
                        }

                        .sauce-label br {
                            display: none;
                        }
                    }

                    .sauce-data-tuple {
                        font-size: 1em;
                        justify-content: center;
                        align-items: center;

                        &.sauce-rank-badge {
                            grid-row: 1;
                            grid-column: 2 / 3;
                        }
                    }
                }

                #chart-controls {
                    font-size: 0.82em;
                }

                #map-canvas {
                    min-height: initial;
                    max-height: 20vh;
                }

                #run-efforts-table .laps {
                    min-height: initial;
                }

                table.distribution-chart {
                    font-size: 0.9em;
                    td {
                        padding: 0.8em;
                        height: initial;
                        width: initial;
                    }
                }
            }

            nav.sidenav {
                box-sizing: border-box;
                transition: left 200ms, visibility 200ms;
                position: fixed;
                margin: 0;
                top: defines.$global-header-height;
                left: -100vw;
                max-width: 90vw;
                visibility: hidden;
                width: initial;
                overflow: hidden auto;
                max-height: calc(100vh - #{defines.$global-header-height});
                background: white;

                ul#pagenav,
                .actions-menu .drop-down-menu > ul.options {
                    > li > a,
                    > li.group > .title,
                    > li.sauce-group > .sauce-header,
                    > li.sauce-group > ul > li > a {
                        padding: 1rem 2.5rem;
                    }

                    li.group > ul li a {
                        padding: 0.65rem 3rem 0.65rem 3.5rem;
                        font-size: 1em;  // shrink less than desktop
                    }

                    li > a {
                        position: relative;

                        &:active::after {
                            animation: clickoutline 2s;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            pointer-events: none;
                            width: 0;
                            height: 0;
                            display: block;
                            border-radius: 100%;
                            top: 50%;
                            left: 50%;
                        }
                    }
                }

                #pagenav {
                    margin: 0;
                }

                .actions-menu {
                    border: none;

                    > a.button,
                    > .slide-menu .selection {
                        height: initial;
                        padding: 0.85rem 0;
                    }

                    > a.button {
                        position: absolute;
                        z-index: 2;  // Must be over drop down menu
                        width: 50%;
                        background: white;
                        border-radius: 0;
                    }

                    .drop-down-menu {
                        min-width: 100%;
                        max-width: 16rem;
                        float: initial;
                        display: block;

                        &.active {
                            background: #333;

                            .selection .app-icon {
                                filter: invert(1);
                            }

                            li > * {
                                color: white;
                            }

                            li > a:hover {
                                background: black;
                            }
                        }

                        &:not(:first-child) .app-icon-wrapper {
                            margin-left: 50%;
                        }
                    }

                    .selection,
                    ul.options {
                        background: transparent;
                    }

                    ul.options {
                        position: static;
                        min-width: initial;
                        max-height: initial;
                        border: none;
                        margin: 0;

                        li > a {
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        > footer {
            display: none;
        }
    }

    // Use "starts-with" css selector to match "analysis" and "analysis-range"
    body:not([data-route|="analysis"]) #sauce-infopanel {
        display: none;
    }

    .ui-dialog.sauce-dialog.sauce-info-dialog {
        width: 100vw !important;
        height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        font-size: 1.2em;
        border: none;
        border-radius: 0;

        table td {
            padding-top: 0.85em;
            padding-bottom: 0.85em;
        }

        .ui-dialog-buttonpane {
            font-size: 1.1em;
        }
    }

    #global-header {
        .menu-expander {
            display: flex !important;
            flex: 0 0 auto;
            flex-direction: column;
            justify-content: center;
            width: 4em;
            opacity: 0.75;
            cursor: pointer;
            padding: 0 1em;
            transition: opacity 100ms;
            max-height: 70%;

            &:hover {
                opacity: 1;
            }
        }

        nav.nav-bar {
            .branding {
                margin-left: 0 !important;
            }

            .global-nav.nav-group {
                display: none;
            }

            &.search-mode {
                .branding {
                    display: none;
                }

                .user-nav {
                    display: none;
                }

                #global-search-bar {
                    .dropdown button {
                        font-size: 1em;
                        padding: 0 1em;
                        min-width: initial;
                    }
                }
            }
        }

        .user-nav {
            .upload-menu,
            .upgrade {
                display: none;
            }

            a.nav-link.selection {
                pointer-events: none;  // Let touch open the menu instead of navigating
            }
        }
    }

    .sauce-nav-expanded {
        .view > .page.container nav.sidenav {
            box-shadow: 8px 8px 10px #0002;
            left: 0;
            visibility: visible;
        }
    }

    section#segments section.map-chart-container .spans8 {
        float: initial;
        width: 100%;
    }

    #pace-analysis-section,
    body[data-route="pace-zones"] #view > section,
    body[data-route="heartrate-zones"] #view > section {
        header {
            .inline-stats {
                font-size: 0.8em;
                width: initial;

                li.suffer-score {
                    margin-left: inherit;
                }
            }

            > .row {
                margin: 0;
                max-width: 100%;
                overflow: hidden;
            }
        }
    }

    #pace-analysis-section {
        .main {
            min-height: initial;
        }
    }

    #segments {
        table.segments,
        table.hidden-segments {
            > thead {
                display: none;
            }

            > tbody > tr:nth-child(odd) {
                background-color: #fafafa;
            }

            > tbody > tr > td {
                $star-width: 4rem;
                width: initial;
                padding: 3.5rem 0.5rem 0.4rem 0;

                &.starred-col {
                    padding-top: 0 !important;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    width: $star-width;
                }

                &.achievement-col {
                    position: absolute;
                    border: none;
                    right: 0;
                    padding: 0.4rem !important;
                }

                &.name-col {
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    padding: 0.4rem 0 0 $star-width !important;
                    border: none;
                    pointer-events: none;

                    > .name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-right: 3em;
                        white-space: nowrap;
                    }
                }

                &.climb-cat-col {
                    display: none;
                }

                button.toggle-effort-visibility {
                    display: none;
                }

                .segment-effort-detail {
                    pointer-events: auto;
                    margin-top: 3rem;

                    > .content {
                        margin: 0;
                    }
                }
            }
        }

        .ride.segments-list {
            > .row .align-right {
                display: none;
            }

            table.segments,
            table.hidden-segments {
                td.time-col + td + td + td {
                    display: none;
                }
            }
        }

        .run.segments-list {
            table.segments,
            table.hidden-segments {
                > tbody > tr > td {
                    padding-top: 3rem; // name col is single row for runs.
                }
            }

            .segment-effort-detail {
                width: 100%;

                .dismiss {
                    top: 1em;
                    right: 1em;
                    width: 2em;
                    height: 2em;
                    opacity: 1;
                }
            }
        }

        > footer {
            display: none;
        }
    }

    .page-status-message {
        min-width: initial;
    }

    .lightbox-window {
        width: initial;

        .invite-lightbox {
            .sidenav,
            .invite-container {
                float: initial;
                width: initial;
            }

            .invite-container {
                .email {
                    > * {
                        float: initial;
                        width: initial;
                    }
                }

                #email-invite-load-contacts {
                    margin-top: 1em;
                }
            }
        }
    }

    // Edit page..
    body > .container.mb-xl > .row {
        flex-direction: column;

        form > .row {
            flex-direction: column;
        }

        .edit-activity-rpe-input input[name="activity[perceived_exertion]"] + div {
            flex-direction: column;
        }
    }

    footer > .footer-promos,
    footer > .footer-global {
        display: none;
    }

    #basic-analysis {
        #effort-detail {
            margin-left: 0.5em;
            font-size: 0.8em;
        }

        #stacked-chart {
            .xaxis-container text {
                fill: black;
            }

            // XXX all this is in testing...
            .labelGroup {
                text.label {
                    fill: black !important;
                    font-size: 15px;
                    transform: translateY(-17px);
                }

                text.detail {
                    fill: black !important;
                    font-size: 14px;
                    transform: translateY(-23px);
                }
            }
        }
    }

    .leaflet-container {
        pointer-events: none;

        .mapbox-container {
            pointer-events: auto;
        }
    }

    #similar-activities-section {
        table.efforts-table {
            th, td {
                padding-top: 2.4em !important;
                padding-bottom: 1em !important;
                vertical-align: top;
            }

            .date-column {
                width: 13%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .pace-column {
                width: 12%;
            }

            th.name-column {
                display: none;
            };

            td.name-column {
                position: relative;
                width: 0;
                overflow: visible;
                padding: 1em 0 0 0 !important;
                vertical-align: initial;

                > .name {
                    width: 70vw;
                    left: -15vw;
                    position: absolute;
                    color: black;
                }
                > svg {
                    position: absolute;
                    left: 72vw;
                }
            }

            td:first-column {
                padding-left: 0.5em !important;
            }

            td.activity-column {
                padding-right: 0.4em !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                a {
                    font-size: inherit;
                    opacity: 0.9;
                }
            }
        }
    }

    #laps #efforts-table {
        font-size: 0.85em;
    }
}

