@use 'color';

@mixin dialog {
    &.sauce-peaks-settings-dialog {
        $margin: 0.3rem;
        $border: 1px solid color.shade(fg, 30%, 0.2);

        .ui-dialog-content {
            padding: 0.5em;

            section {
                margin: $margin $margin 0.6rem;
                padding: 0.8em;
                background-color: color.shade(bg, 5%);
                border-radius: 0.28em;
                border: $border;
            }

            .cols {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .times, .dists {
                flex: 1 1 0;
                min-width: 240px;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                margin: $margin;

                .mutable-data-view {
                    padding: 0.3em;
                    background-color: color.shade(bg, 3%);
                    border-radius: 0.28em;
                    border: $border;
                }

                .mutable-data-entries {
                    max-height: initial;

                    input {
                        width: 10ch;
                    }
                }

                .btn.reset {
                    margin-top: 0.4em;
                }
            }
        }
    }
}
