@use 'defines';
@use 'color';


#sauce-infopanel {
    border-top: var(--sauce-border);
    border-bottom: var(--sauce-border);
    margin-top: 10px;

    .title,
    .sauce-title-menu {
        white-space: nowrap;
    }

    .sauce-title-menu {
        width: 100%;

        a.selection {
            border: none;
            border-radius: 0;
            padding-right: 4.5mm;

            &.watt-estimate {
                padding-bottom: 0.8em;
            }
        }
        a.selection::after {
            right: 0.8rem;
        }

        a.selection,
        .options li > a {
            display: flex;
            align-items: center;
            white-space: normal;
        }

        .options li > a {
            font-size: 0.86em;
            line-height: normal;
        }

        .options li.sauce-peaks-settings > a {
            background-color: color.shade(fg, 20%);
            color: color.shade(bg, 10%);

            &:hover {
                background-color: color.shade(fg, 0%);
                color: color.shade(bg, 0%);
            }
        }

        .sauce-svg-icon {
            width: 1.3em;
            height: 1.3em;
            margin: 0 0.5em 0 0;
            display: inline-flex;  // contrain svg
            flex-direction: column;
        }
    }

    .watt-estimate-disclaimer {
        position: absolute;
        bottom: 0;
        left: calc(10px + 1.3em + 0.5em); // match icon pad/offset

        .text {
            font-size: 0.82em;
            color: color.shade(accent, 0%);
            text-transform: capitalize;
            font-variant: all-petite-caps;
        }
    }

    .group {
        padding-bottom: 0;
    }

    table {
        margin: 0;
        font-size: 0.90em;

        tr:nth-child(odd) {
            background: rgba(128, 128, 128, 0.04);
        }

        tr.selected {
            background: color.shade(bg, 75%);
            $color: color.shade(fg, 90%);
            color: $color;

            td:last-child {
                color: $color;
            }
        }

        tr:hover:not(.selected) {
            background: color.shade(bg, 10%);
            cursor: pointer;

            .sauce-peak-rank {
                svg[data-icon] {
                    width: 70%;
                    height: 70%;
                }

                .place,
                .category {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        td {
            padding: 0.8em 0.3em 0.7em;
            text-align: right;
            line-height: normal;

            .sauce-peak-rank {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                flex-direction: column;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                margin: -0.3em 0.3em -0.2em 0.2em;
                position: relative;
                $animation-time: 200ms;

                svg[data-icon] {
                    transition: width, height;
                    transition-duration: $animation-time;
                    width: 100%;
                    height: 100%;
                }

                .place,
                .category {
                    color: color.shade(fg, 10%);
                    font-weight: bold;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity, visibility;
                    transition-duration: $animation-time;
                    z-index: 1;
                }

                .place {
                    font-variant: tabular-nums;
                    font-size: 6px;
                    top: -0.5px;

                    &::first-letter {
                        font-size: 7.5px;
                    }
                }

                .category {
                    font-size: 9px;
                    bottom: -1px;
                    font-variant: all-small-caps;
                }

                &.all,
                &.year {
                    &[data-rank="1"] {
                        color: #ff4d00;
                    }
                    &[data-rank="2"] {
                        color: green;
                    }
                    &[data-rank="3"] {
                        color: pink;
                    }
                }
                &.recent {
                    svg[data-icon] .fa-secondary {
                        color: #000;
                        opacity: 0.8;
                    }

                    &[data-rank="1"] {
                        color: gold;
                    }
                    &[data-rank="2"] {
                        color: silver;
                    }
                    &[data-rank="3"] {
                        $bronze: #cd7f32;
                        color: $bronze;
                    }
                }
            }
        }

        td:first-child {
            padding-left: 1em;
        }

        td:last-child {
            color: color.get(accent4);
        }
    }
}

.sauce-info-dialog {
    width: auto !important;
    right: initial !important;  // required for auto width

    sub,
    small,
    sup {
        font-size: 75%;
    }

    .ui-dialog-content {
        padding: 0 !important;
        background-color: color.shade(bg, 1.5%);
        flex-direction: row !important;
        overflow: initial;
    }

    .left-main {
        flex: 1 0 auto;
        width: 318px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: auto;

        .graph-holder {
            position: relative;
            padding-top: 0.3em;
            background-image: linear-gradient(
                to bottom,
                color.shade(bg, 2%),
                color.shade(bg, 10%) 1em,
                color.shade(bg, 0%));

            .graph-label {
                position: absolute;
                top: 0;
                left: 0;
                font-variant: all-small-caps;
                color: color.shade(fg, 10%, 0.7);
                font-weight: bold;
                font-size: 0.75em;
                padding: 0 0.3em;
                line-height: 1;
                z-index: 10;
                pointer-events: none;
            }

            .sauce-sparkline {
                canvas {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }

    .expander {
        flex: 0 0 auto;
        width: 0.65em;
        opacity: 0.6;
        transition: opacity 200ms;
        background-image: linear-gradient(
            to right,
            color.shade(bg, 20%),
            color.shade(bg, 10%) 18%,
            color.shade(bg, 22%));
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.1em;

        .icon {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg[data-icon] {
                width: 100%;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    .ui-dialog-content.expanded {
        .expander {
            .expand {
                display: none;
            }
        }
    }
    .ui-dialog-content:not(.expanded) {
        .expander {
            .compress {
                display: none;
            }
        }

        .right-aside {
            display: none;
        }
    }

    .right-aside {
        flex: 1 0 auto;
        width: 340px;
        max-height: 640px;  // Taller than left-main with all fields (NOTE: must adjust if fields change)
        overflow-y: auto;
        background-image: linear-gradient(
            to bottom,
            color.shade(bg, 10%),
            color.shade(bg, 18%) 2em,
            color.shade(bg, 0%));

        section {
            display: flex;
            flex-direction: column;;
            background: #00000014;
            padding: 0.7em;
            border-radius: 0.28em;
            margin: 0.7em;
            margin-bottom: 1em;

            &.hidden {
                display: none;
            }

            &.ranks table {
                tr {
                    &.split {
                        box-shadow: 0 -2px 0 0 color.shade(fg, 20%);
                    }

                    &.self {
                        background-color: color.shade(fg, 20%);
                        color: color.shade(bg, 20%);

                        a {
                            color: inherit;
                        }
                    }
                }

                td {
                    font-size: 0.86em;
                    white-space: nowrap;
                }
            }

            &.segments table {
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }

            table {
                td, th {
                    padding: 0.4em 0.3em;
                    font-size: 0.92em;

                }

                th {
                    font-variant: all-small-caps;
                }

                td.activity-name {
                    a {
                        text-overflow: ellipsis;
                        max-width: 14ch;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                td.segment-name {
                    $overflow-font-size: 0.70;

                    a {
                        font-size: $overflow-font-size * 1em;
                        display: block;
                        word-break: break-word;

                        &::first-line {
                            font-size: (1 / $overflow-font-size) * 1em;
                        }
                    }
                }

                td.segment-time,
                td.segment-overlap {
                    font-size: 0.86em;
                }

                td.segment-achievement {
                    .app-icon {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

    sub {
        vertical-align: sub; // undo override from strava that made this too low
    }

    section {
        $highlight-value-offset: 2mm;
        $highlight-margin-right: 3mm;
        $heading-bottom-margin: 2mm;
        $section-padding-bottom: 1mm;
        $section-margin-top: 1.5mm;

        display: grid;
        grid-template-columns: 70% 30%;
        padding: 0;
        margin: $section-margin-top 5mm 0;
        padding-bottom: $section-padding-bottom;

        .selectable {
            cursor: pointer;
            transition: color 200ms;

            &:hover {
                color: color.shade(accent3, 10%);

                .title {
                    color: inherit;
                }

                .graph-select {
                    opacity: 1;
                }
            }

            .graph-select {
                content: '';
                width: 0.5em;
                height: 0.5em;
                background-color: color.shade(bg, 5%);
                border: 1px solid color.shade(fg, 20%);
                border-radius: 50%;
                position: absolute;
                left: -0.92em;
                top: 0.333em;
                cursor: pointer;
                opacity: 0;
                transition: opacity 200ms;
            }

            &.selected {
                .graph-select {
                    background-color: color.shade(fg, 10%);
                    opacity: 0.8;
                }
            }
        }

        > heading {
            grid-column: 1 / 3;
            position: relative;
            display: flex;
            margin-bottom: $heading-bottom-margin;
            border-bottom: var(--sauce-thin-border);
            border-color: color.shade(fg, 0%, 0.08);
            justify-content: space-between;

            &.selectable .graph-select {
                top: 0.5em;
            }

            .title {
                font-variant: all-small-caps;
                font-size: 1.08em;
                font-weight: bold;
                color: color.shade(fg, 25%);
            }
        }

        > column {
            grid-row: 2;
        }

        > column:not(.highlight) {
            grid-column: 1 / 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            row {
                display: flex;
                position: relative;

                key,
                value {
                    flex: 1 1 50%;
                    padding-top: 0.2mm;
                    padding-bottom: 0.3mm;
                }

                key {
                    font-size: 0.9em;
                    padding-left: 1.8mm;
                    display: flex;
                }

                value {
                    padding-left: 1mm;
                    padding-right: 1.8mm;
                    font-size: 0.92em;
                    display: block;  // avoid flex by default as it breaks inline formatting
                }
            }
        }

        > column.highlight {
            grid-column: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-right: $highlight-margin-right;
            padding-top: $highlight-value-offset;

            prefix {
                font-size: 0.65em;
                vertical-align: middle;
                opacity: 0.9;
            }

            img.sauce-rank {
                margin: -$highlight-value-offset 0;
                width: 5em;
                filter: drop-shadow(1px 1px 4px color.shade(fg, 30%, 0.40));
                opacity: 0.80;
                transition: opacity 200ms;

                &:hover {
                    opacity: 1;
                }
            }

            .icon-background {
                position: absolute;
                //top: calc(-#{$heading-bottom-margin} / 3);
                top: 0;  // a little lower than ^^^ needs testing.. XXX
                width: calc(100% + (#{$highlight-margin-right} * 2));
                opacity: 0.18;
                display: flex;
                height: calc(100% + #{$section-margin-top} + (#{$highlight-value-offset} * 2) + #{$section-padding-bottom} - (#{$heading-bottom-margin} * 2));
                display: flex;
                align-items: center;

                --sauce-info-icon-highlight-primary: color.shade(fg, 20%, 0.58);
                --sauce-info-icon-highlight-secondary: color.shade(fg, 40%);

                &.hr {
                    --sauce-info-icon-highlight-primary: #d002;
                    --sauce-info-icon-highlight-secondary: #d00;
                }

                &.power {
                    --sauce-info-icon-highlight-primary: #ffb24e;
                    --sauce-info-icon-highlight-secondary: #ff8600;
                }

                &.pace {
                    --sauce-info-icon-highlight-primary: #08f2;
                    --sauce-info-icon-highlight-secondary: #08f;
                }

                &.env {
                    --sauce-info-icon-highlight-primary: #11ad00;
                    --sauce-info-icon-highlight-secondary: #17ab00;
                }


                svg[data-icon] {
                    flex: 1 1 100%;
                    max-height: 110%;  // Kiwi doesn't handle min.
                    max-height: min(110%, 4.2em);

                    .fa-primary {
                        color: color.shade(fg, 20%, 0.58);
                        color: var(--sauce-info-icon-highlight-primary);
                    }
                    .fa-secondary {
                        color: color.shade(fg, 40%);
                        color: var(--sauce-info-icon-highlight-secondary);
                    }
                }
            }

            key {
                font-size: 1.1em;
                font-variant: all-small-caps;
                line-height: 0.9;
                margin-top: -0.25em;
                height: 0.5em; // contribute less to centering.
            }

            value {
                font-size: 2.1em;
                font-weight: bold;
                line-height: 1;
                opacity: 0.82;

                abbr.unit {
                    font-size: 0.6em;
                }
            }
        }

        &:last-child column.highlight {
            padding-bottom: calc(#{$highlight-value-offset} * 2); // Must be big enough to prevent scrollbars from icon overflow

            .icon-background {
                height: calc(100%);
            }
        }
    }
}


.jqs-legend {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 0.25em;
}

@media only screen and (max-width: 768px) {
    .sauce-info-dialog {
        .ui-dialog-content {
            flex-direction: column !important;
        }

        .left-main,
        .right-aside {
            width: initial;
        }

        .expander {
            display: none;
        }

        .right-aside {
            display: initial !important;
            max-height: initial;
        }
    }
}
