@use 'defines';
@use 'color';


#sauce-infopanel {
    border-top: var(--sauce-border);
    border-bottom: var(--sauce-border);
    margin-top: 10px;

    .title,
    .sauce-title-menu {
        white-space: nowrap;
    }

    .sauce-title-menu {
        width: 100%;

        a.selection {
            border: none;
            border-radius: 0;
            padding-right: 1.5rem;

            &.watt-estimate {
                padding-bottom: 0.8em;
            }
        }
        a.selection::after {
            right: 0.8rem;
        }

        a.selection,
        .options li > a {
            display: flex;
            align-items: center;
            white-space: normal;
        }

        .sauce-svg-icon {
            width: 1.3em;
            height: 1.3em;
            margin: 0 0.5em 0 0;
            display: inline-flex;  // contrain svg
            flex-direction: column;
        }
    }

    .watt-estimate-disclaimer {
        position: absolute;
        bottom: 0;
        left: calc(10px + 1.3em + 0.5em); // match icon pad/offset

        .text {
            font-size: 0.85em;
            color: color.shade(accent, 0%);
            text-transform: capitalize;
            font-variant: all-petite-caps;
        }
    }

    .group {
        padding-bottom: 0;
    }

    table {
        margin: 0;

        tr:nth-child(odd) {
            background: rgba(128, 128, 128, 0.04);
        }

        tr.selected {
            background: color.shade(bg, 75%);
            $color: color.shade(fg, 90%);
            color: $color;

            td:last-child {
                color: $color;
            }
        }

        tr:hover:not(.selected) {
            background: color.shade(bg, 10%);
            cursor: pointer;
        }


        td {
            padding: 0.5em 0.4em;
            text-align: center;
        }

        td:last-child {
            color: color.get(accent4);
        }
    }
}

.sauce-info-dialog {
    .sauce-sparkline {
        margin-top: 1em;
    }

    sub,
    small,
    sup {
        font-size: 75%;
    }

    .ui-dialog-content {
        padding: 0 !important;
    }

    img.sauce-rank {
    }

    sub {
        vertical-align: sub; // undo override from strava that made this too low
    }

    row {
        display: flex;
        align-items: center;

        &:nth-child(even) {  // Be sure to use even so the sparkline bg matches the parent el
            background-color: color.shade(bg, 1%);
        }

        &:not(:last-child):not(:first-child) {
            border-bottom: 1px solid color.shade(bg, 10%);
        }

        &.multi-entry {
            flex-direction: column;
            align-items: normal;

            header {
                font-variant: all-small-caps;
                font-weight: bold;
                border-color: color.shade(fg, 10%, 0.25);
                color: color.shade(fg, 20%);
                margin: 0.3em 1em;;
                //text-align: center;
            }

            row {
                background-color: transparent;
                border: none !important;

                key {
                    font-size: 0.88em;
                    padding-left: 1.6rem;
                }

                value {
                    padding-right: 1.6rem;
                    font-size: 0.92em;
                }

                key,
                value {
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                }
            }
        }
    }

    key {
        padding-left: 1rem;
        padding-right: 0.35rem;
        display: flex;
        //justify-content: center;
    }

    value {
        padding-left: 0.35rem;
        padding-right: 1rem;
        display: block;  // avoid flex by default as it breaks inline formatting
    }

    .rank-holder {
        display: flex;
        align-items: center;
    }

    key,
    value {
        flex: 1 1 50%;
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;

        a {
            color: #007fb6;
        }
    }
}
