@use 'color';

@mixin dialog {
    &.sauce-perf-predictor {
        // height settings for sticky output..
        height: max-content !important;
        // Fixed center pos...
        position: fixed;
        top: 1rem !important;
        left: 1rem !important;
        right: 1rem !important;
        bottom: 1rem !important;
        margin: auto;
        max-width: calc(100vw - 2rem - (100vw - 100%));
        max-height: calc(100vh - 2rem - (100vh - 100%));

        .ui-dialog-content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;

             &:not(.drafting) {
                .drafting-options,
                .drafting-output {
                    display: none !important;
                }
            }

             &.drafting {
                &.draft-rotating {
                    .static-draft-options {
                        display: none !important;
                    }
                }

                &:not(.draft-rotating) {
                    .rotating-draft-options {
                        display: none !important;
                    }
                }
            }
        }

        form.input {
            flex: 1 1 60%;
            max-width: 100%;
        }

        input[type="checkbox"] {
            top: initial;
        }

        .collapsable {
            min-height: 2em;
            padding-top: 0.4em !important;
        }

        .entry.flex {
            display: flex;

            key {
                flex: 0 0 auto;
            }
        }

        .indent {
            display: flex;
            flex-direction: column;
        }

        .columns {
            flex-direction: row;
            flex-wrap: wrap;

            .left-col {
                flex: 0 1 auto;
            }

            .right-col {
                flex: 0 0 auto;
            }
        }

        .output {
            flex: 1 1 40%;
            min-width: 300px;
            max-width: 100%;
            max-height: 100%;  // for sticky scroll to work
            position: sticky;
            top: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-image: linear-gradient(180deg,
                                              #{color.shade(fg, 18%)},
                                              #{color.shade(fg, -18%)} 1.5em,
                                              #{color.shade(fg, 10%)});
            color: color.shade(bg, 10%);

            .entry {
                padding: 0.2em 1.2em 0.4em;
            }

            .heading {
                font-size: 1.4em;
                font-weight: bold;
                font-variant: petite-caps;
                color: color.get(bg);
            }

            key {
                width: 10ch;
                color: inherit;
            }

            section {
                padding: 1em;

                &.predicted {
                    &:not(.valid) {
                        display: none;
                    }
                    &.valid + section.invalid {
                        display: none;
                    }

                    .power-details {
                        dot {
                            display: inline-block;
                            width: 0.7em;
                            height: 0.7em;
                            border-radius: 100%;
                            margin-right: 0.2em;
                        }

                        .pct:not(:empty)::before {
                            content: ' | ';
                            color: color.shade(fg, 8%);
                        }

                        .left-col {
                            font-size: 0.92em;
                        }
                    }
                }

                .ahead-behind {
                    font-size: 0.85em;

                    &:not(:empty)::before {
                        content: ' | ';
                        color: color.shade(fg, 12%);
                    }
                }
            }

            .sparkline {
                align-self: center;
                width: 4.25em;
                height: 4.25em;
            }

            .drafting-output {
                --draft-power-range: calc(var(--draft-power-max) - var(--draft-power-min));
                --draft-hue-range: calc(min(1, var(--draft-variance)) * 90deg);
                --draft-hue-offset: calc(min(100deg, 10deg + (1 - min(1, var(--draft-variance))) * 45deg));

                .draft-rider-icon {
                    flex: 1 1 0;
                    font-size: calc(4 / var(--draft-riders) * 1.1em);
                    margin: 0.8rem 0.5em 0;
                    --draft-power-pct: (var(--draft-power) - var(--draft-power-min)) /
                        var(--draft-power-range);
                    color: hsl(
                        calc(
                            ((1 - var(--draft-power-pct)) *
                             var(--draft-hue-range)) +
                            var(--draft-hue-offset)),
                        90%,
                        50%);
                    filter: SaTuRaTe(var(--draft-pct)); // funky case to workaround sass bug.

                    svg[data-icon] {
                        transform: scaleX(-1);
                        line-height: 0;

                        .fa-secondary {
                            opacity: 1;
                        }
                    }

                    label {
                        margin-top: 0;
                        text-align: center;
                        color: inherit;
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }
        }

        input[type="number"] {
            width: calc(7ch + 1em);
            text-align: right;
        }

        input[type="range"] + input[type="number"] {
            margin-left: 0.5em;
        }

        .cda-position {
            font-size: 0.86em;
            font-style: italic;

            &:not(.visible) {
                display: none;
            }
        }

        input + .annotation {
            margin-left: 0.5em;
        }
    }


    @media only screen and (max-width: 768px) {
        &.sauce-perf-predictor {
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            height: 100vh !important;
            width: 100vw !important;
            max-height: initial;
            max-width: initial;
            margin: 0;
        }
    }
}
