@use 'color';

@mixin dialog {
    &.sauce-perf-predictor {
        form.sauce-key-value {
            key {
                word-break: break-all;
            }
        }

        .ui-dialog-content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;

             &:not(.drafting) {
                .drafting-options,
                .drafting-output {
                    display: none !important;
                }
            }

             &.drafting {
                &.draft-rotating {
                    .static-draft-options {
                        display: none !important;
                    }
                }

                &:not(.draft-rotating) {
                    .rotating-draft-options {
                        display: none !important;
                    }
                }
            }
        }

        form.input {
            flex: 1 1 55%;
            max-width: 100%;
        }

        input[type="checkbox"] {
            top: initial;
        }

        .collapsable {
            min-height: 2em;
            padding-top: 0.4em !important;
        }

        .entry.flex {
            display: flex;

            key {
                flex: 0 0 auto;
            }
        }

        .indent {
            display: flex;
            flex-direction: column;
        }

        .columns {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .left-col {
                flex: 0 1 auto;
            }

            .right-col {
                flex: 0 0 auto;
            }
        }

        .output {
            flex: 1 1 45%;
            min-width: 300px;
            max-width: 100%;
            max-height: 100%;  // for sticky scroll to work
            position: sticky;
            top: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-image: linear-gradient(180deg,
                                              #{color.shade(fg, 18%)},
                                              #{color.shade(fg, -18%)} 1.5em,
                                              #{color.shade(fg, 10%)});
            color: color.shade(bg, 10%);

            &:not(.valid) {
                .valid-only {
                    display: none;
                }
            }
            &.valid {
                .invalid {
                    display: none;
                }
            }

            .entry {
                padding: 0.5em 0.5em 0.3em;

                .indent {
                    padding-top: 0.5em;
                }
            }

            .heading {
                font-size: 1.4em;
                font-weight: bold;
                font-variant: petite-caps;
                color: color.get(bg);
                margin-bottom: 0.2em;
            }

            key {
                width: 10ch;
                color: inherit;
            }

            section {
                padding: 1em 1em 0 1em;

                @media only screen and (max-width: 768px) {
                    padding-left: 0.4em;
                    padding-right: 0.4em;
                }

                &.power-details {
                    > .entry .entry {
                        padding-left: 0;

                        &:first-child {
                            padding-top: 0;
                        }
                    }

                    dot {
                        display: inline-block;
                        width: 0.7em;
                        height: 0.7em;
                        border-radius: 100%;
                        margin-right: 0.2em;
                    }

                    .pct:not(:empty)::before {
                        content: ' | ';
                        color: color.shade(fg, 8%);
                    }

                    .left-col {
                        font-size: 0.92em;
                    }
                }

                .ahead-behind {
                    font-size: 0.85em;

                    &:not(:empty)::before {
                        content: ' | ';
                        color: color.shade(fg, 12%);
                    }
                }
            }

            .sparkline {
                align-self: center;
                width: 4.25em;
                height: 4.25em;
                padding-left: 1.4em;
            }

            .drafting-output {
                --draft-power-range: calc(var(--draft-power-max) - var(--draft-power-min));
                --draft-hue-range: calc(min(1, var(--draft-variance)) * 90deg);
                --draft-hue-offset: calc(min(100deg, 10deg + (1 - min(1, var(--draft-variance))) * 45deg));

                .entry.rider-icons {
                    padding-left: 0;
                    padding-right: 0;
                    justify-content: space-evenly;
                }

                .draft-rider-icon {
                    flex: 1 1 0;
                    max-width: 7rem;
                    font-size: calc(4 / var(--draft-riders) * 1.1em);
                    margin: 0.3rem 0.3em 0;
                    --draft-power-pct: (var(--draft-power) - var(--draft-power-min)) /
                        var(--draft-power-range);
                    color: hsl(
                        calc(
                            ((1 - var(--draft-power-pct)) *
                             var(--draft-hue-range)) +
                            var(--draft-hue-offset)),
                        90%,
                        50%);
                    filter: SaTuRaTe(calc(3 * var(--draft-pct))); // funky case to workaround sass bug.

                    svg[data-icon] {
                        transform: scaleX(-1);
                        line-height: 0;

                        .fa-secondary {
                            opacity: 1;
                        }
                    }

                    label {
                        margin-top: 0.4em;
                        text-align: center;
                        color: color.shade(bg, 5%);
                        line-height: 1;
                        font-size: clamp(0.65rem, 1em, 1.4rem);

                        small {
                            font-size: 0.8em;
                        }
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }
        }

        input[type="number"] {
            width: calc(7ch + 1em);
            text-align: right;
        }

        input[type="range"] + input[type="number"] {
            margin-left: 0.5em;
        }

        .cda-position {
            font-size: 0.86em;
            font-style: italic;

            &:not(.visible) {
                display: none;
            }
        }

        input + .annotation {
            margin-left: 0.5em;
        }
    }


    @media only screen and (max-width: 768px) {
        &.sauce-perf-predictor {
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            height: 100vh !important;
            width: 100vw !important;
            max-height: initial;
            max-width: initial;
            margin: 0;
        }
    }
}
