@use 'color';
@use 'animations';
@use 'data_views';
@use 'buttons';


@mixin button {
    .sauce-sync-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.90;
        position: relative;
        transition: opacity 100ms;

        &:hover {
            opacity: 1;
        }

        svg[data-icon="sync-alt"] {
            width: 1.4em;
        }

        svg[data-icon="check"] {
            width: 0.65em;
            position: absolute;
        }
    }

    &:not(.enabled) .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            color: color.shade(fg, 20%);
        }

        svg[data-icon="check"] {
            display: none;
        }
    }

    &.enabled .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            color: #ee5c13;
        }

        svg[data-icon="check"] {
            color: color.get(fg);
        }
    }

    &.sync-active .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            animation: rotation 3s infinite steps(30 * 3);
        }

        svg[data-icon="check"] {
            display: none;
        }
    }

    .sauce-sync-status:not(:empty) {
        margin-left: 1em;
    }

    .sauce-sync-status {
        font-size: 0.8em;
    }
}


@mixin dialog {
    &.sauce-sync-athlete-dialog {
        .btn {
            &.btn-sm:not(.btn-unstyled) {
                padding: 0.4em 0.7em; // make consistent between all pages!
            }

            &.hidden {
                display: none;
            }
        }

        .btn.sync-start {
            color: #00a900;
        }

        .btn.sync-stop {
            color: #c10000;
        }

        .btn.sync-recompute {
            color: #c37e00;
            font-size: 0.9em;
        }

        .padded-info {
            padding: 0.5em 0.8rem;
        }

        header.title {
            border: none;
            font-variant: petite-caps;
            padding: 0 1rem;
            font-size: 1.3em;
            font-weight: 600;
            margin: 0 0 0.5rem 0;
            display: flex;
            justify-content: space-between;

            &::before,
            &::after {
                all: initial !important;
            }
        }

        .help {
            .sauce-dismiss {
                font-size: 1.2em;
            }
        }

        .help-info {
            font-size: 0.9em;
        }

        :has(section.maximized) section:not(.maximized) {
            display: none;
        }

        section {
            padding: 0 0 0.8rem 0;

            &.sync-settings {
                key {
                    width: 80%;
                }
            }

            &.maximized {
                flex: 1 0 100%;
            }
        }

        .sync-logs {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-height: 14em;

            header .btn {
                font-size: 0.86rem;
                min-height: 0;

                [data-icon][data-prefix="far"] {
                    color: color.shade(fg, 20%);
                }
            }

            .logs {
                overflow: auto;
                font-size: 0.86em;
                padding: 0.4em 0.5em;
                background-color: #333; // break theme so colors always work
                color: #fff;
                border-radius: 0.3em;
                margin: 0 0.2em 0 1em;
                display: grid;
                grid-template-columns: min-content min-content 1fr;
                align-items: baseline;
                line-height: 1.4;

                .log-entry {
                    display: contents;

                    .time,
                    .level {
                        font-size: 0.88em;
                        padding-right: 0.5em;
                        white-space: nowrap;
                    }

                    .message {
                        word-break: break-word;
                    }

                    &[data-level="debug"] {
                        .level,
                        .message {
                            font-weight: 300;
                        }
                    }
                    &[data-level="info"] {
                    }
                    &[data-level="warn"] {
                        .level {
                            color: #e3d217;
                        }
                        .level,
                        .message {
                            font-weight: 500;
                        }
                    }
                    &[data-level="error"] {
                        .level {
                            color: #d10808;
                        }
                        .level,
                        .message {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .ui-dialog-content {
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;

            .sync-mgmt,
            .performance-mgmt {
                min-width: 340px;
            }

            .sync-mgmt {
                flex: 1.3 1;
                max-width: 100%;
                max-height: 100%;
                overflow: auto;
                padding-top: 0.8rem;
                padding-bottom: 0;
                display: flex;
                flex-direction: column;

                .help {
                    margin: 0.5em 1rem;
                }
            }

            .performance-mgmt {
                background-image: linear-gradient(to right,
                    color.shade(bg, 10%),
                    color.get(bg) 0.2em,
                    color.get(bg));
                flex: 1 1;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                max-width: 100%;
                max-height: 100%;

                .padded-info {
                    padding-bottom: 0.2em;
                }

                .history-view {
                    min-height: 10em;

                    .mutable-data-entries {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }

                @media only screen and (max-width: 400px) {
                    .history-view {
                        min-height: 15em;
                    }
                }

                .entry.block {
                    font-size: 0.96em;
                    margin: 0.5em 0.5em;
                    border: solid 1px color.shade(bg, 15%);
                    border-radius: 0.28em;
                    background: color.shade(bg, 0%);
                    padding: 0;
                    overflow: auto;
                    flex: 1 1 auto;

                    &.history {
                        flex-basis: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.hr-zones-panel {
                        display: flex;
                        flex-direction: column;
                        flex: 0 0 auto;

                        .header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0.4rem 1rem;
                            font-weight: bold;
                        }

                        table {
                            margin: 0;

                            tr {
                                border: none;

                                &:nth-child(even) {
                                    background-color: color.shade(bg, 10%, 0.3);
                                }

                                &.lt {
                                    background-color: color.shade(fg, 30%);
                                    color: color.shade(bg, 10%);
                                }

                                td {
                                    padding: 0.3rem 1rem;
                                }
                            }
                        }
                    }
                }
            }

            &.sync-active {
                .entry.last-sync,
                .entry.next-sync {
                    display: none !important;
                }

                .sync-recompute,
                .sync-start,
                .sync-hr-zones {
                    display: none !important;
                }

                .entry.synced value .text {
                    margin-left: 0.5em;
                }
            }

            &.has-error {
                .status {
                    //color: darkred;  // XXX not wired to show error yet.
                }
            }

            &:not(.sync-active):not(.sync-disabled) {
                .sync-stop {
                    display: none;
                }
            }

            .enabled-only {
                display: contents;
            }

            &.sync-disabled {
                .enabled-only {
                    display: none !important;
                }

                .sync-stop,
                .sync-recompute,
                .sync-start {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }

            &:not(.sync-active) {
                .entry.synced value progress,
                .job-status {
                    display: none;
                }
            }

            &:not(.sync-disabled) {
                .perf-promo {
                    display: none;
                }
                .disabled-only {
                    display: none !important;
                }
            }

            .entry {
                flex-wrap: wrap;
                padding-top: 0.4rem;
                padding-bottom: 0.4em;

                .sub-entry {
                    font-size: 0.9em;
                    flex: 1 0 100%;
                    display: flex;
                    padding-top: 0.65rem;

                    key {
                        padding-left: 1em;
                    }
                }

                .btn {
                    font-size: 1em;
                    margin-left: 0.7em;
                    margin-top: -0.2em;
                    margin-bottom: -0.2em;
                    min-height: 0;
                }

                &.status {
                    .btn {
                        font-size: 0.9em;
                        margin: 0 0.2em;
                    }

                    value {
                        margin-right: 0.4em;
                    }

                    .job-status {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 0.8em;

                        &:not(:empty)::before {
                            content: '[';
                        }
                        &:not(:empty)::after {
                            content: ']';
                        }
                    }
                }
            }
        }

        .ui-dialog-buttonpane {
            @media only screen and (max-width: 400px) {
                font-size: 0.8em;
            }

            &.sync-active {
                .btn.sauce-backup,
                .btn.sauce-restore {
                    pointer-events: none;
                    box-shadow: none;
                    opacity: 0.65;
                }
            }
        }

        .perf-promo {
            padding: 2rem;
            background-color: color.shade(fg, 50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 0 auto;

            .btn.zoom-out {
                position: absolute;
                top: 1em;
                right: 1em;
                font-size: 2em;
                color: #eee;
            }

            &:not(.expanded) {
                .btn.zoom-out {
                    display: none;
                }

                .slides img {
                    cursor: zoom-in;
                }
            }

            &.expanded {
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 100;
                top: 0;
                left: 0;
                background-color: #000d;

                .btn.enable {
                    display: none;
                }

                .slides img {
                    cursor: zoom-out;
                }
            }

            .slides {
                position: relative;
                overflow: hidden;
                line-height: 0;
                user-select: none;

                > img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    border-radius: 0.3em;
                    box-shadow: 1px 1px 3px color.shade(fg, 20%, 0.3);

                    &:not(.selected) {
                        display: none;
                    }
                }

                .nav-left,
                .nav-right {
                    position: absolute;
                    width: 30%;
                    height: 100%;
                    top: 0;
                    background-color: #0005;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity 100ms;
                    z-index: 2;

                    &.hidden {
                        display: none;
                    }

                    &:hover {
                        opacity: 0.8;
                        visibility: visible;
                    }

                    &:active {
                        opacity: 1;
                        box-shadow: 0 0 5px #0003 inset;
                    }

                    svg[data-icon] {
                        color: white;
                        width: 1em;
                    }
                }

                .nav-left {
                    left: 0;
                    cursor: w-resize;
                }

                .nav-right {
                    right: 0;
                    cursor: e-resize;
                }

                .nav-placement {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 1em;
                    pointer-events: none;

                    .bubble {
                        margin: 0 0.15em;
                        width: 0.65em;
                        height: 0.65em;
                        background-color: color.shade(fg, 5%);
                        border-radius: 50%;

                        &:not(.selected) {
                            opacity: 0.3;
                        }
                    }
                }
            }

            .btn.enable {
                margin: 1em 0;
            }
        }

        .sauce-key-value {
            .entry {
                &:not(.block) {
                    display: flex;
                    align-items: center;
                }

                &.synced value {
                    display: flex;
                    align-items: center;

                    progress {
                        width: 8em; // def is 10em and overflows sometimes
                    }

                    .text {
                        font-variant-numeric: tabular-nums;
                    }
                }
            }
        }
    }
}
