@use 'color';
@use 'animations';
@use 'history_view';
@use 'buttons';


@mixin button {
    .sauce-sync-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.90;
        position: relative;
        transition: opacity 100ms;

        &:hover {
            opacity: 1;
        }

        svg[data-icon="sync-alt"] {
            width: 1.4em;
        }

        svg[data-icon="check"] {
            width: 0.65em;
            position: absolute;
        }
    }

    &:not(.enabled) .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            color: color.shade(fg, 20%);
        }

        svg[data-icon="check"] {
            display: none;
        }
    }

    &.enabled .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            color: #ee5c13;
        }

        svg[data-icon="check"] {
            color: color.get(fg);
        }
    }

    &.sync-active .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            animation: rotation 3s infinite steps(30 * 3);
        }

        svg[data-icon="check"] {
            display: none;
        }
    }

    .sauce-sync-status:not(:empty) {
        margin-left: 1em;
    }

    .sauce-sync-status {
        font-size: 0.8em;
    }
}


@mixin dialog {
    &.sauce-sync-athlete-dialog {
        @include buttons.uniform;

        .btn.sync-start {
            color: #00a900;
        }

        .btn.sync-stop {
            color: #c10000;
        }

        .btn.sync-recompute {
            color: #c37e00;
            font-size: 0.9em;
        }

        .padded-info {
            padding: 1em;
        }

        h1, h2, h3, h4 {
            font-variant: petite-caps;
            margin: 0.2em 0;
        }

        .ui-dialog-content {
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;

            .sync-mgmt {
                flex: 1 1;
                max-width: 100%;
                padding-top: 1rem;
                padding-bottom: 0;
                display: flex;
                flex-direction: column;

                h1, h2, h3, h4 {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }

            .athlete-mgmt {
                background-image: linear-gradient(to right,
                    color.shade(bg, 10%),
                    color.get(bg) 0.2em,
                    color.get(bg));
                flex: 1 1;
                max-width: 100%;
                padding: 1rem;

                .padded-info {
                    padding-bottom: 0.2em;
                }
            }

            &.sync-active {
                .entry.last-sync,
                .entry.next-sync {
                    display: none !important;
                }

                .sync-recompute,
                .sync-start,
                .sync-hr-zones {
                    display: none !important;
                }
            }

            &.has-error {
                .status {
                    //color: darkred;  // XXX not wired to show error yet.
                }
            }

            &:not(.sync-active):not(.sync-disabled) {
                .sync-stop {
                    display: none;
                }
            }

            &.sync-disabled {
                .entry.synced,
                .entry.last-sync,
                .entry.next-sync,
                .entry.status,
                .entry.enable {
                    display: none !important;
                }

                .sync-stop,
                .sync-recompute,
                .sync-start {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }

            &:not(.sync-active) {
                .entry.synced value progress {
                    display: none;
                }
            }

            &:not(.sync-disabled) {
                .perf-promo {
                    display: none;
                }
            }

            .entry {
                .btn {
                    margin-left: 0.5em;
                }

                &.status value {
                    margin-right: 1em;
                }
            }
        }

        table.hr-zones {
            width: 100%;
            font-size: 0.92em;
            margin: 0.4em;
            border: 1px solid color.shade(fg, 20%, 0.08);
            border-radius: 0.28em;

            tr {
                &:nth-child(even) {
                    background-color: color.shade(bg, 1.8%);
                }

                &.lt {
                    background-color: color.shade(fg, 30%);
                    color: color.shade(bg, 10%);
                }

                border: none;

                td {
                    padding: 0.3em 0.8em;
                }
            }
        }

        .perf-promo {
            padding: 2rem;
            background-color: color.shade(fg, 50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 0 auto;

            .btn.zoom-out {
                position: absolute;
                top: 1em;
                right: 1em;
                font-size: 2em;
                color: #eee;
            }

            &:not(.expanded) {
                .btn.zoom-out {
                    display: none;
                }

                .slides img {
                    cursor: zoom-in;
                }
            }

            &.expanded {
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 100;
                top: 0;
                left: 0;
                background-color: #000d;

                .btn.enable {
                    display: none;
                }

                .slides img {
                    cursor: zoom-out;
                }
            }

            .slides {
                position: relative;
                overflow: hidden;
                line-height: 0;

                > img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    border-radius: 0.3em;
                    box-shadow: 1px 1px 3px color.shade(fg, 20%, 0.3);

                    &:not(.selected) {
                        display: none;
                    }
                }

                .nav-left,
                .nav-right {
                    position: absolute;
                    width: 30%;
                    height: 100%;
                    top: 0;
                    background-color: #0005;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity 100ms;
                    z-index: 2;

                    &.hidden {
                        display: none;
                    }

                    &:hover {
                        opacity: 0.8;
                        visibility: visible;
                    }

                    &:active {
                        opacity: 1;
                        box-shadow: 0 0 5px #0003 inset;
                    }

                    svg[data-icon] {
                        color: white;
                        width: 1em;
                    }
                }

                .nav-left {
                    left: 0;
                    cursor: w-resize;
                }

                .nav-right {
                    right: 0;
                    cursor: e-resize;
                }

                .nav-placement {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 1em;
                    pointer-events: none;

                    .bubble {
                        margin: 0 0.15em;
                        width: 0.65em;
                        height: 0.65em;
                        background-color: color.shade(fg, 5%);
                        border-radius: 50%;

                        &:not(.selected) {
                            opacity: 0.3;
                        }
                    }
                }
            }

            .btn.enable {
                margin: 1em 0;
            }
        }

        .sauce-key-value {
            .entry {
                padding: 0.5em 1.2em;

                &:not(.block) {
                    display: flex;
                    align-items: center;
                }

                &.synced value {
                    display: inline-flex;
                    flex-direction: column;
                }

                &.history-view {
                    font-size: 0.96em;
                    margin: 1em 0.5em;
                    border: solid 1px color.shade(bg, 15%);
                    border-radius: 0.28em;
                    background: color.shade(bg, 0%);
                    padding: 0;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .history-entries {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
