@use 'color';
@use 'animations';
@use 'sync_panel';


@mixin sync-button {
    .sauce-sync-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.85;
        position: relative;
        transition: opacity 200ms;

        &:hover {
            opacity: 1;
        }

        svg[data-icon="sync-alt"] {
            width: 1.4em;
        }

        svg[data-icon="check"] {
            width: 0.65em;
            position: absolute;
        }
    }

    &:not(.enabled) .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            color: color.shade(fg, 20%);
        }

        svg[data-icon="check"] {
            display: none;
        }
    }

    &.enabled .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            color: #ee5c13;
        }

        svg[data-icon="check"] {
            color: #22ee33;
        }
    }

    &.sync-active .sauce-sync-icon {
        svg[data-icon="sync-alt"] {
            animation: rotation 3s infinite steps(30 * 3);
            color: #22ee33;
        }

        svg[data-icon="check"] {
            display: none;
        }
    }

    .sauce-sync-status:not(:empty) {
        margin-left: 1em;
    }

    .sauce-sync-status {
        font-size: 0.8em;
    }
}
