@use 'defines';
@use 'dialog';
@use 'comments';
@use 'analysis_stats';
@use 'peakinfo';
@use 'color';


.sauce-positive {
    color: #109f10 !important;
}

.sauce-negative {
    color: #8b1c1c !important;
}

.activity-stats {
    .secondary-stats.inline-stats.sauce-stats {
        border: var(--sauce-thin-border);
        border-left: 0;
        border-right: 0;
        background: color.get(bg);

        .divider:not(:first-child) {
            border-left: var(--sauce-thin-border);
            margin-right: 1.5em;
            height: 2.2em;
            display: inline-block;
            margin-top: 0.3em;
        }
    }

    .inline-stats.sauce-stats {
        .origin-default {
            text-decoration: underline dotted;
            color: #aaa;
        }

        .origin-sauce {
            color: color.get(accent);
        }
    }
}

.sauce-title {
    font-weight: 900;
    font-size: 1em;
    letter-spacing: -0.04em;
    transform: scaleY(0.8);
    text-transform: uppercase;
}

.actions-menu {
    .slide-menu .options {
        max-height: 75vh;
    }

    .sauce-group {
        border-top: var(--sauce-border);
        background-image: linear-gradient(180deg, color.shade(accent, 10%), color.shade(accent, 2%));

        .sauce-header {
            display: flex;
            opacity: 0.95;
            align-items: center;
            justify-content: space-between;
            color: white;
            padding: 0.8em;
            cursor: default;

            > img {
                max-height: 1.2em;
                transform: rotate(-63deg);
            }
        }

        ul li {
            > * {
                color: white !important;

                &:hover {
                    background: #0004 !important;
                }
            }
        }
    }
}

img.sauce-rank {
    margin-left: 0.8em;
    width: 3.5em;
    opacity: 0.8;
    object-fit: contain;
    transition: opacity 200ms;
}

img.sauce-rank:hover {
    opacity: 1;
}

.sauce-rank-widget {
    padding: 1em;
    margin: 1em;
    border-radius: 0.25em;
    background: #c3c3c32e;
}

.sauce-rank-widget .rank-graph {
    padding-top: 1em;
}

.sauce-rank {
    cursor: pointer;
}

abbr.unit {
    margin-left: 0.12em;
    font-size: 0.84em;
    font-weight: 300;
}

.sauce-beta {
    font-size: 0.7em;
    line-height: 1.3em;
    padding: 0 0.3em;
    background-color: #3364b6 !important;
    color: white !important;
    border-radius: 0.24em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
}

#basic-analysis {
    text.static-label-box.label,
    text.laps-label,
    text.segments-label {
        fill: color.shade(fg, 20%) !important;
    }

    text.static-label-box.detail {
        fill: color.shade(fg, 10%) !important;
        font-size: 11px;
    }

    #effort-detail {
        color: color.shade(fg, 10%) !important;
    }

    #stacked-chart {
        .xaxis-container text {
            fill: color.get(fg);
        }
    }
}

table.segments .sauce-rank-holder,
table.hidden-segments .sauce-rank-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.segment-effort-detail .leaderboard .activity-sprite {
    margin-right: 0.5em;
}

.sauce-editable-field {
    &.editing {
        a {
            display: none;
        }
    }
    &:not(.editing) {
        input {
            display: none;
        }
    }

    &.dirty {
        &::before {
            font-size: 0.8em;
            font-weight: bold;
            color: darkred;
            content: '!';
        }

        &:hover {
            &::after {
                position: absolute;
                z-index: 100;
                right: calc(100% + 1em);
                content: 'Page reload requried';
                font-size: 1rem;
                background: #333e;
                color: #f0f0f0;
                border-radius: 0.2rem;
                box-shadow: 1px 1px 10px 0 #0003;
                padding: 0.4rem 0.65rem;
            }
        }
    }

    input {
        height: initial;
        color: black;
        border-radius: 0.22em;
        padding: 0.2em 0.25em;
    }
}
