@use 'defines';
@use 'dialog';
@use 'comments';
@use 'analysis_stats';
@use 'peakinfo';
@use 'color';
@use 'trailforks';
@use 'animations';
@use 'data_views';
@use 'sync';


html.sauce-enabled {
    transition: opacity 400ms;

    &.sauce-loading {
        opacity: 0.5;

        * {
            cursor: progress !important;
        }
    }

    @include trailforks.enums;
}

.pagenav.sauce-error {
    font-size: 0.8em;
    padding: 0.5em;
    color: var(--sauce-negative);
}

.activity-stats {
    .secondary-stats.inline-stats.sauce-stats {
        border: var(--sauce-thin-border);
        border-left: 0;
        border-right: 0;
        background: color.get(bg);

        .divider:not(:first-child) {
            border-left: var(--sauce-thin-border);
            margin-right: 1.5em;
            height: 2.2em;
            display: inline-block;
            margin-top: 0.3em;
        }

        li.sauce-food {
            padding-right: 1.5em; // leave room for next-food btn

            &[data-url] {
                cursor: pointer;
            }

            .label {
                letter-spacing: -0.05em;
            }
        }

        .sauce-next-food {
            box-sizing: border-box;
            opacity: 0;
            transition: opacity 200ms;
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            padding: 0 0.4em 1.2em;

            &:hover {
                opacity: 1 !important;
            }

            svg[data-icon] {
                width: 0.7em;
            }
        }
        &:hover .sauce-next-food {
            opacity: 0.33;
        }
    }

    .inline-stats.sauce-stats {
        .origin-default {
            text-decoration: underline dotted;
            color: #aaa;
        }

        .origin-sauce {
            color: color.get(accent);
        }
    }
}

.local-legend-container .local-legend-avatar-row .athlete-avatar img {
    // Fix Strava's local legend avatar when the profile image is not 1:1
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.sauce-title {
    font-weight: 900;
    font-size: 1em;
    letter-spacing: -0.04em;
    transform: scaleY(0.8);
    text-transform: uppercase;
}

#heading {
    header {
        .social {
            .sauce-sync-button {
                @include sync.button;
            }
        }
    }
}


.actions-menu {
    .slide-menu .options {
        max-height: 75vh;
    }

    .sauce-group {
        border-top: var(--sauce-border);
        background-image: linear-gradient(180deg, color.shade(accent, 10%), color.shade(accent, 2%));

        .sauce-header {
            display: flex;
            opacity: 0.95;
            align-items: center;
            justify-content: space-between;
            color: white;
            padding: 0.8em;
            cursor: default;

            > img {
                max-height: 1.2em;
                transform: rotate(-63deg);
            }
        }

        ul li {
            > * {
                color: white !important;

                &:hover {
                    background: #0004 !important;
                }
            }
        }
    }
}

img.sauce-rank {
    margin-left: 0.8em;
    width: 3.5em;
    opacity: 0.9;
    object-fit: contain;
    transition: opacity 200ms;
}

img.sauce-rank:hover {
    opacity: 1;
}

.sauce-rank-widget {
    padding: 1em;
    margin: 1em;
    border-radius: 0.25em;
    background: #c3c3c32e;
}

.sauce-rank-widget .rank-graph {
    padding-top: 1em;
}

.sauce-rank {
    cursor: pointer;
}

abbr.unit {
    margin-left: 0.12em;
    font-size: 0.84em;
    font-weight: 300;
}

.sauce-beta {
    font-size: 0.7em;
    line-height: 1.3em;
    padding: 0 0.3em;
    background-color: #3364b6 !important;
    color: white !important;
    border-radius: 0.24em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
}

#basic-analysis {
    text.static-label-box.label,
    text.laps-label,
    text.segments-label {
        fill: color.shade(fg, 20%) !important;
    }

    text.static-label-box.detail {
        fill: color.shade(fg, 10%) !important;
        font-size: 11px;
    }

    section.chart[tabindex]:focus {
        outline: none;
    }

    #effort-detail {
        color: color.shade(fg, 10%) !important;
    }

    #stacked-chart {
        .xaxis-container text {
            fill: color.get(fg);
        }
    }

    g#w_prime_balance .simple-line,
    .avg-line.w_prime_balance {
        stroke: #039529;
    }

    g#w_prime_balance {
        path#line {
            stroke: #039529;
            stroke-width: 1px;
        }
        path#area {
            fill: url(#w-prime-bal-lg);
            opacity: 0.8;
        }
    }

    linearGradient#w-prime-bal-lg {
        stop:nth-child(1) {
            stop-color: #03952990;
        }
        stop:nth-child(2) {
            stop-color: #ea30;
        }
        stop:nth-child(3) {
            stop-color: #e113;
        }
        stop:nth-child(4) {
            stop-color: #f62a;
        }
    }
}

table.segments,
table.hidden-segments {
    th.sauce-tf-col svg {
        height: 0.7em;
    }

    .sauce-tf-col {
        .title {
            color: color.shade(fg, 30%);
            font-variant: all-small-caps;
            font-weight: bold;
            margin-right: 0.3em;
        }

        img.tf-difficulty {
            max-width: 1.3em;
            max-height: 1.3em;
            object-fit: contain;
        }

        svg[data-icon] {
            height: 1em;
        }

        a {
            transition: opacity 200ms, box-shadow 200ms, background-color;
            border-radius: 0.2em;

            &:hover {
                box-shadow: 1px 1px 2px 0 color.shade(fg, 20%, 0.3);
                background-color: color.shade(bg, 10%, 0.5);
            }
            &:active {
                box-shadow: inset 0 0 3px 0 color.shade(fg, 20%, 0.3);
                background-color: color.shade(bg, 10%, 0.5);
            }
        }

        .report {
            display: inline-flex;
            align-items: center;
            padding: 0.2em 0.33em;
        }

        .tf-icon-stack {
            display: grid;
            //z-index: 1; // Allows negative z-indexes for children without whole div going below parent.

            &:not(:last-child) {
                margin-right: 0.3em;
            }

            > * {
                filter: drop-shadow(0.5px 0.5px 0.5px #000a);
                grid-column-end: span 2;
                grid-row-end: span 2;
                font-size: 1em;
            }

            // Deprecate (needs testing to fully remove)
            @for $i from 1 to 12 {
                > :nth-child(#{$i}) {
                    grid-column-start: #{$i};
                    grid-row-start: #{$i};
                    //z-index: -$i;
                    opacity: 1 - (($i - 1) * 0.28);
                }
            }
        }
    }

    .sauce-rank-holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.segment-effort-detail .leaderboard .activity-sprite {
    margin-right: 0.5em;
}

.effort-actions {
    .btn-block + .btn-block {
        margin-top: 0.5em;  // Make margin smaller so our buttons fit better (strava was overpadding anyway)
    }
}

.sauce-editable-field {
    &.editing {
        a {
            display: none;
        }
    }
    &:not(.editing) {
        input {
            display: none;
        }
    }

    &.dirty {
        &::before {
            font-size: 0.8em;
            font-weight: bold;
            color: darkred;
            content: '!';
        }

        &:hover {
            &::after {
                position: absolute;
                z-index: 100;
                right: calc(100% + 1em);
                content: 'Page reload requried';
                font-size: 1rem;
                background: #333e;
                color: #f0f0f0;
                border-radius: 0.2rem;
                box-shadow: 1px 1px 10px 0 #0003;
                padding: 0.4rem 0.65rem;
            }
        }
    }

    input {
        height: initial;
        color: black;
        border-radius: 0.22em;
        padding: 0.2em 0.25em;
    }
}

.sauce-btn-group {
    label {
        cursor: default;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 0.7em;
        color: color.shade(accent, -3%) !important;
        opacity: 0.65;
        font-weight: bold;
        margin-top: 0.2em;
        line-height: 1;
    }

    .sauce-buttons {
        display: flex;
        white-space: normal;

        > .button {
            flex: 1 1 0;
            font-size: 0.8em !important;
            line-height: 1.2;
            padding-left: 0.75em;  // smaller than std
            padding-right: 0.75em;  // smaller than std

            &:first-child:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:last-child:first-child {
                // Fix strava's btn-group css when single child.
                border-radius: 4px;
            }

            svg[data-icon] {
                width: 1.5em;
                max-height: 1.5em;
                margin-right: 0.4em;
            }
        }
    }
}

.sauce-over-modal {
    z-index: 200;
}

.sauce-dialog.sauce-analysis-graph-options {
    form {
        padding: 1em 0;
    }

    .ui-dialog-content:not(.reload-needed) .only-reload-needed {
        display: none;
    }

    .only-reload-needed {
        font-weight: bold;
        font-size: 0.8em;
        padding-top: 0.8em;
        text-align: center;
        color: color.get(accent);
    }
}
