@use 'color';

:root {
    --sauce-bg-hue: 0;
    --sauce-bg-sat: 0%;
    --sauce-bg-light: 100%;
    --sauce-bg-shade-dir: -1;

    --sauce-fg-hue: 0;
    --sauce-fg-sat: 0%;
    --sauce-fg-light: 0%;
    --sauce-fg-shade-dir: 1;

    --sauce-accent-hue: 16;
    --sauce-accent-sat: 100%;
    --sauce-accent-light: 50%;
    --sauce-accent-shade-dir: 1;

    --sauce-accent2-hue: 45;
    --sauce-accent2-sat: 100%;
    --sauce-accent2-light: 55%;
    --sauce-accent2-shade-dir: -1;

    --sauce-accent3-hue: 212;
    --sauce-accent3-sat: 64%;
    --sauce-accent3-light: 40%;
    --sauce-accent3-shade-dir: 1;

    --sauce-accent4-hue: 198;
    --sauce-accent4-sat: 100%;
    --sauce-accent4-light: 36%;
    --sauce-accent4-shade-dir: -1;

    --sauce-ride-hue: 16;
    --sauce-ride-sat: 80%;
    --sauce-ride-light: 70%;
    --sauce-ride-shade-dir: -1;

    --sauce-run-hue: 45;
    --sauce-run-sat: 80%;
    --sauce-run-light: 70%;
    --sauce-run-shade-dir: -1;

    --sauce-swim-hue: 212;
    --sauce-swim-sat: 64%;
    --sauce-swim-light: 85%;
    --sauce-swim-shade-dir: -1;

    --sauce-other-hue: 0;
    --sauce-other-sat: 0%;
    --sauce-other-light: 60%;
    --sauce-other-shade-dir: -1;

    --sauce-border-hue: 16;
    --sauce-border-sat: 100%;
    --sauce-border-light: 50%;
    --sauce-border-shade-dir: -1;

    --sauce-border: 1.5px solid #{color.get(border)};
    --sauce-thin-border: 1px solid #{color.get(border, 50%)};

    --sauce-positive: #0ca10c;
    --sauce-negative: #cd0000;
}


.sauce-enabled {
    .main .feed-container .feed {
        display: flex;
        flex-direction: column;
    }

    &.sauce-hide-dashboard-media .main .feed-container .feed .card .entry-media {
        display: none !important;
    }

    &.sauce-hide-dashboard-images .main .feed-container .feed .card .entry-images {
        display: none !important;
    }

    .react-card-container.hidden-by-sauce {
        display: none !important;
    }

    #smartbanner-orion {
        display: none !important;
    }

    .lightbox.external_photo .photo-view {
        .lightbox-more-controls button.sauce-download {
            .app-icon.sauce-download-icon {
                filter: invert(1);
            }
        }
    }

    #container-nav {
        ul.global-nav {
            li.drop-down-menu > ul {
                max-height: calc(99vh - 55px);
            }
        }
        li.sauce-options-menu-group {
            background-image:
                linear-gradient(360deg, rgb(225 225 225 / 45%), transparent),
                linear-gradient(135deg, rgb(165 165 165), rgb(193 193 193), rgb(191 191 191));

            .sauce-callout {
                padding: 8px 12px 0px;
                color: #f0f0f0;
                font-variant: all-small-caps;
            }

            ul li {
                a {
                    color: color.shade(accent, 60%) !important;
                    //background-color: color.shade(accent, 5%) !important;
                    position: relative;

                    &:hover {
                        background-color: #0003;
                    }

                    img {
                        height: 12px;
                        transform: rotate(-50deg);
                        margin-left: 0.6em;
                    }

                    .disclaimer {
                        font-size: 0.65em;
                        text-transform: uppercase;
                        position: absolute;
                        font-weight: bold;
                        bottom: 0.2em;
                        color: #000;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    &.sauce-hide-upsells {
        .js-snw-goals-upsell,
        .user-nav .nav-item.upgrade,
        #segments-upsell,
        .upsell-others,
        .seg-leaderboard-upsell,
        .leaderboards-upsell,
        .recent-efforts-upsell,
        .sauce-upsell {
            display: none !important;
        }
    }

    .sauce-positive {
        color: var(--sauce-positive) !important;
    }

    .sauce-negative {
        color: var(--sauce-negative) !important;
    }

    .sauce-swapped-background {
        a,
        a:link,
        a:visited {
            color: color.shade(accent4, -10%);

            &:hover {
                color: color.shade(accent4, -20%);
            }

            &:active {
                color: color.shade(accent4, 0%);
            }
        }
    }
}
