@use 'color';
@use 'responsive';

:root {
    --sauce-bg-hue: 0;
    --sauce-bg-sat: 0%;
    --sauce-bg-light: 100%;
    --sauce-bg-shade-dir: -1;

    --sauce-fg-hue: 0;
    --sauce-fg-sat: 0%;
    --sauce-fg-light: 0%;
    --sauce-fg-shade-dir: 1;

    --sauce-accent-hue: 16;
    --sauce-accent-sat: 100%;
    --sauce-accent-light: 50%;
    --sauce-accent-shade-dir: 1;

    --sauce-accent2-hue: 45;
    --sauce-accent2-sat: 100%;
    --sauce-accent2-light: 55%;
    --sauce-accent2-shade-dir: -1;

    --sauce-accent3-hue: 212;
    --sauce-accent3-sat: 64%;
    --sauce-accent3-light: 40%;
    --sauce-accent3-shade-dir: 1;

    --sauce-accent4-hue: 198;
    --sauce-accent4-sat: 100%;
    --sauce-accent4-light: 36%;
    --sauce-accent4-shade-dir: -1;

    --sauce-ride-hue: 16;
    --sauce-ride-sat: 80%;
    --sauce-ride-light: 70%;
    --sauce-ride-shade-dir: -1;

    --sauce-run-hue: 45;
    --sauce-run-sat: 80%;
    --sauce-run-light: 70%;
    --sauce-run-shade-dir: -1;

    --sauce-swim-hue: 212;
    --sauce-swim-sat: 64%;
    --sauce-swim-light: 85%;
    --sauce-swim-shade-dir: -1;

    --sauce-other-hue: 0;
    --sauce-other-sat: 0%;
    --sauce-other-light: 60%;
    --sauce-other-shade-dir: -1;

    --sauce-border-hue: 16;
    --sauce-border-sat: 100%;
    --sauce-border-light: 50%;
    --sauce-border-shade-dir: -1;

    --sauce-border: 1.5px solid #{color.get(border)};
    --sauce-thin-border: 1px solid #{color.get(border, 50%)};

    --sauce-positive: #0ca10c;
    --sauce-negative: #cd0000;
}


.sauce-enabled {
    .hidden-by-sauce {
        display: none !important;
    }

    .feed-container {
        .hide-images-by-sauce {
            [data-testid="photo"],
            [data-testid="video"] {
                display: none !important;
            }

            [data-testid="entry-images"] {
                grid-template-columns: 1fr;

                [data-testid="post"],
                [data-testid="more-text"] {
                    display: none !important;
                }

                &::before,
                &::after {
                    display: none !important;
                }
            }
        }

        .hide-media-by-sauce {
            [data-testid="entry-images"] {
                display: none !important;
            }
        }

        .highlight-by-sauce {
            [data-testid="web-feed-entry"] {
                border: 8px solid #df2d44cc !important;
                border-radius: 0.3em;
                box-shadow: 1px 1px 5px 0 #0006;
            }
        }
    }

    #smartbanner-orion {
        display: none !important;
    }

    .lightbox.external_photo .photo-view {
        .lightbox-more-controls button.sauce-download {
            .app-icon.sauce-download-icon {
                filter: invert(1);
            }
        }
    }

    #container-nav {
        ul.global-nav {
            li.drop-down-menu[data-log-category="training"] > ul {
                max-height: calc(99vh - 55px);
            }
        }
    }

    li.sauce-options-menu-group,
    li.sauce-options-menu-item {
        background-image:
            linear-gradient(132deg,
                color.hue(accent, -13, $shade: -8%, $alpha: 48%),
                color.hue(accent, 4, $shade: -15%, $alpha: 80%)),
            linear-gradient(234deg,
                color.hue(accent, -8, $shade: -2%),
                color.hue(accent, 40));

        a {
            color: color.shade(accent, 60%) !important;

            &:hover {
                background-color: #0003;
            }
        }
    }

    li.sauce-options-menu-group {
        ul {
            list-style: none;
            padding: 0;
        }

        .sauce-callout {
            padding: 8px 12px 0px;
            color: color.shade(accent, 70%);
            text-transform: uppercase;
            position: relative;
            padding-right: 24px; // for sauce icon

            img {
                position: absolute;
                top: 4px;
                right: 2px;
                height: 16px;
                transform: rotate(235deg);
                filter: drop-shadow(-2px -2px 4px #0008);
            }
        }

        ul li {
            a svg[data-icon] {
                    width: 1.1em;
                    margin: -0.2em 0.6em -0.2em 0;
            }
        }
    }

    li.sauce-options-menu-item {
        a img {
            height: 12px;
            transform: rotate(-50deg);
            margin-left: 0.6em;
            margin-bottom: -2px;
        }
    }

    &.sauce-hide-upsells {
        &.sauce-non-premium-user {
            .global-nav .drop-down-menu ul.options li.premium {
                display: none !important;
            }
        }

        .js-snw-goals-upsell,
        .user-nav .nav-item.upgrade,
        #segments-upsell,
        .upsell-others,
        .seg-leaderboard-upsell,
        .leaderboards-upsell,
        .recent-efforts-upsell,
        .upsell-others,
        .sauce-upsell {
            display: none !important;
        }
    }

    .sauce-positive {
        color: var(--sauce-positive) !important;
    }

    .sauce-negative {
        color: var(--sauce-negative) !important;
    }

    .sauce-swapped-background {
        a,
        a:link,
        a:visited {
            color: color.shade(accent4, -10%);

            &:hover {
                color: color.shade(accent4, -20%);
            }

            &:active {
                color: color.shade(accent4, 0%);
            }
        }
    }
}

.jqs-legend {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 0.25em;
}

