@use 'color';

.sauce-enabled {
    .main .feed-container .feed {
        display: flex;
        flex-direction: column;
    }

    &.sauce-hide-dashboard-media .main .feed-container .feed .card .entry-media {
        display: none !important;
    }

    &.sauce-hide-dashboard-images .main .feed-container .feed .card .entry-images {
        display: none !important;
    }

    .card.hidden-by-sauce {
        display: none !important;
    }

    #smartbanner-orion {
        display: none !important;
    }

    .lightbox.external_photo .photo-view {
        .lightbox-more-controls button.sauce-download {
            .app-icon.sauce-download-icon {
                filter: invert(1);
            }
        }
    }

    li.sauce-options-menu-item {
        a {
            color: color.shade(accent, 60%) !important;
            background-image: linear-gradient(color.shade(accent, 10%),
                                              color.shade(accent, 10%) 20%,
                                              color.shade(accent, 0%));

            &:hover {
                background-image: linear-gradient(color.shade(accent, 5%),
                                                  color.shade(accent, 5%) 20%,
                                                  color.shade(accent, -5%));
            }

            img {
                height: 14px;
                transform: rotate(-50deg);
                margin-left: 0.6em;
            }
        }
    }

    &.sauce-hide-upsells {
        .js-snw-goals-upsell,
        .user-nav .nav-item.upgrade,
        #segments-upsell,
        .upsell-others,
        .seg-leaderboard-upsell,
        .leaderboards-upsell,
        .recent-efforts-upsell {
            display: none !important;
        }
    }
}
