@use 'color';
@use 'animations';


[class*="_feedCol-"] {
    position: relative;
}

#sauce-kudo-all {
    position: absolute;
    right: 6px;
    top: 10px;
    display: flex;
    padding-top: 0.6em;

    &:not(.active) {
        .active-only {
            display: none;
        }
    }
    &.active {
        pointer-events: none;
        animation: color-pulse 2s infinite steps(60 * 2);

        button {
            background-color: color.shade(accent, 5%);
            color: color.shade(accent, 80%);
        }

        button.dropdown-toggle > svg {
            visibility: hidden;
        }

        .inactive-only {
            display: none;
        }
    }

    &:not(.limit-reached) {
        .limit-reached-only {
            display: none;
        }
    }
    &.limit-reached {
        .active-only,
        .inactive-only,
        .complete-only {
            display: none;
        }

        button.sauce-invoke {
            pointer-events: none;
        }
    }

    &:not(.complete) {
        .complete-only {
            display: none;
        }
    }
    &.complete {
        .active-only,
        .inactive-only,
        .limit-reached-only {
            display: none;
        }

        button.sauce-invoke {
            pointer-events: none;
        }
    }

    &:hover {
        box-shadow: none;
    }

    button {
        background-color: color.shade(bg, 10%);
        color: color.shade(fg, 5%);

        &:hover {
            background-color: color.shade(accent, 10%);
            color: color.shade(accent, 80%);
        }
    }

    button.sauce-invoke {
        padding: 0.2em 0.5em 0.2em 1em;

        .app-icon {
            margin-right: 0.6em;
        }
    }

    button.dropdown-toggle {
        padding-left: 0.8em;
        padding-right: 0.8em;

        svg[data-icon] {
            width: 0.8em;
        }
    }

    .dropdown-menu {
        label.filter {
            border: none;
            margin: 0;
            padding: 0.7em 0.4em;
            cursor: pointer;
            font-size: 0.8em;
            display: flex;
            align-items: center;

            &:hover {
                background-color: color.shade(bg, 10%);
            }

            input {
                margin: 0.4em;
            }
        }
    }
}
