@media only screen and (max-width: 768px) {
    body > .view {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    body > .view > .page.container {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1 1 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        min-height: initial !important;
    }

    body > .view > .page.container nav.sidenav {
        order: -1; /* place at top */
        position: static;
        margin: 0;
        width: 100%;
    }

    body:not([data-route="analysis"]) nav.sidenav #sauce-infopanel {
        display: none;
    }

    body > .view > .page.container nav.sidenav #sauce-infopanel {
        margin: 0;
        font-size: 1.2em;
    }

    body > .view > .page.container nav.sidenav #sauce-infopanel td {
        padding: 0.6em 0;
        width: 50%;
        text-align: center;
    }

    body > .view > .page.container nav.sidenav #sauce-infopanel .sauce-title-menu .selection,
    body > .view > .page.container nav.sidenav #sauce-infopanel .sauce-title-menu ul li a {
        font-size: 1.1em;
        padding: 0.8em;
    }

    .ui-dialog.sauce-dialog.sauce-info-dialog {
        width: 100vw !important;
        height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        font-size: 1.3em;
    }

    .ui-dialog.sauce-dialog.sauce-info-dialog table td {
        padding-top: 0.85em;
        padding-bottom: 0.85em;
    }

    body > .view > .page.container nav.sidenav .actions-menu {
        position: absolute; /* move into the location of the pagenav */
        top: 0;
        right: 0;
        border: none;
    }

    body > .view > .page.container nav.sidenav .actions-menu > * {
        padding: 0 0.65em;
        height: 5rem;
    }

    body > .view > .page.container nav.sidenav .actions-menu .slide-menu,
    body > .view > .page.container nav.sidenav .actions-menu .slide-menu > .selection {
        height: 5rem;
    }

    body > .view > .page.container #pagenav {
        display: flex;
        margin: 0 7.8rem 0 0; /* leave room for actions-menu */
        border: none;
    }

    body > .view > .page.container #pagenav li {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center; /*for submenus*/
        height: 5rem;
        border: none;
    }

    body > .view > .page.container #pagenav li > * {
        padding: 0.25em;
        font-size: 0.85em;
    }

    body > .view > .page.container #pagenav li .premium.badge {
        margin-left: 0.15em;
        height: 1em;
        width: 1em;
    }

    body > .view > .page.container #pagenav li.group > ul {
        display: none;
    }

    body > .view > .page.container #pagenav li.group:hover {
        margin-bottom: 6rem;
    }
    body > .view > .page.container #pagenav li.group:hover > ul {
        display: flex;
        position: absolute;
        background: white;
        z-index: 100;
        box-shadow: 1px 1px 5px #0004;
        padding: 0;
        top: 5rem;
        right: 0;
        width: 100vw;
        box-sizing: border-box;
    }

    body > .view > .page.container #pagenav li.group > ul li {
        padding: 0.4em 0;
    }

    body > .view > .page.container #pagenav li.selected > a {
        box-shadow: initial;
        background: none;
        color: white;
    }

    body > .view > .page.container #pagenav li.selected {
        box-shadow: inset 0 0 10px #0004;
        background: #fc5200;
    }

    body > .view > footer {
        display: none;
    }

    header#global-header nav.nav-bar.search-mode .branding {
        display: none;
    }

    header#global-header nav.nav-bar.search-mode .user-nav {
        display: none;
    }

    header#global-header nav.nav-bar.search-mode #global-search-bar .input-group {
        overflow: hidden;
        max-width: 30em;
    }

    header#global-header nav.nav-bar .global-nav.nav-group {
        display: none;
    }

    header#global-header .user-nav .upload-menu,
    header#global-header .user-nav .upgrade {
        display: none;
    }

    #heading > header {
        padding: 0;
    }

    #heading > header h2 {
        font-size: 1.1em;
        padding: 0 0.5em;
    }

    #heading > header .social {
        margin-right: 0;
    }

    #heading > header .social .sharing,
    #heading > header .social .view-comments.button,
    #heading > header .social .collapse.button {
        display: none;
    }

    #heading > header .give-kudos span.kudo.title {
        display: none;
    }

    #heading .activity-summary-container .details-container .avatar {
        width: 6rem;
        height: 6rem;
    }

    #heading .activity-summary-container .details {
        padding-left: 7rem;
        padding-bottom: 0;
    }

    #heading .activity-summary-container .details .activity-name {
        font-size: 1.3em;
        line-height: 1.2em;
        margin-top: 0.6em;
    }

    #heading footer .footer-achievements-title {
        display: none;
    }

    #heading footer .footer-achievements-list {
        float: none;
        width: 100%;
    }

    #view {
        margin: 0;
    }

    #view .sauce-analysis-stats {
        flex-wrap: wrap;
        font-size: 1em;
        margin: 0;
        justify-content: space-evenly;
    }

    #view .sauce-analysis-stats .sauce-brand-sidebar {
        flex: 1 1 100%;
        padding: 0.8em;
    }

    #view .sauce-analysis-stats .sauce-brand-sidebar .sauce-label {
        font-size: 1.1em;
    }

    #view .sauce-analysis-stats .sauce-brand-sidebar .sauce-label br {
        display: none;
    }

    #view .sauce-analysis-stats .sauce-data-tuple {
        font-size: 1.2em;
        padding: 0.5em 0.8em;
        box-shadow: 1px 1px 5px #0002;
        border: none;
        border-radius: 0.25em;
        margin: 0 0.3em 0.85em;
    }

    section#segments section.map-chart-container .spans8 {
        float: initial;
        width: 100%;
    }

    #pace-analysis-section .main {
        min-height: initial;
    }

    .activity-stats .inline-stats strong {
        font-size: 1.8em;
    }
    .activity-stats .secondary-stats.inline-stats strong {
        font-size: 1.5em;
    }

    .activity-stats .inline-stats .label {
        font-size: 0.9em;
    }

    .ride.segments-list > .row .align-right {
        display: none;
    }

    .page-status-message {
        min-width: initial;
    }

    .lightbox-window {
        
    }
}
