#sauce-patreon-authorize {
    display: flex;
    flex-direction: column;
    padding: 3em;

    > .error {
        color: darkred;

        pre {
            background-color: #c9c9c922;
            padding: 2em;
            margin: 1.5em 0;
            border-radius: 0.28em;
        }
    }
}
