@use 'chart';
@use 'color';
@use 'dialog';
@use 'buttons';


// Use px for media query compat..
$nav-width: 240px;
$main-width: 600px;
$aside-width: 260px;


@media only screen and (min-width: 991px) {
    html.sauce-performance {
        #global-header {
            nav.nav-bar::before {
                background-image: url(../../images/logo_vert_48x128.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: rotate(-22deg);
                width: 25px;
                content: '';
                height: 65%;
                display: block;
                position: absolute;
                top: 13%;
                left: -17px;
                filter: drop-shadow(2px 1px 3px #0003);
                opacity: 0.82;
                transition: opacity 200ms;
            }
            nav.nav-bar:hover::before {
                opacity: 1;
            }

            nav.nav-bar .branding {
                &::before {
                    content: 'SAUCE FOR...';
                    position: absolute;
                    top: 5px;
                    color: color.shade(fg, 40%);
                    text-shadow: 1px 1px 3px #0001;
                    font-size: 0.9rem;
                    line-height: 1.2;
                    font-weight: 900;
                    letter-spacing: -0.04em;
                    transform: scaleY(0.8);
                }
            }
        }
    }
}


table.sauce-perf {
    td, th {
        padding: 0.4em 0.6em 0.4em 0.2em;
        white-space: nowrap;

        &:first-child {
            padding-left: 1em;
        }
    }
    tbody tr {
        &:nth-child(even) {
            background-color: color.shade(bg, 6%);
        }

        td.activity-name {
            .name-container {
                display: flex;
                max-width: 30ch;
                align-items: center;

                a {
                    text-overflow: ellipsis;
                    word-break: break-word;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}


#sauce-performance {
    line-height: initial;

    select {
        appearance: none;
        border-radius: 0.25em;
        padding: 0.3em 1.8em 0.3em 0.5em;
        margin: 0.2em 0;
        background-image: url(../../images/fa/chevron-down-duotone.svg);
        background-position: right 0.6em center;
        background-repeat: no-repeat;
        background-size: auto 50%;
        background-color: color.shade(bg, 5%);
        border: 1px solid color.shade(fg, 20%, 0.2);
        outline: none;

        &:hover {
            border-color: color.shade(fg, 20%, 0.3);
            background-color: color.shade(bg, 8%);
        }
    }


    abbr.unit {
        font-size: 0.8em;
        opacity: 0.9;
        margin-left: 0.1em;
    }

    display: flex;
    flex-wrap: wrap;

    .title {
        font-weight: bold;

        small {
            font-size: 0.8em;
        }
    }

    a {
        cursor: pointer;
    }

    a.view-control {
        opacity: 0.7;
        transition: opacity 200ms;
        color: color.shade(fg, 0%);
        line-height: 0;

        svg[data-icon] {
            width: 1em;
        }

        &:hover,
        &:active {
            opacity: 1;
        }
        &:active {
            svg[data-icon] .fa-secondary {
                opacity: 0.6;
            }
        }
    }
    .sauce-swapped-background a.view-control {
        color: color.shade(bg, 0%);
    }

    row {
        padding: 0.2em 0.5em;;
        display: flex;
        flex-wrap: wrap;
        margin: 0.15em 0;
        align-items: center;

        &.warning {
            color: color.shade(accent, 10%);
        }

        &.rows {
            flex-direction: column;
            align-items: flex-start;

            value {
                font-size: 0.9em;
            }
        }

        key {
            flex: 1 0 50%;
            padding-right: 0.4em;
            font-weight: bold;
            font-size: 0.85em;

            svg[data-icon] {
                width: 0.9em;
                margin-right: 0.2em;
            }
        }

        value {
            flex: 1 1 50%;
        }

        footer {
            border: none;
            flex: 1 1 100%;
        }
    }

    > nav {
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 1 0 $nav-width;
        padding: 1em;
        background-attachment: local;
        background-image: linear-gradient(to left,
                                    #{color.shade(bg, 16%)},
                                    #{color.shade(bg, 12%)} 0.8em,
                                    #{color.shade(bg, 10%)});

        .athlete {
            display: flex;

            select {
                flex: 1 1;
                min-width: 0;
            }

            button {
                flex: 0 0 auto;
            }
        }

        .summary {
            display: flex;
            flex-direction: column;
            padding-top: 0.5em;

            section {
                display: flex;
                flex-direction: column;
                padding: 0.5em;
                background: color.shade(bg, 4%);
                border-radius: 0.28em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;

                a {
                    color: inherit;
                }

                &.collapsed {
                    order: 10;
                    padding-top: 0;
                    padding-bottom: 0;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }

                    > header {
                        padding: 0.5em 0.25em;
                        border: none;
                        margin: 0;

                        .collapser {
                            display: none;
                        }
                    }
                    > *:not(header) {
                        display: none;
                    }
                }

                &:not(.collapsed) {
                    > header {
                        padding: 0.5em 0.25em 0.75em;
                        .expander {
                            display: none;
                        }
                    }
                }

                > header {
                    border-bottom: 1px solid color.shade(bg, 30%, 0.2);
                    margin-bottom: 0.5em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    user-select: none;

                    i.icon {
                        line-height: 0;
                        margin: -0.5em 0.2em;

                        svg[data-icon] {
                            width: 1.3em;
                        }
                    }
                }

                &.results i.icon {
                    .fa-primary {
                        color: #ffc100;
                    }
                }

                &.overview i.icon {
                    .fa-secondary {
                        color: #006dff;
                    }

                    .fa-primary {
                        color: white;
                    }
                }

                &.sync-stats i.icon {
                    color: #ee5c13;
                }
            }
        }
    }

    .peaks-view {
        background-color: color.shade(bg, 3%);
        border: 1px solid color.shade(fg, 20%, 0.2);
        border-radius: 0.28em;
        overflow: hidden;
        font-size: 0.96em;
        margin-left: 2rem;
        margin-right: 2rem;
        position: relative;

        &:empty {
            min-height: 12em;
            background-image: linear-gradient(to bottom,
                                  #{color.shade(bg, 1%)},
                                  #{color.shade(bg, 5%)},
                                  #{color.shade(bg, 2%)});

            &::before {
                content: url(../../images/fa/spinner-third-duotone.svg);
                position: absolute;
                z-index: 1;
                width: 4em;
                top: calc(50% - 2em);
                left: calc(50% - 2em);
                line-height: 0;
                animation: rotation 3s infinite steps(30 * 3);
            }
        }

        .peak-controls {
            padding: 1em;
            background-color: color.shade(bg, 5%);
            font-size: 0.92em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > * {
                margin-right: 1em !important;
            }

            label {
                margin: 0;
            }
        }

        .results {
            padding: 1em 0;
            max-height: min(18rem, 25vh);
            overflow-y: auto;
            font-size: 0.96em;
            display: flex;
            flex-direction: column;

            table {
                tbody tr {
                    cursor: pointer;

                    &:hover {
                        background-color: color.shade(bg, 10%);

                        .edit-activity.btn svg[data-icon] {
                            opacity: 0.8;
                        }
                    }

                    .edit-activity.btn {
                        min-width: initial;

                        svg[data-icon] {
                            height: 0.9em;
                            margin-bottom: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    > main {
        // We can't use a basis with chart.js's responsive mode.
        // Make the grow flex massive instead.
        flex: 100000 1 0;
        min-width: min(#{$main-width}, 100%);
        background: color.shade(bg, 2%);
        padding: 1em;
        display: flex;
        flex-direction: column;

        > header.filters {
            display: flex;
            align-items: flex-end;
            border-bottom: 1px solid color.shade(bg, 10%);
            margin-bottom: 1em;

            .start-end {
                display: flex;
                align-items: center;
                margin-bottom: 0.2em; // match select.
                margin-left: 1em;

                button.prev {
                    margin-right: 1em;
                }

                button.next {
                    margin-left: 1em;
                }

                span.period {
                    margin: 0 0.3em;
                    text-transform: capitalize;
                }
            }
        }

        section.charts {
            padding: 1em;

            header {
                font-size: 0.92em;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1em;

                .more-info {
                    padding-left: 1em;
                    font-size: 0.86em;
                    opacity: 0.7;
                }
            }

            .chart-holder {
                flex: 1 1 auto;
                position: relative; // required for responsive chart.js
                margin-bottom: 4em;

                canvas {
                }
            }
        }
    }

    > aside.details {
        overflow: auto;
        flex: 1 0 0;
        transition: flex 200ms;
        color: color.shade(bg, 5%);
        background-attachment: local;
        $bg-gradient: linear-gradient(to right,
                                      #{color.shade(bg, 80%)},
                                      #{color.shade(bg, 95%)} 0.8em,
                                      #{color.shade(bg, 90%)});
        background-image: $bg-gradient;

        &.expanded {
            flex-basis: $aside-width;
        }

        .activity-name {
            font-size: 0.7em;
            display: block;

            &::first-line {
                font-size: 1.4em;
            }
        }

        > header {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            background-image: linear-gradient(to bottom,
                                              #{color.shade(bg, 70%, 0.15)},
                                              #{color.shade(bg, 50%, 0.15)} 1em,
                                              #{color.shade(bg, 80%, 0.15)}),
                              $bg-gradient;
            border-bottom: 1px solid color.shade(fg, 50%, 0.5);

            .title {
                font-size: 1em;
            }
        }

        section.content {
            display: flex;
            flex-direction: column;
            padding: 1em;

            .activity {
                background-color: color.shade(fg, 18%);
                border-radius: 0.28em;
                margin-bottom: 1em;
                padding: 0.5em;

                header {
                    padding-bottom: 0.5em;
                    border-bottom: 1px solid color.shade(bg, 10%, 0.2);
                    margin-bottom: 0.5em;

                    button.edit-activity {
                        float: right;
                        color: color.get(bg);
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}

// I don't like this, but i can't find a way to consistently deal with color shading.
.sauce-theme-dark #sauce-performance {
    > aside.details {
        section.content {
            display: flex;
            flex-direction: column;
            padding: 1em;

            .activity {
                background-color: color.shade(fg, 2%);
            }
        }
    }
}
 
@media only screen and (min-width: #{$nav-width + $main-width + $aside-width}) {
    #sauce-performance {
        > nav {
            position: sticky;
            top: 0;
            max-height: 100vh;
        }

        > aside.details {
            position: sticky;
            top: 0;
            max-height: 100vh;

            > header {
                position: sticky;
                top: 0;
                z-index: 2;  // fix float element passthrough.
            }
        }
    }
}
