@use 'chart';
@use 'color';
@use 'dialog';


#sauce-performance {

    select {
        border-radius: 0.22em;
        padding: 0.3em 0.4em;
        margin: 0.2em;
    }

    display: flex;
    flex-wrap: wrap;

    row {
        padding: 0.5em;
        display: flex;
        margin: 0.5em 0;
        align-items: center;

        key {
            flex: 1 0 50%;
            margin-right: 0.4em;
            font-weight: bold;
            font-size: 0.85em;
        }

        value {
            flex: 1 0 50%;
        }
    }

    > nav {
        flex: 1 0 16rem;
        background: color.shade(bg, 10%);
        padding: 1em;

        .athlete-info {
            padding: 0.5em;
            background: color.shade(bg, 4%);
            border-radius: 0.28em;
            margin-top: 1em;
        }
    }

    > main {
        // We can't use a basis with chart.js's responsive mode.
        // Make the grow flex massive instead.
        flex: 100000 1 0;
        min-width: min(460px, 100%);
        background: color.shade(bg, 2%);
        padding: 1em;
        display: flex;
        flex-direction: column;

        section.charts {
            padding: 1em;

            header {
                font-variant: small-caps;
                font-size: 0.9em;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;

                > * {
                    padding: 0 1em;
                }
            }

            canvas {
                flex: 1 1 auto;
            }
        }
    }

    > aside {
        padding: 1em;
        overflow: auto;
        flex: 1 0 18rem;
        color: color.shade(bg, 5%);
        background-image: linear-gradient(to right,
                                          #{color.shade(fg, 0%)},
                                          #{color.shade(fg, -18%)} 1.5em,
                                          #{color.shade(fg, 10%)});
        a {
            color: color.shade(accent4, -20%) !important;
        }
    }
}
