@use 'chart';
@use 'color';
@use 'dialog';
@use 'buttons';
@use 'sync';

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


// Use px for media query compat..
$nav-width: 260px;
$main-width: 600px;
$aside-width: 280px;
$scrollbar-safety: 25px;


.jqstooltip {
    width: auto !important;  // XXX Not sure why, but I need this to prevent clipping.
}


html.sauce-performance {
    &, body {
        width: 100%;
        height: 100%;
    }

    body {
        overflow: auto;
    }
}


@media only screen and (min-width: 991px) {
    html.sauce-performance {
        header#global-header {
            nav.nav-bar {
                margin: 0 2.5vw 0 calc(2.5vw + 2em);

                &::before {
                    background-image: url(../../images/logo_vert_48x128.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transform: rotate(-22deg);
                    width: 25px;
                    content: '';
                    height: 65%;
                    display: block;
                    position: absolute;
                    top: 13%;
                    left: -25px;
                    filter: drop-shadow(2px 1px 3px #0003);
                    opacity: 0.82;
                    transition: opacity 200ms;
                }

                &:hover::before {
                    opacity: 1;
                }

                .branding::before {
                    content: 'SAUCE FOR...';
                    position: absolute;
                    top: 5px;
                    color: color.shade(fg, 35%);
                    text-shadow: 1px 1px 3px #0001;
                    font-size: 0.9rem;
                    line-height: 1.2;
                    font-weight: 900;
                    letter-spacing: -0.04em;
                    transform: scaleY(0.8);
                }
            }
        }
    }
}


table.sauce-perf {
    width: 100%; // For firefox

    td, th {
        padding: 0.6em 0.6em 0.6em 0.2em;
        white-space: nowrap;

        &:first-child {
            padding-left: 1em;
        }
    }

    thead tr {
        background-color: color.shade(bg, 8%);

        th {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }
    }

    tbody tr {
        &:nth-child(even) {
            background-color: color.shade(bg, 6%);
        }

        td.activity-name {
            .name-container {
                display: flex;
                max-width: min(30ch, 25vw);
                align-items: center;

                a {
                    text-overflow: ellipsis;
                    word-break: break-word;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}

.sauce-edit-activities-dialog.ui-dialog {
    .ui-dialog-content {
        padding: 0;

        table {
            font-size: 0.9em;

            .name-container {
                max-width: min(20ch, 25vw) !important;
            }

            td.type {
                max-width: 8ch;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
            }
        }

        input[name="tss_override"] {
            width: 6ch;
        }
    }
}


#sauce-performance {
    line-height: initial;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include buttons.uniform;

    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 0.83em;
    }
    h1, h2, h3, h4, h5 {
        line-height: normal;
    }

    select {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0.25em;
        padding: 0.3em 1.8em 0.3em 0.5em;
        background-image: url(../../images/fa/chevron-down-duotone.svg);
        background-position: right 0.6em center;
        background-repeat: no-repeat;
        background-size: auto 50%;
        background-color: color.get(bg); // Match _button
        border: 1px solid color.shade(fg, 20%, 0.2); // "
        outline: none;
        transition-property: box-shadow, border-color, background-color;
        transition-duration: 150ms;
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 3px color.shade(fg, 0%, 0.5);
            border-color: transparent;
        }
    }

    abbr.unit {
        font-size: 0.8em;
        opacity: 0.9;
        margin-left: 0.1em;
    }

    .loading-mask {
        position: relative;

        &::before,
        &::after {
            visibility: hidden;
            position: absolute;
            pointer-events: none;
            z-index: -10;
            opacity: 0;
        }
        &::before {
            width: 3em;
            top: calc(50% - 1.5em);
            left: calc(50% - 1.5em);
            line-height: 0;
            content: url(../../images/fa/spinner-third-duotone.svg);
        }
        &::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0001;
            content: '';
        }
        &.loading {
            &::before,
            &::after {
                visibility: visible;
                opacity: 1;
                z-index: 2;
                transition: visibility, opacity;
                transition-duration: 1s;
                pointer-events: initial;
            }
            &::before {
                animation: rotation 3s infinite steps(24 * 3);
                z-index: 3;
            }
        }
    }

    .title {
        small {
            font-size: 0.8em;
        }
    }

    a {
        cursor: pointer;
    }

    a.view-control {
        opacity: 0.7;
        transition: opacity 200ms;
        color: color.shade(fg, 0%);
        line-height: 0;

        svg[data-icon] {
            width: 1em;
        }

        &:hover,
        &:active {
            opacity: 1;
        }
        &:active {
            svg[data-icon] .fa-secondary {
                opacity: 0.6;
            }
        }
    }

    @keyframes colorwheel-hue {
        from {
            --colorwheel-hue: 0;
        }
        to {
            --colorwheel-hue: 360;
        }
    }

    &.animate-hue .onboarding-stack .section-wrap {
        --colorwheel-hue: 0;
        animation: colorwheel-hue 10s infinite linear;
    }

    .onboarding-stack {
        max-width: 100%;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .section-wrap {
            position: sticky;
            top: 0;
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:nth-child(1) {
                background-image:
                    radial-gradient(ellipse at top, #ffffff00, hsla(var(--colorwheel-hue), 40%, 19%, 0.5) 80%),
                    radial-gradient(ellipse at bottom, #0000, #0008 80%),
                    url('https://saucellc.io/images/perf-onboarding/tdf-yellow.jpg');
            }
            &:nth-child(2) {
                background-image:
                    radial-gradient(ellipse at top, #ffffff00, hsla(var(--colorwheel-hue), 40%, 19%, 0.5) 80%),
                    radial-gradient(ellipse at bottom, #0000, #0008 80%),
                    url('https://saucellc.io/images/perf-onboarding/breakaway.jpg');
            }
            &:nth-child(n + 1) {
                background-image:
                    radial-gradient(ellipse at top, #ffffff00, hsla(var(--colorwheel-hue), 40%, 19%, 0.5) 80%),
                    radial-gradient(ellipse at bottom, #0000, #0008 80%);
                background-color: #676767;
            }
        }

        img {
            width: 20em;
        }

        section {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            backdrop-filter: blur(5px);
            border-radius: 0.5em;
            overflow: hidden;

            &.cols {
                flex-direction: row;
                align-items: normal;
                justify-content: center;
                flex-wrap: wrap;

                .visuals-left {
                    flex: 1 1 20em;
                    background: color.shade(bg, 10%, 0.8);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 4em;
                }

                .copy-right {
                    flex: 1 1 40em;
                    background: color.shade(fg, 12%, 0.5);
                    color: color.get(bg);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    padding: 4em;
                    max-width: 100%;
                }
            }
        }

        .saucey {
            font-family: "Permanent Marker", sans-serif;
        }

        h1, h2, h3, h4, h5 {
            font-family: "Permanent Marker", sans-serif;
        }

        .welcome,
        .how-it-works,
        .faq {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 40em;
            text-align: center;
        }
    }

    .sauce-swapped-background {
        row:nth-child(even) {
            background-color: color.shade(fg, 12%, 0.5);
        }

        a.view-control {
            color: color.shade(bg, 0%);
        }
    }

    row {
        padding: 0.4em 0.5em;;
        display: flex;
        margin: 0.15em 0;
        align-items: center;

        &.warning {
            color: color.shade(accent, -10%);
        }

        &:nth-child(even) {
            background-color: color.shade(bg, 8%, 0.5);
            border-radius: 0.3em;
        }

        key {
            flex: 0 1 55%;
            padding-right: 0.4em;
            font-weight: bold;
            font-size: 0.9em;

            svg[data-icon] {
                width: 0.9em;
                margin-right: 0.2em;
            }
        }
    }

    > nav {
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 1 0 $nav-width;
        padding: 1.2em;
        background-attachment: local;
        background-image: linear-gradient(to left,
                                    #{color.shade(bg, 16%)},
                                    #{color.shade(bg, 12%)} 0.8em,
                                    #{color.shade(bg, 10%)});

        &.compressed {
            display: none;
        }

        section {
            row {
                &.full {
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;

                    .backdrop-icon {
                        $icon-size: 4.25em;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        right: 0.8em;
                        top: calc(50% - #{$icon-size / 2});
                        pointer-events: none;
                        width: $icon-size;
                        height: $icon-size;
                        opacity: 0.2;

                        svg[data-icon] {
                            &[data-icon="watch"] {
                                .fa-secondary {
                                    color: #ff8b00;
                                }
                            }

                            &[data-icon="road"] {
                                .fa-primary {
                                    color: #00542a;
                                }
                                .fa-secondary {
                                    color: white;
                                }
                            }

                            &[data-icon="mountains"] {
                                .fa-primary {
                                    color: #420000;
                                }
                                .fa-secondary {
                                    color: #d75353;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }

                    > header {
                        text-transform: uppercase;
                        font-weight: bold;
                        opacity: 0.6;
                        margin: 0.3em 0 0.2em;
                        font-size: 0.76em;
                    }

                    .cols {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        h1, h2, h3, h4, h5 {
                            border: none;
                        }
                    }

                    .counts-piechart {
                        width: 4em;
                        height: 4em;
                        margin-top: -0.7rem; // center in entire box.
                        margin-right: 0.6rem; // visually aligned with backdrops icons.
                        opacity: 0.6;
                        transition: opacity 150ms;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                h1, h2, h3, h4, h5 {
                    margin: 0;
                    padding: 0.4rem 0;
                    font-weight: 400;

                    &:not(:last-child) {
                        border-bottom: 1px solid color.shade(fg, 30%, 0.2);
                    }

                    abbr.unit {
                        font-size: 0.72em;
                        font-weight: 300;
                        margin-left: 0;
                    }
                }
            }
        }

        .athlete {
            display: flex;

            select {
                flex: 1 1;
                min-width: 0;
                margin-top: 0.3em;
                margin-right: 0.5em;
            }

            .sauce-sync-button {
                margin-top: 0.3em;
                flex: 0 0 auto;
                @include sync.button;
            }
        }

        .summary {
            display: flex;
            flex-direction: column;
            padding-top: 0.5em;

            section {
                display: flex;
                flex-direction: column;
                padding: 0.5em;
                background: color.shade(bg, 3%);
                border-radius: 0.28em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;

                a {
                    //color: inherit;
                }

                &.collapsed {
                    order: 10;
                    padding-top: 0;
                    padding-bottom: 0;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }

                    > header {
                        padding: 0.5em 0.25em;
                        border: none;
                        margin: 0;

                        .collapser {
                            display: none;
                        }
                    }
                    > *:not(header) {
                        display: none;
                    }
                }

                &:not(.collapsed) {
                    > header {
                        padding: 0.5em 0.25em 0.75em;
                        .expander {
                            display: none;
                        }
                    }
                }

                > header {
                    border-bottom: 1px solid color.shade(bg, 30%, 0.2);
                    margin-bottom: 0.5em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    user-select: none;

                    i.icon {
                        line-height: 0;
                        margin: -0.5em 0.2em;

                        svg[data-icon] {
                            width: 1.3em;
                        }
                    }
                }

                &.highlights {
                    i.icon {
                        .fa-primary {
                            color: #ffc100;
                        }
                    }

                    select {
                        margin: 0.3em;
                    }
                }

                &.overview i.icon {
                    .fa-secondary {
                        color: #0058ce;
                        opacity: 0.7;
                    }

                    .fa-primary {
                        color: white;
                    }
                }

                &.sync-stats i.icon {
                    color: #ee5c13;
                }

                &.training i.icon {
                    .fa-secondary {
                        opacity: 1;
                    }

                    .fa-primary {
                        color: #dd0c11;
                    }
                }

            }
        }
    }

    .peaks-view {
        $results-height: min(18rem, 25vh);
        background-color: color.shade(bg, 3%);
        border: 1px solid color.shade(fg, 20%, 0.2);
        border-radius: 0.28em;
        overflow: hidden;
        font-size: 0.96em;
        margin-left: 1rem;
        margin-right: 1rem;

        &:empty {
            min-height: calc(#{$results-height} + 2em);
            background-image: linear-gradient(to bottom,
                                  #{color.shade(bg, 1%)},
                                  #{color.shade(bg, 5%)},
                                  #{color.shade(bg, 2%)});
        }


        .peak-controls {
            padding: 1em;
            background-color: color.shade(bg, 5%);
            font-size: 0.92em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > * {
                margin-right: 1em !important;
            }

            label {
                margin: 0;
            }
        }

        .results {
            max-height: $results-height;
            overflow-y: auto;
            font-size: 0.96em;
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;

            table {
                tbody tr {
                    cursor: pointer;

                    &:hover {
                        background-color: color.shade(bg, 10%);

                        .edit-activity.btn svg[data-icon] {
                            opacity: 0.8;
                        }
                    }

                    .edit-activity.btn {
                        min-width: initial;

                        svg[data-icon] {
                            height: 0.9em;
                            margin-bottom: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }

        &.fixed-height .results {
            max-height: initial;
        }

        .resize-drag {
            height: 0.65em;
            background-color: color.shade(bg, 10%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: row-resize;
            opacity: 0.7;
            transition: opacity 200ms, box-shadow 200ms;

            &:hover {
                opacity: 1;
            }

            &:active {
                box-shadow: 0 0 0 3px color.shade(fg, 40%, 0.1) inset;
            }

            svg[data-icon] {
                height: 100%;
            }
        }
    }

    > main {
        // We can't use a basis with chart.js's responsive mode.
        // Make the grow flex massive instead.
        flex: 100000 1 0;
        min-width: min(#{$main-width}, 100%);
        background: color.shade(bg, 2%);
        padding: 1em;
        display: flex;
        flex-direction: column;

        &.expanded {
            .window-controls .btn.expand {
                display: none;
            }
        }
        &:not(.expanded) {
            .window-controls .btn.compress {
                display: none;
            }
        }

        > header.filters {
            display: flex;
            align-items: flex-end;
            border-bottom: 1px solid color.shade(fg, 20%, 0.2);
            margin-bottom: 1em;
            justify-content: space-between;
            padding: 1em;
            position: relative;

            .period-selector,
            .right-padding {
                flex: 1 0 15%; // same basis keeps start-end in center.

                select {
                    margin-top: 0.3em;
                }
            }

            .start-end {
                display: flex;
                align-items: center;
                margin-left: 1em;
                margin-right: 1em;

                .btn.period {
                    &.invisible {
                        visibility: hidden;
                    }
                }

                .btn.prev {
                    margin-right: 0.5em;
                }

                .btn.next {
                    margin-left: 0.5em;
                }

                .dates {
                    margin: 0 0.2em;
                    display: flex;
                    justify-content: space-around;
                    min-width: 16em;

                    .period {
                        font-weight: bold;
                        margin: 0 0.3em;
                        text-transform: capitalize;
                        white-space: nowrap;
                        flex: 1 0 0;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;  // better letter alignment
                    }
                }
            }

            .window-controls {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        section.sauce-panels {
            padding: 1em;

            .sauce-panel {
                > header {
                    font-size: 0.92em;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1em;

                    .more-info {
                        padding-left: 1em;
                        font-size: 0.86em;
                        opacity: 0.7;
                    }
                }
            }

            .sauce-panel-content {
                flex: 1 1 auto;
                position: relative; // required for responsive chart.js
                margin-bottom: 4em;
                display: flex;
                flex-direction: column;

                &.chart {
                    min-height: 14em;
                    height: 33vh;
                    max-height: 24em;
                }
            }
        }
    }

    > aside.details {
        overflow: auto;
        flex: 1 0 0;
        color: color.shade(bg, 5%);
        background-attachment: local;
        $bg-gradient: linear-gradient(to right,
                                      #{color.shade(bg, 80%)},
                                      #{color.shade(bg, 95%)} 0.8em,
                                      #{color.shade(bg, 90%)});
        background-image: $bg-gradient;

        &.expanded {
            flex-basis: $aside-width;
        }

        .activity-name {
            font-size: 0.7em;
            margin: 0.3em 0;
            display: block;

            &::first-line {
                font-size: 1.4em;
            }
        }

        > header {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            background-image: linear-gradient(to bottom,
                                              #{color.shade(bg, 70%, 0.15)},
                                              #{color.shade(bg, 50%, 0.15)} 1em,
                                              #{color.shade(bg, 80%, 0.15)}),
                              $bg-gradient;
            border-bottom: 1px solid color.shade(fg, 50%, 0.5);

            .title {
                font-size: 1em;
            }
        }

        section.content {
            display: flex;
            flex-direction: column;
            padding: 1em;

            .btn.load-more {
                &:first-child {
                    margin-bottom: 0.5em;
                }
                &:last-child {
                    margin-top: 0.5em;
                }
            }

            .activity {
                background-color: color.shade(fg, 18%);
                border-radius: 0.28em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                padding: 0.65em 0.85em;

                header {
                    padding-bottom: 0.5em;
                    border-bottom: 1px solid color.shade(bg, 10%, 0.2);
                    margin-bottom: 0.5em;

                    .btn.edit-activity {
                        float: right;
                        color: color.get(bg);
                        font-size: 0.7em;
                        min-width: initial;
                        margin-left: 0.8em;
                        margin-bottom: 0.8em;
                    }
                }
            }
        }
    }
}


// I don't like this, but i can't find a way to consistently deal with color shading.
.sauce-theme-dark #sauce-performance {
    > aside.details {
        section.content {
            display: flex;
            flex-direction: column;
            padding: 1em;

            .activity {
                background-color: color.shade(fg, 2%);
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    table.sauce-perf {
        td, th {
            white-space: initial;
        }
    }

    #sauce-performance > main > header.filters {
        padding: 0 0 1em 0;
        flex-wrap: wrap;

        .period-selector {
            flex: 1 0 100%;
        }

        .start-end {
            margin: 1em 0 0 0;
            flex: 1;
            justify-content: space-between;

            .btn.period.oldest,
            .btn.period.latest {
                display: none;
            }
        }

        .window-controls {
            display: none;
        }
    }
}


@media only screen and (min-width: #{$nav-width + $main-width + $aside-width + $scrollbar-safety}) {
    #sauce-performance {
        > nav {
            position: sticky;
            top: 0;
            max-height: 100vh;
        }

        > aside.details {
            position: sticky;
            top: 0;
            max-height: 100vh;
            transition: flex 200ms;

            > header {
                position: sticky;
                top: 0;
                z-index: 2;  // fix float element passthrough.
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #sauce-performance > main {
        section.sauce-panels {
            padding: 1em 0;
        }

        .peaks-view {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
