@use 'mobile';
@use 'defines';

.sauce-responsive {
    #basic-analysis {
        #elevation-chart {
            height: initial;
        }

        #laps-chart,
        #segments-chart {
            margin-right: 3.10559%;  // compensate for scalable SVG change, these need to be offset for alignment (966-936)
        }
    }

    .sauce-analysis-stats {
        width: 100%;
    }

    .view {
        .page.container,
        .footer-promos .container,
        .footer-global.container {
            min-width: initial;
            width: initial;
        }
    }

    .view .page.container #view {
        > section header {
            display: flex !important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0.75em;

            > ul.inline-stats {
                float: initial;
                flex-basis: 0;
                display: flex;
                margin: 0 0 0.6em;
                padding: 0.5em 1em;

                li {
                    margin-right: 2em;
                    flex-basis: 0;

                    strong {
                        font-size: 2em;
                    }

                    .label {
                        font-size: 0.85em;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &.float-right {
                    //justify-content: flex-end;
                }
            }

            &::after {
                content: none;
            }
        }

        #ride-overview {
            &.pinned {

                // Reset strava's own reset for narrow screens (strange because it's dead css to them, but we expose it).
                .pinnable {
                    position: fixed;
                    width: calc((100vw - (100vw - 100%)) -
                                (#{defines.$analysis-page-left-pad} + #{defines.$analysis-page-right-pad} + 2px));
                    height: initial;
                    background: white;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                    z-index: 11;
                }
            }
        }
    }

    &:not(.responsive) header#global-header {
        nav.nav-bar {
            min-width: initial;
            width: auto;
            display: flex;
            margin: 0;
            padding: 0;

            .btn-mobile-menu {
                display: none !important;
            }

            .branding {
                margin-left: 1em;
            }

            #global-search-filter {
                display: none;
            }

            #global-search-field {
                width: 3em; // XXX use form actually !!!must have some width becaues it's a click target */
            }

            #global-search-bar {
                position: static;
                float: initial;

                .dropdown button {
                    padding: 0 0.8em;
                    min-width: initial;
                }
            }

            #global-search-cancel {
                position: static;
                transform: initial;
            }

            #container-nav {
                display: flex;
                flex: 1 1 100%;
            }

            &.search-mode {
                #global-search-filter {
                    display: initial;
                }

                #global-search-field {
                    width: 100%;
                }

                #global-search-button {
                    right: 32px;  // XXX no pix
                }

                #global-search-bar {
                    flex: 1 1 100%;

                    .input-group {
                        overflow: hidden;
                        max-width: 30em;
                    }
                }
            }
        }

        .user-nav {
            float: initial;
            flex: 1 0 auto;
            justify-content: flex-end;
        }
    }

    footer .footer-global.container {
        overflow: hidden;
    }

    #heading .activity-summary-container {
        flex-wrap: wrap;

        &::before {
            content: none;  // disable the 50% absolute border
            display: none;
        }

        > *:first-child {
            border-right: 1px solid #f0f0f5;  // replicate the above border
        }

        .activity-summary,
        .activity-stats {
            flex: 1 1 50%;
            width: initial;
            margin: 0;
            padding-top: 1.4em;
            padding-bottom: 1.4em;
        }
    }

    @media only screen and (max-width: 768px) {
        @include mobile.analysis;
    }
}
