@use 'mobile';
@use 'defines';
@use 'color';


html.sauce-responsive,
.sauce-responsive body {
    @media only screen and (min-width: 515px) and (max-width: 768px) {
        font-size: 18px;
    }
    @media only screen and (min-width: 488px) and (max-width: 515px) {
        font-size: 17px;
    }
    @media only screen and (min-width: 458px) and (max-width: 488px) {
        font-size: 16px;
    }
    @media only screen and (min-width: 430px) and (max-width: 458px) {
        font-size: 15px;
    }
    @media only screen and (min-width: 395px) and (max-width: 430px) {
        font-size: 14px;
    }
    @media only screen and (min-width: 372px) and (max-width: 395px) {
        font-size: 13px;
    }
    @media only screen and (min-width: 350px) and (max-width: 372px) {
        font-size: 12px;
    }
    @media only screen and (max-width: 350px) {
        font-size: 11px;
    }
    font-size: 14px;
}


// global style
.sauce-responsive {
    &:not(.responsive) header#global-header {
        nav.nav-bar {
            min-width: initial;
            width: auto;
            display: flex;
            align-items: center;
            margin: 0 2.5vw;
            padding: 0;
            font-size: 14px; // Must used absolute font sizes due to hard coded height.

            .btn-mobile-menu {
                display: none !important;
            }

            .branding {
                margin: 0 0 0 1em;
                flex: 0 0 auto;
            }

            #global-search-filter {
                display: none;
            }

            #global-search-bar {
                position: static;
                float: initial;
                width: initial;
                padding: 0 0.5em;

                .icon-search {
                    margin-top: 0.3em;
                }
            }

            #global-search-cancel {
                position: static;
                transform: initial;
                flex: 0 0 auto;
                padding: 0.5em 1.5em;
            }

            #container-nav {
                display: flex;
                flex: 1 1 100%;

                &:hover {
                    // Prevent bug exposed by this nav being .collapsible
                    // When display is not flex this container is hidden so strava didn't get exposed to it.
                    cursor: initial;
                    background-color: initial;
                }

                .global-nav {
                    margin: 0;
                }
            }

            #global-search-button {
                position: initial;
            }

            &:not(.search-mode) {
                #global-search-field {
                    width: 0;
                    padding: 0;
                }
            }

            &.search-mode {
                #global-search-filter {
                    display: initial;
                }

                #global-search-field {
                    width: 100%;
                }

                #global-search-button {
                    right: 3.5em;
                    position: absolute;
                }

                #global-search-bar {
                    flex: 1 1 100%;

                    .input-group {
                        overflow: hidden;
                        max-width: 30em;
                    }
                }
            }
        }

        .user-nav {
            float: initial;
            flex: 1 0 auto;
            justify-content: flex-end;
        }
    }

    .view {
        .footer-promos .container,
        .footer-global.container {
            min-width: initial;
            width: initial;
        }
    }

    @media only screen and (max-width: 768px) {
        @include mobile.global;
    }

    .ui-dialog .ui-dialog-titlebar button.ui-dialog-titlebar-close.ui-button {
        // Reset our button styling that has higher prio back to dialog based close btn..
        min-height: 0;
        background-color: initial;
        border: none;
    }

    [class*="training--top-container--"] {
        [class*="Controls--controls-container--"] {
            flex-wrap: wrap;
        }
        [class*="Controls--controls-selectors--"] {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: 768px) {
            @include mobile.training-log;
        }
    }
}
// END global style


.sauce-responsive.sauce-analysis {
    h2 {
        line-height: initial;
    }

    .inset {
        padding: 1.5rem !important;
    }

    :not(.toggle-button) {
        > .btn,
        > .button,
        > button,
        > input[type='submit'],
        > input[type='button'] {
            font-size: 0.9em;
            min-height: 2em;
        }
    }

    .pagenav > li {
        > a,
        > .title {
            font-size: 1.1em;

            &.small {
                font-size: 0.68em;
            }
        }

        &.group ul li a {
            font-size: 0.86em;  // Might be redundant with updated _peakinfo setting, but testing is hard.
        }
    }

    #basic-analysis {
        #elevation-chart {
            height: initial;
        }

        #laps-chart,
        #segments-chart {
            margin-right: 3.10559%;  // compensate for scalable SVG change, these need to be offset for alignment (966-936)
        }
    }

    .segments-list {
        .segment-effort-detail-view {
            .row {
                display: flex;
                flex-wrap: wrap;
                margin: 0;

                > * {
                    flex: 1 1 0;
                }
                > [class*="spans"] {
                    float: initial;
                    width: initial;
                    margin-bottom: 0.5em;
                }
                > .spans7, > .spans8, > .spans9 {
                    min-width: 290px;
                }
                > .spans7 {
                    flex-shrink: 1.2;
                }
                > .spans9 {
                    flex-grow: 1.2;
                }


                &.charts {
                    flex-wrap: nowrap;
                    flex-direction: column;

                    > * {
                        flex: initial;
                    }
                }

                .this-effort {
                    .button {
                        padding-top: 0.4em;
                        padding-bottom: 0.4em;
                    }
                }
            }

            .local-legend-container {
                min-width: initial;

                .local-legend-button-row a.button {
                    min-width: calc(100% - 2em);
                }
            }
        }

        .leader-board-container {
            padding-top: 1.5em;

            .leaderboard-filter {
                top: 0.5em;
            }
        }

        &.run .segment-effort-detail-view {
            a.dismiss + .inset h2 {
                margin-right: 2rem;  // leave room for dismiss icon
            }
            .row.pr-comparison {
                margin-top: 1em;
            }

            .row.effort-details,
            .row.compare-records,
            .row.link-menu {
                > * {
                    min-width: 50%;
                    margin-bottom: 0;
                }
            }

            .row.effort-details {
                padding: 0;
                align-items: center;
            }

            .row.compare-records {
                margin-top: 1em;
            }
        }

        .segment-effort-detail-view {
            .effort-actions {
                min-width: 200px !important;  // Allow more squeeze on this column
            }
        }
    }

    .sauce-analysis-stats {
        width: 100%;
    }

    ul.inline-stats {
        $vert-pad: 0.8em;

        float: initial;
        display: flex;
        width: initial;
        flex-wrap: wrap;  // Only for extreme cases
        margin: 0;
        padding: $vert-pad 1em 0;
        font-size: 0.9em;

        &.secondary-stats {
            font-size: 0.75em;
        }

        li {
            margin-right: 1.5em;
            margin-bottom: $vert-pad;

            > strong {
                font-size: 2.1em !important;
            }

            > .label {
                font-size: 1em !important;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .view .page.container {
        min-width: initial;
        width: initial;
    }

    .view .page.container #view {
        > section header {
            display: flex !important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0.5em;

            > .row {
                margin: 0;
                max-width: 100%;
                overflow: hidden;
            }

            &::after {
                content: none;
            }
        }

        // Sadly this is only for run overview but there is not better selector;
        > section:not([id]) > .row.no-margins:first-child {
            // We try to be super minimal here..
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        #splits-container {
            > header h3 {
                margin-bottom: 0;
            }

            .mile-splits table {
                tbody {
                    height: initial !important;
                }
            }
        }
        #splits-container,
        #splits-container + .map {
            float: initial;
            width: initial;
            flex: 1 0 auto;
            padding: 0;
            min-width: 300px;  // force wrap for mobile (firefox friendly)
        }

        #chart-controls {
            margin: 0 auto;
            max-width: 700px;
        }

        table.distribution-chart {
            tbody td {
                padding: 1em 0.5em;
                height: initial;
                width: initial;
                text-align: center;
                white-space: nowrap;

                &:last-child {
                    min-width: 30vw;
                    max-width: 60vw;
                    height: 3.4em;  // XXX 0 works for chrome but not firefox
                    padding: 0;
                }
            }
        }
    }


    footer .footer-global.container {
        overflow: hidden;
    }

    #heading {
        header {
            padding: 0;
            height: initial;

            > h2 {
                margin-left: 0.5em;
                font-size: 1.4em;
            }
        }

        .social {
            height: initial;
            margin-right: 0;
        }

        > .container-fluid {
            margin: 0;
            padding: 0;

            .row {
                margin: 0;
            }
        }

        .activity-summary-container {
            flex-wrap: wrap;

            &::before {
                content: none;  // disable the 50% absolute border
                display: none;
            }

            > *:first-child {
                border-right: 1px solid color.shade(bg, 10%);  // replicate the above border
            }

            .activity-summary,
            .activity-stats {
                flex: 1 1 50%;
                max-width: 100%;
                width: initial;
                float: initial;
                margin: 0;
                padding-top: 1.4em;
                padding-bottom: 1.4em;
            }

            .others-section-v2 {
                padding: 0;

                .other-athletes {
                    flex-wrap: wrap;
                }
            }

            .activity-stats {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0.5em;

                .section:not(.inline-stats) {
                    font-size: inherit;  // disable fixed sizing.
                }

                > * {
                    padding-left: 1rem;
                    padding-right: 0.8rem;
                    margin: 0;
                }

                .sauce-stats {
                    flex-wrap: wrap;
                }

                .show-more-js button {
                    margin-right: 1em;
                }

                .device-section,
                .more-stats {
                    > .row > * {
                        padding-left: 0;
                    }
                }
            }
        }

        footer.achievements.row {
            .footer-achievements-title {
                background-origin: content-box;
            }
        }
    }


    @media only screen and (max-width: 768px) {
        @include mobile.analysis;
    }

    @media only screen and (min-width: 769px) {
        .page.container {
            $hmargin: 1rem;
            display: grid;
            grid-template-columns: minmax(calc(#{defines.$analysis-page-sidenav-width} + (2 * #{$hmargin})), 1fr)
                                   minmax(0, 10fr);
            grid-template-rows: auto 1fr;
            grid-auto-flow: row;
            padding: 0 4vw;
            margin: 1.8rem 0 1rem 0;

            > nav.sidenav {
                grid-row: 1 / 3;
                grid-column: 1 / 2;
                position: sticky;  // This is a sweet improvement in wasted space otherwise
                top: 1em;
                width: initial;
                margin: 0 $hmargin;
                align-self: start;  // no fill so menu's expand in the rigth pos.
            }

            > #heading {
                grid-row: 1;
                grid-column: 2 / 3;
                margin: 0 $hmargin 1.5rem;
            }


            > #view {
                grid-row: 2;
                grid-column: 2 / 3;
                margin: 0 $hmargin;
            }
        }
    }

    #run-pace-chart {
        margin: 0;

        .base-chart {
            padding-top: 2em; // leave more room for info box

            svg #g-bar-box {
                display: none;
            }

            // Fix the panel in the top right corner since the calcs are all bad.
            .pace-info-box {
                font-size: 0.8em;
                top: -3em !important;
                right: 0 !important;
                left: initial !important;
            }
        }
    }

    #pace-analysis-section {
        > header > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    #pace-analysis-section + .row {
        display: flex;
        flex-wrap: wrap;

        > .spans8 {
            width: initial;
            float: initial;
            flex: 1 0 auto;
            min-width: 300px;
        }
    }

    #relative-effort {
        [class|="RelativeEffort--container"] {
            flex-wrap: wrap;

            [class|="ActivitySummary--base"] {
                padding: 1em;
                min-width: 300px;
            }

            [class|="WeeklySummary--base"] {
                max-width: 100%;
                padding: 0;

                table[class|="Activities--table"] {
                    > tbody > tr > td {
                        padding: 1em 0.4em;
                        font-size: 0.85em;

                        &:first-child {
                            padding-left: 1em;
                        }
                        &:last-child {
                            padding-right: 1em;
                        }
                    }
                }
            }

            [class|="WeeklySummary--week-details"] {
                padding: 0.5em;

                > * {
                    flex: 1 1 auto;
                }
            }
        }
    }

    #similar-activities-teaser {
        > .row {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                float: initial;
                width: initial;
                flex: 1 1 auto;
                padding: 0.5em !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            > :nth-child(2) {
                flex: 1 0 auto;
            }

            .pace {
                font-size: 1em;
            }

            .js-similar-activities {
                margin: 0;
            }
        }
    }

    #similar-activities-section {
        > .main > .row {
            margin: 0;

            > * {
                width: initial;
                float: initial;
            }
        }

        #similar-activities-chart-container,
        #similar-activities-chart {
            height: initial !important;
        }
        #similar-activities-chart-container #similar-activities-chart {
            max-height: 20vh;
            display: flex;
            flex-direction: column;
        }

        table.efforts-table {
            th, td {
                padding: 1em 0.25em;
                overflow: hidden;
                word-break: break-word;

                &:first-child {
                    padding-left: 1em;
                }
                &:last-child {
                    padding-right: 1em;
                }
            }
        }
    }

    #laps,
    #critical-power {
        > .row {
            flex-wrap: wrap;
            display: flex;

            > * {
                float: initial;
                width: initial;
                flex: 1 0 auto;
                min-width: 300px;
            }
        }
    }

    #laps,
    #run-efforts-table {
        table {
            td, th {
                padding-left: 0.25em;
                padding-right: 0.25em;
            }
        }
    }

    #others {
        flex-wrap: wrap;

        > li {
            margin-bottom: 0.2em;
        }
    }

    // pageView's scroll listener hooks must be disabled.
    body.sauce-disabled-scroll-listener:not(.fullscreen) {
        // Use pure CSS pinning that works everywhere.
        .pinnable-view {
            position: relative;

            // Must make anchor and child pinnable sticky due to inconsistent nesting.
            > .pinnable-anchor,
            > .pinnable-anchor .pinnable {
                position: sticky;
                top: 0;
                background: color.get(bg);
                z-index: 11; // > segment-effort-detail (10) < menus (30)
            }
        }
    }
}


.sauce-responsive.sauce-segment-compare {
    .page.container {
        width: 92vw;
        min-width: initial;

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    #segment {
        > .row {
            display: flex;
            flex-wrap: wrap;

            > [class*="spans"] {
                width: initial;
                float: initial;
                flex: 1 1 auto;
                min-width: 300px;
            }

            > .spans12 {
                //flex-basis: 75%;
            }

            > .spans9 {
                //flex-basis: 56.25%;
            }

            > .spans7 {
                //flex-basis: 43.75%;
            }

            > .spans4 {
                //flex-basis: 25%;
            }
        }
    }

    #analysis-chart {
        height: initial;
    }

    #scrubber {
        --input-hmargin: 15px;
        --action-button-width: 40px;
        display: flex;
        align-items: center;
        margin:
            0
            calc(8.1vw - var(--input-hmargin))
            10px calc(6.7vw - var(--input-hmargin) - var(--action-button-width));

        .scrubber-action {
            flex: 0 0 auto;
        }

        input[type="range"] {
            width: 100%;
            margin: 0 15px
        }
    }

    #segment-map-wrapper {
        display: flex;
        flex-wrap: wrap;

        > [class*="spans"] {
            width: initial;
            float: initial;
            flex: 1 1 auto;
            min-width: 300px;
        }

        > .spans9 {
            //flex-basis: 56.25%;
        }

        > .spans7 {
            //flex-basis: 43.75%;
        }
    }

    #segmant-map {
        max-height: 20vh;
    }


    #education {
        padding-bottom: 1em;
        font-size: 0.8em;
    }

    #leaderboard-container {
        ul.tabs {
            flex-wrap: wrap;
            overflow: initial;
        }
    }

    #leaderboard-content {
        > .row {
            display: flex;
            flex-wrap: wrap;

            > [class*="spans"] {
                width: initial;
                float: initial;
                flex: 1 1 auto;
                min-width: 300px;
            }

            > .spans3 {
                //flex-basis: 18.75%;
            }

            > .spans13 {
                //flex-basis: 81.25%;
            }
        }
    }

    #leaderboard-table {
        td.effort-date {
            white-space: normal;
        }
    }

    #roster .avatar-column .action {
        line-height: 36px; // Fix X alignment
    }

    @media only screen and (max-width: 768px) {
        @include mobile.segment-compare;
    }
}
