@use 'mobile';
@use 'defines';

html.sauce-responsive,
.sauce-responsive body {
    @media only screen and (min-width: 515px) and (max-width: 768px) {
        font-size: 18px;
    }
    @media only screen and (min-width: 488px) and (max-width: 515px) {
        font-size: 17px;
    }
    @media only screen and (min-width: 458px) and (max-width: 488px) {
        font-size: 16px;
    }
    @media only screen and (min-width: 430px) and (max-width: 458px) {
        font-size: 15px;
    }
    @media only screen and (min-width: 400px) and (max-width: 430px) {
        font-size: 14px;
    }
    @media only screen and (min-width: 372px) and (max-width: 400px) {
        font-size: 13px;
    }
    @media only screen and (min-width: 350px) and (max-width: 372px) {
        font-size: 12px;
    }
    @media only screen and (max-width: 350px) {
        font-size: 11px;
    }
    font-size: 13px;
}

.sauce-responsive {
    h2 {
        line-height: initial;
    }

    .inset {
        padding: 1.5rem !important;
    }

    :not(.toggle-button) {
        > .btn,
        > .button,
        > button,
        > input[type='submit'],
        > input[type='button'] {
            font-size: 0.9em;
            min-height: 2em;
        }
    }

    .pagenav > li {
        > a,
        > .title {
            font-size: 1.1em;
        }

        &.group ul li a {
            font-size: 0.96em;
        }
    }

    #basic-analysis {
        #elevation-chart {
            height: initial;
        }

        #laps-chart,
        #segments-chart {
            margin-right: 3.10559%;  // compensate for scalable SVG change, these need to be offset for alignment (966-936)
        }
    }

    .segments-list {
        .segment-effort-detail-view .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0;

            > * {
                flex: 1 1 0;
            }
            > [class*="spans"] {
                float: initial;
                width: initial;
                margin-bottom: 0.5em;
            }
            > .spans7, > .spans8, > .spans9 {
                min-width: 290px;
            }
            > .spans7 {
                flex-shrink: 1.2;
            }
            > .spans9 {
                flex-grow: 1.2;
            }

            &.charts {
                flex-wrap: nowrap;
                flex-direction: column;

                > * {
                    flex: initial;
                }
            }

            .this-effort {
                .button {
                    padding-top: 0.4em;
                    padding-bottom: 0.4em;
                }
            }
        }

        .leader-board-container {
            padding-top: 1.5em;

            .leaderboard-filter {
                top: 0.5em;
            }
        }

        &.run .segment-effort-detail-view {
            a.dismiss + .inset h2 {
                margin-right: 2rem;  // leave room for dismiss icon
            }
            .row.pr-comparison {
                margin-top: 1em;
            }

            .row.effort-details,
            .row.compare-records,
            .row.link-menu {
                > * {
                    min-width: 50%;
                    margin-bottom: 0;
                }
            }

            .row.effort-details {
                padding: 0;
                align-items: center;
            }

            .row.compare-records {
                margin-top: 1em;
            }
        }
    }

    .sauce-analysis-stats {
        width: 100%;
        flex-wrap: wrap; // XXX looks terrible but needed to prevent overflow between 768px and 1000+ widths.
    }

    ul.inline-stats {
        $vert-pad: 0.8em;

        float: initial;
        display: flex;
        width: initial;
        flex-wrap: wrap;  // Only for extreme cases
        margin: 0;
        padding: $vert-pad 1em 0;
        font-size: inherit;

        &.secondary-stats {
            font-size: 0.8em;
        }

        li {
            margin-right: 1.5em;
            margin-bottom: $vert-pad;

            > strong {
                font-size: 2.1em !important;
            }

            > .label {
                font-size: 1em !important;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .view {
        .page.container,
        .footer-promos .container,
        .footer-global.container {
            min-width: initial;
            width: initial;
        }

    }

    .view .page.container #view {
        > section header {
            display: flex !important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0.5em;

            > .row {
                margin: 0;
                max-width: 100%;
                overflow: hidden;
            }

            &::after {
                content: none;
            }
        }

        // Sadly this is only for run overview but there is not better selector;
        > section:not([id]) > .row.no-margins:first-child {
            // We try to be super minimal here..
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        #splits-container {
            > header h3 {
                margin-bottom: 0;
            }

            .mile-splits table {
                tbody {
                    height: initial !important;
                }
            }
        }
        #splits-container,
        #splits-container + .map {
            float: initial;
            width: initial;
            flex: 1 0 auto;
            padding: 0;
            min-width: 300px;  // force wrap for mobile (firefox friendly)
        }

        #chart-controls {
            margin: 0 auto;
            max-width: 700px;
        }

        table.distribution-chart {
            tbody td {
                padding: 1em 0.5em;
                height: initial;
                width: initial;
                text-align: center;
                white-space: nowrap;

                &:last-child {
                    min-width: 30vw;
                    max-width: 60vw;
                    height: 3.4em;  // XXX 0 works for chrome but not firefox
                    padding: 0;
                }
            }
        }
    }

    &:not(.responsive) header#global-header {
        nav.nav-bar {
            min-width: initial;
            width: auto;
            display: flex;
            align-items: center;
            margin: 0 2.5vw;
            padding: 0;
            font-size: 14px; // Must used absolute font sizes due to hard coded height.

            .btn-mobile-menu {
                display: none !important;
            }

            .branding {
                margin: 0 0 0 1em;
                flex: 0 0 auto;
            }

            #global-search-filter {
                display: none;
            }

            #global-search-bar {
                position: static;
                float: initial;
                width: initial;
                padding: 0 0.5em;

                .icon-search {
                    margin-top: 0.3em;
                }
            }

            #global-search-cancel {
                position: static;
                transform: initial;
                flex: 0 0 auto;
                padding: 0.5em 1.5em;
            }

            #container-nav {
                display: flex;
                flex: 1 1 100%;

                .global-nav {
                    margin: 0;
                }
            }

            #global-search-button {
                position: initial;
            }

            &:not(.search-mode) {
                #global-search-field {
                    width: 0;
                    padding: 0;
                }
            }

            &.search-mode {
                #global-search-filter {
                    display: initial;
                }

                #global-search-field {
                    width: 100%;
                }

                #global-search-button {
                    right: 3.5em;
                    position: absolute;
                }

                #global-search-bar {
                    flex: 1 1 100%;

                    .input-group {
                        overflow: hidden;
                        max-width: 30em;
                    }
                }
            }
        }

        .user-nav {
            float: initial;
            flex: 1 0 auto;
            justify-content: flex-end;
        }
    }

    footer .footer-global.container {
        overflow: hidden;
    }

    #heading {
        header {
            padding: 0;
            height: initial;

            > h2 {
                margin-left: 0.5em;
                font-size: 1.2em;
            }
        }

        .social {
            height: initial;
            margin-right: 0;
        }

        > .container-fluid {
            margin: 0;
            padding: 0;

            .row {
                margin: 0;
            }
        }

        .activity-summary-container {
            flex-wrap: wrap;

            &::before {
                content: none;  // disable the 50% absolute border
                display: none;
            }

            > *:first-child {
                border-right: 1px solid #f0f0f5;  // replicate the above border
            }

            .activity-summary,
            .activity-stats {
                flex: 1 1 50%;
                max-width: 100%;
                width: initial;
                float: initial;
                margin: 0;
                padding-top: 1.4em;
                padding-bottom: 1.4em;
            }

            .others-section-v2 {
                padding: 0;

                .other-athletes {
                    flex-wrap: wrap;
                }
            }

            .activity-stats {
                padding-left: 0;
                padding-right: 0;

                .section:not(.inline-stats) {
                    font-size: inherit;  // disable fixed sizing.
                }

                > * {
                    padding-left: 1rem;
                    padding-right: 0.8rem;
                    margin: 0;
                }

                .sauce-stats {
                    flex-wrap: wrap;
                }

                .show-more-js button {
                    margin-right: 1em;
                }

                .device-section,
                .more-stats {
                    > .row > * {
                        padding-left: 0;
                    }
                }
            }
        }

        footer.achievements.row {
            .footer-achievements-title {
                background-origin: content-box;
            }
        }
    }


    @media only screen and (max-width: 768px) {
        @include mobile.analysis;
    }

    @media only screen and (min-width: 769px) {
        .page.container {
            $hmargin: 1rem;
            display: grid;
            grid-template-columns: minmax(calc(#{defines.$analysis-page-sidenav-width} + (2 * #{$hmargin})), 1fr)
                                   minmax(0, 10fr);
            grid-template-rows: auto;
            grid-auto-flow: row;
            padding: 0 2vw;
            margin: 1.8rem 0 1rem 0;

            > nav.sidenav {
                grid-row: 1 / 3;
                grid-column: 1 / 2;
                position: relative;
                z-index: initial;
                width: initial;
                margin: 0 $hmargin;
                align-self: start;  // no fill so menu's expand in the rigth pos.
            }

            > #heading {
                grid-row: 1;
                grid-column: 2 / 3;
                margin: 0 $hmargin;
            }


            > #view {
                grid-row: 2;
                grid-column: 2 / 3;
                margin: 0 $hmargin;
            }
        }
    }

    #run-pace-chart {
        margin: 0;

        .base-chart {
            padding-top: 2em; // leave more room for info box

            svg #g-bar-box {
                display: none;
            }

            // Fix the panel in the top right corner since the calcs are all bad.
            .pace-info-box {
                font-size: 0.8em;
                top: -3em !important;
                right: 0 !important;
                left: initial !important;
            }
        }
    }

    #pace-analysis-section {
        > header > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    #pace-analysis-section + .row {
        display: flex;
        flex-wrap: wrap;

        > .spans8 {
            width: initial;
            float: initial;
            flex: 1 0 auto;
            min-width: 300px;
        }
    }

    #relative-effort {
        [class|="RelativeEffort--container"] {
            flex-wrap: wrap;

            [class|="ActivitySummary--base"] {
                padding: 1em;
                min-width: 300px;
            }

            [class|="WeeklySummary--base"] {
                max-width: 100%;
                padding: 0;

                table[class|="Activities--table"] {
                    > tbody > tr > td {
                        padding: 1em 0.4em;
                        font-size: 0.85em;

                        &:first-child {
                            padding-left: 1em;
                        }
                        &:last-child {
                            padding-right: 1em;
                        }
                    }
                }
            }

            [class|="WeeklySummary--week-details"] {
                padding: 0.5em;

                > * {
                    flex: 1 1 auto;
                }
            }
        }
    }

    #similar-activities-teaser {
        > .row {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                float: initial;
                width: initial;
                flex: 1 1 auto;
                padding: 0.5em !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            > :nth-child(2) {
                flex: 1 0 auto;
            }

            .pace {
                font-size: 1em;
            }

            .js-similar-activities {
                margin: 0;
            }
        }
    }

    #similar-activities-section {
        > .main > .row {
            margin: 0;

            > * {
                width: initial;
                float: initial;
            }
        }

        #similar-activities-chart-container,
        #similar-activities-chart {
            height: initial !important;
        }
        #similar-activities-chart-container #similar-activities-chart {
            max-height: 20vh;
            display: flex;
            flex-direction: column;
        }

        table.efforts-table {
            th, td {
                padding: 1em 0.25em;
                overflow: hidden;
                word-break: break-word;

                &:first-child {
                    padding-left: 1em;
                }
                &:last-child {
                    padding-right: 1em;
                }
            }
        }
    }

    #laps,
    #critical-power {
        > .row {
            flex-wrap: wrap;
            display: flex;

            > * {
                float: initial;
                width: initial;
                flex: 1 0 auto;
                min-width: 300px;
            }
        }
    }

    #laps,
    #run-efforts-table {
        table {
            td, th {
                padding-left: 0.25em;
                padding-right: 0.25em;
            }
        }
    }

    #others {
        flex-wrap: wrap;

        > li {
            margin-bottom: 0.2em;
        }
    }

    // pageView's scroll listener hooks must be disabled.
    .sauce-disabled-scroll-listener {
        // Use pure CSS pinning that works everywhere.
        .pinnable-view {
            position: relative;

            // Must make anchor and child pinnable sticky due to inconsistent nesting.
            > .pinnable-anchor,
            > .pinnable-anchor .pinnable {
                position: sticky;
                top: 0;
                background: white;
                z-index: 11; // > segment-effort-detail (10) < menus (30)
            }
        }
    }
}
