@use 'color';
@use 'themes/dark';
@use 'themes/windows31';
@use 'themes/deepred';
@use 'themes/royalpeach';


:root {
    --sauce-bg-hue: 0;
    --sauce-bg-sat: 0%;
    --sauce-bg-light: 100%;
    --sauce-bg-shade-dir: -1;

    --sauce-fg-hue: 0;
    --sauce-fg-sat: 0%;
    --sauce-fg-light: 0%;
    --sauce-fg-shade-dir: 1;

    --sauce-accent-hue: 16;
    --sauce-accent-sat: 100%;
    --sauce-accent-light: 50%;
    --sauce-accent-shade-dir: 1;

    --sauce-accent2-hue: 45;
    --sauce-accent2-sat: 100%;
    --sauce-accent2-light: 55%;
    --sauce-accent2-shade-dir: -1;

    --sauce-accent3-hue: 212;
    --sauce-accent3-sat: 64%;
    --sauce-accent3-light: 40%;
    --sauce-accent3-shade-dir: 1;

    --sauce-accent4-hue: 198;
    --sauce-accent4-sat: 100%;
    --sauce-accent4-light: 36%;
    --sauce-accent4-shade-dir: -1;

    --sauce-border-hue: 16;
    --sauce-border-sat: 100%;
    --sauce-border-light: 50%;
    --sauce-border-shade-dir: -1;

    --sauce-border: 1.5px solid #{color.get(border)};
    --sauce-thin-border: 1px solid #{color.get(border, 50%)};
}


.sauce-theme-enabled {
    $hard-border-color: color.shade(bg, 20%);
    $mid-border-color: color.shade(bg, 10%);
    $soft-border-color: color.shade(bg, 5%);

    $link-accent: accent4;

    body {
        background-color: color.get(bg);
        color: color.get(fg);
    }


    .starred.active .app-icon.icon-star {
        filter: none !important;
    }

    .card {
        background-color: color.shade(bg, 8%);
        color: color.shade(fg, 8%);
        border-color: $hard-border-color;

        .card-footer,
        .card-section {
            border-color: $hard-border-color;
        }
    }

    #notifications-button {
        border: none;
    }

    .btn,
    .button,
    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .selection,
    .pagination a,
    .pagination span,
    .pagination em {
        color: color.shade(fg, 8%);

        &:not(.btn-unstyled) {
            background-color: color.shade(bg, 8%);
            border-color: $mid-border-color;

            &:hover,
            &:focus {
                background-color: color.shade(bg, 12%);
                border-color: $hard-border-color;
            }

            &:active,
            &.active {
                background-color: color.shade(bg, 2%);
            }

            &[disabled],
            &.disabled {
                background-color: color.shade(bg, 5%);
            }
        }

        &:hover,
        &:focus {
            color: color.shade(fg, 5%);
        }

        &:active,
        &.active {
            color: color.shade(fg, 12%);
        }

        &[disabled],
        &.disabled {
            color: color.shade(fg, 12%);
        }

        &.btn-link {
            border-color: transparent;
            background-color: transparent;
            color: color.shade(fg, 8%);

            &:hover {
                color: color.shade($link-accent, 10%);
            }
        }
    }

    .page {
        a:not(.btn),
        .btn.btn-link {
            &:link,
            &:visited {
                color: color.shade(fg, 10%);
            }

            &:hover {
                color: color.shade($link-accent, 10%);
            }

            &:active {
                color: color.shade($link-accent, 20%);
            }
        }
    }

    .btn,
    .button,
    button,
    input[type='submit'],
    input[type='button'],
    input[type='reset'] {
        &.btn-unstyled {
            background-color: transparent;
            color: color.get(fg);
        }

        &.tag {
            background-blend-mode: overlay;
            background-color: color.get(bg);
        }
    }

    .switches {
        button,
        .button,
        a.button:link,
        a.button:visited,
        a.button:hover {
            &.selected,
            &.active,
            &:active {
                background-color: color.shade(bg, 5%);
                background-image: none;
                color: color.shade(fg, 5%) !important;
                border-color: $mid-border-color;
            }
        }
    }

    #switch-discipline .button {
        color: color.shade(fg, 8%);
    }

    .pagination {
        .disabled,
        .disabled:hover {
            background-color: #5551;
            border-color: #5555;
            color: color.darken(fg, 10%);
        }

        .active .btn,
        .active span {
            background-color: color.shade(accent, -5%);
            border-color: color.shade(accent, -20%);
            color: color.get(fg);
        }
    }

    .page {
        a:not(.btn),
        .btn.btn-link {
            &:link,
            &:visited {
                //color: color.shade(fg, 4%);  // XXX messes up valid blue links.  Why do we need this again?
            }
        }
    }

    .drop-down-menu {
        &.active .selection {
            background-color: color.shade(bg, 10%);
        }

        .options {
            background-color: color.shade(bg, 10%);
            color: color.shade(fg, 10%);
            border-color: $hard-border-color;

            li > * {
                color: inherit;
            }

            .sauce-group {
                color: color.shade(accent, 80%);
            }
        }
    }

    .drop-down-menu,
    .slide-menu {
        .options {
            a:hover,
            .clickable:hover,
            .btn:hover {
                background-color: color.shade(bg, 15%);
            }

            .opt-group.premium {
                background-color: color.shade(accent4, 15%);

                a,
                .clickable,
                .btn {
                    &:hover {
                        background-color: color.shade(accent4, 20%);
                    }
                }
            }
        }
    }

    .slide-menu {
        box-shadow: none;

        .active {
            background: transparent;
        }
    }

    .pagenav {
        border: none;
        background-color: color.lighten(bg, 5%); // XXX probably use shade

        li {
            border-color: $hard-border-color;

            > a {
                color: color.darken(fg, 10%); // XXX probably use shade

                &:hover,
                &:active {
                    background-color: color.lighten(bg, 10%); // XXX probably use shade
                }

                &:focus {
                    outline: none;
                }
            }

            &.selected a {
                color: color.lighten(fg, 10%); // XXX probably use shade
            }
        }
    }

    #basic-analysis {
        .chart,
        #stacked-chart {
            background-color: color.shade(bg, 8%);
        }

        .xaxis-container .background,
        rect.static-label-box,
        rect.static-info-box {
            fill: color.shade(bg, 10%);
        }

        text.static-info-box.value {
            fill: color.shade(fg, 0%);
        }
    }

    #global-header {
        background-color: color.shade(accent, -15%) !important;
        border: none;

        .collapsable-nav {
            .nav-container {
                //background-color: color.shade(bg, 5%);  Breaks header! XXX
            }

            a.btn.btn-mobile-menu {
                background-color: transparent;
            }
        }

        #notifications-button {
            background: transparent;
        }

        #notifications-drop-down {
            background-color: color.lighten(bg, 10%);
            color: color.darken(fg, 10%);

            li a {
                color: color.darken(fg, 10%);

                &:hover {
                    background-color: color.lighten(bg, 5%);
                }
            }
        }

        .nav-group .drop-down-menu {
            &.active,
            &:hover {
                background-color: #0006;

                .nav-link {
                    background: transparent;
                    color: color.shade(accent, 85%);
                }
            }

            .selection {
                border: none;
            }

            .app-icon {
                filter: initial;
                background-position: initial !important;
            }
        }

        .nav-bar {
            .nav-link,
            .nav-link:visited {
                color: color.shade(accent, 80%);
            }

            .selected.nav-item {
                box-shadow: inset 0 -2px 0 0 #fff;
            }

            .nav-item {
                &,
                &:hover {
                    .btn-default {
                        color: color.shade(fg, 8%);
                    }

                    .btn-primary {
                        color: color.get(fg);

                        &:hover {
                            color: color.shade(fg, -12%);
                        }
                    }
                }
            }
        }
    }

    section,
    .section {
        header,
        .header {
            background-color: color.shade(bg, 10%);
            border: none;
        }

        footer,
        .footer {
            box-shadow: none;
        }

        &.with-border {
            border-color: $soft-border-color;
        }
    }

    .section {
        border-color: $hard-border-color;
    }

    footer.achievements {
        background-color: color.lighten(bg, 5%);
    }

    thead th {
        border-bottom-color: $hard-border-color;
    }

    table:not(.unstyled) > thead > tr {
        background-color: color.lighten(bg, 5%);
    }

    .grabber {
        background-color: color.lighten(bg, 10%);
        background-blend-mode: overlay;
    }

    .ReactModal__Content [class|="Modal--content"] {
        background-color: color.lighten(bg, 5%);
    }

    .activity-stats {
        .section {
            border-color: $soft-border-color;
        }

        .secondary-stats.inline-stats:not(.sauce-stats) {
            background-color: color.lighten(bg, 5%);
        }
    }

    .activity-summary-container:before {
        border-color: $soft-border-color;
    }

    td {
        border-bottom-color: color.lighten(bg, 10%);
    }

    .actions-menu {
        border-color: transparent;
        background-color: color.shade(bg, 10%);
        border-radius: 4px;

        > .slide-menu.active {
            background-color: transparent;
        }

        > .button:hover,
        > .slide-menu .selection:hover {
            background-color: color.shade(bg, 15%) !important;
        }

        > * {
            background-color: color.shade(bg, 10%) !important;
            border-radius: inherit;
        }
    }

    #heading {
        .button {
            background: transparent;
        }

        .button,
        .sharing {
            border-color: transparent
        }
    }

    .lightbox-window {
        $body-bg-color: color.shade(bg, 10%);
        background-color: $body-bg-color;
        color: color.shade(fg, 10%);
        border: none;

        .modal-header,
        .glossary-header {
            background-color: color.shade(accent, -20%);
            color: color.shade(accent, 80%);
            border-color: $soft-border-color;
        }

        .tabs {
            background-color: color.shade(bg, 15%);
            border-color: $hard-border-color;

            .tab {
                color: inherit;
            }

            .selected .tab {
                background-color: $body-bg-color;
                border-color: $hard-border-color;
            }
        }

        .modal-body,
        .glossary-body {
            background-color: $body-bg-color !important;
        }

        .modal-footer {
            background-color: color.shade(bg, 0%) !important;
        }

        .comments,
        .list-athletes {
            li,
            form {
                border-color: $hard-border-color !important;
            }
        }

        .glossary-body .btn-group-vertical .btn.selected {
            background-color: color.shade(bg, 5%);
        }
    }

    input:not([type="range"]),
    textarea,
    .textarea-clone {
        background-color: color.shade(bg, 8%) !important;
        color: color.shade(fg, 8%) !important;
        border-color: $hard-border-color !important;

        &:focus {
            background-color: color.shade(bg, 2%) !important;
            color: color.shade(fg, 2%) !important;
        }
    }

    #notifications-drop-down {
        border-color: $hard-border-color !important;

        li {
            border-color: $hard-border-color !important;

            &.unread {
                background-color: color.shade(bg, 2%) !important;
            }
        }
    }

    .activity-summary .others-section-v2 {
        border-color: $hard-border-color !important;
    }

    #map-container,
    #map-canvas {
        border: none;
    }

    .grabber {
        border-color: $hard-border-color !important;
    }

    #heading.collapsed header,
    #progress-goals .yearly-goal {
        border-color: $hard-border-color !important;
    }

    .infobox {
        background-color: color.shade(bg, 2%) !important;
        color: color.shade(fg, 2%) !important;
    }

    #basic-analysis #effort-detail {
        color: color.shade(fg, 2%) !important;
    }

    .base-chart {
        rect.simple-bar {
            stroke: color.shade(bg, 8%);
        }

        .grid-line {
            stroke: color.shade(bg, 8%);
        }

        .line-chart-curr-fill,
        .line-chart-range-fill,
        .area-chart-curr-fill {
            fill: color.shade(fg, 10%);
        }

        .area-chart-curr-fill {
            opacity: 0.5;
        }

        .s-chart-tooltip-svg,
        #infoBox rect,
        .chart-tooltip {
            fill: color.shade(bg, 15%);
            stroke: color.shade(fg, 10%);
            shape-rendering: auto;
        }

        .crossbar {
            stroke: color.shade(fg, 3%);
        }
    }

    #basic-analysis {
        g .bottom-line.partial,
        .xaxis-container .domain,
        .base-chart .extent {
            stroke: color.shade(fg, 30%) !important;
        }
    }

    #relative-effort {
        [class*="WeekInsight--title"] {
            color: color.shade(fg, 10%);
        }

        [class*="WeekInsight--description"],
        [class*="WeekInsight--date-range"] {
            color: color.shade(fg, 20%);
        }

        [class*="ActivitySummary--impact"] {
            color: color.shade(fg, 5%);
        }

        table[class*="Activities--table"] {
            tr {
                &:nth-child(odd) {
                    background-color: #7773;
                }

                td {
                    background-color: transparent;
                }
            }
        }
    }

    svg.recharts-surface {
        g.recharts-layer {
            path.recharts-area-area {
                fill: color.shade(accent, -30%);
            }

            path.recharts-area-curve {
                stroke: color.shade(fg, 30%);
            }
        }

        g.recharts-cartesian-grid-vertical,
        g.recharts-cartesian-axis {
            line {
                stroke: color.shade(fg, 40%);
            }
        }

        circle.recharts-dot {
            fill: color.shade(fg, 0%);
            stroke: color.shade(bg, 50%);
        }
    }

    footer {
        background-color: color.shade(bg, 5%);
        color: color.shade(fg, 8%);
        border-color: $hard-border-color;

        .footer-promos,
        .footer-global {
            background-color: transparent;
            color: inherit;

            a {
                color: inherit;
            }
        }
    }

    #athlete-profile {
        #totals li strong {
            color: color.shade(fg, 5%);
        }
    }

    .sidebar-footer {
        a,
        .dropdown .btn,
        .copyright {
            color: color.shade(fg, 15%);
        }
    }

    .activity-map-tag {
        background-color: color.shade(bg, 10%) !important;
        border-color: $hard-border-color;
        color: color.shade(fg, 0%);
    }

    .entry-images .entry-image-wrapper {
        background-color: transparent;
    }

    .tabbed-cards {
        .tabs {
            &.tabs-justified > li {
                border-bottom: none;
            }

            > li .tab {
                background-color: color.shade(bg, 12%);
                border-color: $hard-border-color;
            }

            > li.selected .tab,
            > li[aria-selected="true"] .tab {
                background-color: color.shade(bg, 8%);
            }

            > li:hover .tab {
                background-color: color.shade(bg, 20%);
            }
        }

        .tab-contents {
            border-top: none;
            border-color: $hard-border-color;
            background-color: color.shade(bg, 8%);

            > div {
                background-color: color.shade(bg, 8%);
            }
        }
    }

    #js-dashboard-athlete-goals {
        [class*="ProgressGoalsRelativeEffortTab--head"] {
            color: color.shade(fg, 10%);
        }

        [class*="WeeklyGraph--container"] {
            background-color: transparent;

            svg {
                text {
                    fill: color.get(fg);
                }
            }
        }

        .text-caption2 {
            color: color.shade(fg, 10%);
        }

        [class*="WeekChart--bar"] {
            > span {
                background-color: color.shade(fg, 10%);
            }
        }

        [class*="Stat--stat-label"] {
            color: color.shade(fg, 10%);
        }
    }



    .feed {
        .group-activity {
            .list-entries .avatar,
            .group-activity-icon {
                background-color: color.shade(bg, 15%);
                border-color: $hard-border-color;
            }

            > .entry-media::before,
            .list-entries > li::before {
                border-color: $hard-border-color;
            }
        }

        .feed-entry {
            .kudos-comments {
                .media-actions .btn {
                    background-color: color.shade(bg, 15%);
                    border-color: $hard-border-color;

                    &:hover {
                        background-color: color.shade(bg, 20%);
                    }

                    &:active {
                        background-color: color.shade(bg, 5%);
                    }
                }

                .kudos-facepile .avatar img {
                    background-color: color.shade(bg, 15%);
                    border-color: $hard-border-color;
                }
            }

            .entry-comments form .media-content {
                border-color: $hard-border-color;
            }

            a, .entry-athlete, .entry-author {
                color: color.shade(fg, 8%);
            }

            .list-stats, .goal-message, .featured-achivements {
                color: color.shade(fg, 12%);
            }

            .entry-container > .entry-head::before,
            .entry-container > .entry-body::before {
                border-color: $hard-border-color !important;
            }

            .entry::before {
                background-color: color.shade(bg, 20%) !important;
            }

            .entry-body .media {
                border-color: $hard-border-color !important;
            }

            .dropdown .dropdown-toggle:hover {
                background-color: color.shade(bg, 12%);
            }

            .comments li {
                border-color: $hard-border-color !important;
            }

            .achievement-celebration {
                background-color: color.shade(bg, 12%);
                color: color.shade(fg, 4%);
            }
        }
    }

    .stat-subtext,
    .feed time {
        color: color.shade(fg, 10%);
    }

    .invite-friends {
        background-color: color.shade(bg, 8%);
    }

    ul.tabs {
        border: none;

        .tab {
            color: color.shade(fg, 8%);
        }

        > li {
            border-bottom: 1px solid $hard-border-color;

            &:hover .tab {
                background-color: color.shade(bg, 8%);
            }
        }

        > li.selected,
        > li[aria-selected='true'] {
            border-bottom: none;

            .tab {
                background-color: transparent;
                border-color: $hard-border-color;
                color: color.shade(fg, 2%);
            }
        }
    }

    ul.list-athletes > li {
        border-color: $hard-border-color;
    }

    table.striped tr:last-child td {
        border-color: $soft-border-color;
    }

    .table-striped > tbody > {
        tr:nth-of-type(even) {
            background-color: color.shade(bg, 3%);
        }
    }

    #activity_table.table-striped {
        tr:nth-of-type(even) {
            background-color: color.shade(bg, 3%);
        }

        tr:nth-of-type(odd) {
            background-color: color.shade(bg, 5%);
        }

        td {
            background: transparent;
        }
    }

    .striped {
        > li,
        > div,
        > tr {
            border-color: $soft-border-color;

            &:nth-child(even) {
                background-color: color.shade(bg, 3%);
            }
        }
    }

    .table > tbody > tr > td {
        border-color: $mid-border-color;
    }

    .table th {
        background-color: color.shade(bg, 8%);
        border-color: $soft-border-color;
    }

    .sidebar {
        .comparison table {
            th, td {
                border-color: $soft-border-color;
            }
        }

        .section {
            border-color: $soft-border-color;
        }
    }

    .drop-down-menu .options a,
    .slide-menu .options a,
    .drop-down-menu .options .clickable,
    .slide-menu .options .clickable,
    .drop-down-menu .options .btn,
    .slide-menu .options .btn {
        color: color.shade(fg, 8%);
    }

    #profile-heatmap-upsell,
    section.feature-section,
    .section.feature-section {
        background-color: color.shade(bg, 5%);
        color: color.shade(fg, 5%);
    }

    [class|="StarToggle--star"] {
        background: transparent !important;
    }

    .panel {
        background-color: color.get(bg);
        border-color: $hard-border-color;
        color: color.get(fg);
    }

    #search-results {
        th {
            background-color: color.shade(bg, 5%);
            border-color: $hard-border-color;

            > .btn {
                border: none;
                border-radius: 0;
            }
        }

        td.active,
        th.active {
            background-color: color.shade(bg, 8%);
        }
    }

    .form-control {
        background-color: color.shade(bg, 8%);
        color: color.shade(fg, 8%);
        border-color: $hard-border-color;
    }

    .challenge-list-view li {
        &,
        .challenge-logo {
            border-color: $soft-border-color;
        }
    }

    #explorer .main-content {
        #segments-sidebar,
        .toggle-sidebar.hide {
            background-color: color.shade(bg, 8%);
        }

        #segment-list ul li:hover {
            background-color: color.shade(bg, 15%);
        }
    }

    .info {
        color: color.shade(fg, 8%);
    }

    .leaflet-control-layers, .leaflet-bar {
        background-color: color.shade(bg, 8%);
    }

    .leaflet-container .leaflet-control-attribution {
        background-color: color.shade(bg, 8%);
    }

    .leaflet-popup-content-wrapper,
    .map-legends,
    .map-tooltip,
    .segment-info-box {
        background-color: color.shade(bg, 8%);
    }

    .segment-info-box .info-box-header h1 {
        color: color.shade(fg, 8%);
    }

    .segment-info-box .records {
        background-color: color.shade(bg, 10%);
    }

    .segment-info-box .details-link .button {
        border-color: $hard-border-color;
    }

    #strava-map-controls {
        a {
            color: color.shade(fg, 8%);
        }

        button,
        .button,
        .drop-down-menu .selection {
            background-color: color.shade(bg, 8%);
            color: color.shade(fg, 8%);

            &:hover {
                background-color: color.shade(bg, 15%);
            }
        }

        .drop-down-menu .selection::after {
             border-top-color: color.shade(fg, 8%);
        }
    }

    .elevation-chart,
    .activity-charts {
        .axis,
        .info-box,
        .chart-separator {
            stroke: color.shade(fg, 8%);
        }

        .grid {
            stroke: color.shade(bg, 20%);
        }

        .fill {
            fill: color.shade(bg, 25%, 50%);
        }

        .info-box {
            fill: color.shade(bg, 10%, 50%);
        }
    }

    .leaderboard {
        .filters {
            border-color: $hard-border-color;

            a, .option {
                color: color.shade(fg, 8%);
            }

            a.selected {
                background-color: color.shade(accent, -8%);
            }

            a:hover {
                background-color: color.shade(accent, -12%);
            }

            .option {
                background-color: color.shade(bg, 8%);
                background-image: none;
            }

            #premium-new ul {
                border-color: $hard-border-color;
            }
        }

        td.athlete a {
            color: color.shade(fg, 15%);
        }

        tr.highlighted {
            td:not(:last-child) {
                border-right-color: $hard-border-color;
            }

            td {
                background-color: color.shade(bg, 20%);
            }
        }
    }

    .leaflet-container {
        .leaflet-control-attribution a,
        .map-info-container a {
            color: color.shade(fg, 8%);
        }
    }

    .feed-header #feed-filter {
        &.open .dropdown-toggle {
            background-color: color.shade(bg, 15%);
            border-color: $hard-border-color;
            color: color.shade(fg, 10%);
        }

        .dropdown-toggle:hover {
            background-color: color.shade(bg, 18%);
        }
    }

    .dropdown-menu {
        background-color: color.shade(bg, 5%);
        color: color.shade(fg, 5%);
        overflow: auto !important;

        > li > a {
            &::after {
                border-color: $soft-border-color;
            }

            &:hover,
            &:focus {
                background-color: color.shade(bg, 10%);
                color: color.shade(fg, 2%);
            }
        }
    }

    .dropdown.open {
        .btn.dropdown-toggle {
            &,
            &:hover,
            &:focus {
                background-color: color.shade(bg, 2%);
                border-color: $hard-border-color;
            }
        }

        ul li .btn {
            background-color: color.shade(bg, 2%);

            &:hover {
                background-color: color.shade(bg, 5%);
            }
        }
    }

    ul.routes-list li.route-card {
        background-color: color.shade(bg, 5%);
        color: color.shade(fg, 5%);

        .timestamp {
            background-color: color.shade(bg, 8%);
            color: color.shade(fg, 8%);
        }

        .actions {
            background-color: color.shade(bg, 8%);
            color: color.shade(fg, 8%);
        }
    }

    .inline-stats .label,
    .inline-stats .stat-subtext,
    .inline-stats.nav-style a {
        color: color.shade(fg, 5%);
    }
    .inline-stats.nav-style a:hover {
        color: color.shade($link-accent, 10%);
    }

    label,
    .label,
    .form-control-label {
        color: color.shade(fg, 5%);
    }

    .sport-select {
        border-color: $hard-border-color;
    }

    hr {
        border-color: $hard-border-color;
    }

    .ui-datepicker {
        border-color: $hard-border-color;
        background-color: color.shade(bg, 8%);
        color: color.shade(fg, 8%);

        .ui-datepicker-header {
            background-color: color.shade(bg, 12%);
            color: color.shade(fg, 12%);
        }
    }

    & {
        $ride-color: color.shade(accent, -30%);
        $ride-border-color: color.shade(accent, -40%);
        $run-color: color.shade(accent2, -30%);
        $run-border-color: color.shade(accent2, -40%);
        $swim-color: color.shade(accent4, -30%);
        $swim-border-color: color.shade(accent4, -40%);

        .activity-summary-v2 {
            .activity-breakdown {
                .legend dt.label-ride::after,
                .cycling {
                    background-color: $ride-color;
                    border-color: $ride-border-color;
                }

                .legend dt.label-run::after,
                .running {
                    background-color: $run-color;
                    border-color: $run-border-color;
                }

                .legend dt.label-swim::after,
                .swimming {
                    background-color: $swim-color;
                    border-color: $swim-border-color;
                }
            }

            .activity-calendar {
                .highlighted .activity-indicator {
                    background-color: color.shade(fg, 12%);
                }

                .day {
                    color: color.shade(fg, 12%);
                }
            }
        }


        .ride-type-ride,
        .ride-type,
        .ride-workout-type-10,
        .tt-workout-type-ride .key-chip,
        .tt-workout-type-virtualride,
        .tt-workout-type-ebikeride {
            .key-chip {
                background-color: $ride-color;
            }
        }

        .run-type-run,
        .run-workout-type-0,
        .run-type,
        .tt-workout-type-run {
            .key-chip {
                background-color: $run-color;
            }
        }

        .swim-type,
        .tt-workout-type-swim {
            .key-chip {
                background-color: $swim-color;
            }
        }

        #training-header {
            background-color: color.get(bg);
            color: color.shade(fg, 0%);
        }

        #training-log-intervals {
            .activity-type-wrapper {
                stroke: color.shade(bg, 40%);
                fill: color.shade(bg, 15%);
            }

            .activity-sport-ride,
            .activity-type-ride,
            .activity-type-ebikeride,
            .activity-type-virtualride {
                fill: $ride-color;
                stroke: $ride-border-color;
            }

            .activity-sport-run,
            .activity-type-run {
                fill: $run-color;
                stroke: $run-border-color;
            }

            .activity-sport-swim,
            .activity-type-swim {
                fill: $swim-color;
                stroke: $swim-border-color;
            }

            .activity-threshold-zero {
                fill: color.shade(fg, 20%) !important; 
                stroke: color.shade(bg, 20%) !important;
            }

            .sum,
            text.day-total {
                fill: color.get(fg) !important;
            }
        }
    }

    .posts.topics,
    #discussion-topics {
        > li {
            border-color: $hard-border-color;
        }

        .post-container ol.comments > li {
            border-color: $soft-border-color;

            &.see-all {
                background-color: color.shade(bg, 5%);
                color: color.shade(fg, 5%);
            }
        }
    }

    .shared-content {
        border-color: $soft-border-color;

        .shared-content-text {
            color: color.shade(fg, 5%);
        }
    }

    #header-photos ul a {
        border-color: $soft-border-color;
    }

    .profile-heading .avatar img {
        border-color: $hard-border-color;
    }

    a.view-all-link {
        color: color.shade(fg, 5%);
    }

    .athlete-graph ul.intervals .interval {
        border-left-color: $soft-border-color;
    }

    .photostream .show-more {
        background-color: color.shade(bg, 5%);

        a, .btn {
            color: color.shade(fg, 5%);

            &:hover,
            &:focus {
                background-color: color.shade(bg, 15%);
            }
        }
    }

    .select2-drop {
        background-color: color.shade(bg, 12%);
        color: color.shade(fg, 12%);
    }

    #performance-goal {
        .select2-container {
            .select2-search-choice {
                background-color: color.shade(bg, 8%);
                color: color.shade(fg, 2%);
            }

            .select2-choices {
                background-color: color.shade(bg, 12%);
                color: color.shade(fg, 12%);
                border-color: $hard-border-color;
            }
        }

        .email-share-container {
            a {
                color: color.shade(fg, 12%);
            }
        }

        .others-leaderboard {
            header, .header {
                color: color.shade(bg, 8%);
            }
        }
    }

    .select2-results {
        .select2-no-results,
        .select2-searching,
        .select2-selection-limit {
            background-color: color.shade(bg, 15%);
            color: color.shade(fg, 15%);
        }
    }

    .strava-tt {
        background-color: color.shade(bg, 12%);
        color: color.shade(fg, 12%);
        border-color: $hard-border-color;

        .tt-date, .tt-start, .tt-type, table {
            color: inherit;
        }
    }

    .xt-day {
        text-shadow: initial;
    }

    .month-chart {
        .week-total-primary {
            fill: color.shade(fg, 8%);
        }

        .week-total-secondary {
            fill: color.shade(fg, 12%);
        }

        .week-total-tertiary {
            fill: color.shade(fg, 15%);
        }

        .date-range, .month-change-text {
            fill: color.shade(fg, 10%);
        }

        .current-week-pill {
            fill: color.shade(bg, 10%);
        }
    }

    .training-log-ftue-lightbox {
        background-color: color.shade(bg, 8%);
    }

    #privacy-control #privacy-control-options {
        background-color: color.shade(bg, 8%);
    }

    ol#events-nav {
        li ol.months > li,
        .year > a {
            border-color: color.shade(bg, 10%);
            background-color: transparent !important;
        }

        a {
            color: color.shade(fg, 15%);
        }

        li.selected {
            ol.months > li.selected {
                border-color: color.shade(accent, -10%);
            }

            > a {
                color: color.shade(fg, 0%);
            }
        }

        > li ol ol.events li a {
            color: color.shade(fg, 8%);
        }
    }

    .week-shelf,
    .week-shelf-connection {
        shape-rendering: auto;
        stroke: color.shade(bg, 20%);
        stroke-dashArray: initial;
    }

    .year-calendar {
        strong {
            color: color.shade(fg, 2%);
        }

        a {
            background-color: color.shade(bg, 8%);
            color: color.shade(fg, 8%);

            &:hover {
                background-color: color.shade(bg, 12%);
            }
        }

        .interval-graph .bar .fill {
            background-color: color.shade(fg, 8%);
        }
    }

    .interval-graph {
        .label strong,
        .legend strong {
            color: color.shade(fg, 8%);
        }
    }

    .month-calendar {
        th, td {
            border-color: $soft-border-color;
        }

        th {
            background-color: color.shade(bg, 12%);
        }

        td {
            background-color: color.shade(bg, 8%);
        }

        .day {
            color: color.shade(fg, 8%);
        }
    }

    table.distribution-chart tbody td:not(:last-child) {
        background-color: color.shade(bg, 12%);
    }

    .pinned .pinnable {
        background-color: color.get(bg);
    }

    .ride.segments-list,
    .swim.segments-list {
        tr.selected {
            background-color: color.shade(bg, 5%);
        }
    }

    .ride, .swim {
        .segment-effort-detail {
            .content {
                border-color: $hard-border-color;
            }

            .rank strong {
                color: color.shade(fg, 2%);
            }

            .pr-comparison {
                background-color: color.shade(bg, 10%);
                border-color: $hard-border-color;
            }

            .segment-leaderboard table {
                background-color: color.shade(bg, 10%);
                color: color.shade(fg, 8%);

                thead {
                    background-color: color.shade(bg, 14%);
                }

                th {
                    color: color.shade(fg, 8%);
                }
            }

            .leaderboard-footer {
                background-color: color.shade(bg, 10%);
            }
        }
    }

    .run .segment-effort-detail {
        border-color: $hard-border-color;

        .global-records {
            border-color: $mid-border-color;
        }

        &,
        .effort-details .avatar,
        .this-effort {
            background-color: color.shade(bg, 5%); // Must apply to all of these to hide some border lines
        }

        .leaderboard-summary {
            background-color: color.shade(bg, 8%);
        }

        .link-menu a {
            background-color: color.shade(bg, 12%);
            border-color: $hard-border-color;
        }
    }

    table.segments,
    table.hidden-segments,
    table.laps-list {
        tr.selected > td:first-child {
            box-shadow: inset 3px 0 0 color.shade(accent, -5%);
        }
    }

    .drop-down-menu .options .opt-group .label,
    .slide-menu .options .opt-group .label {
        background-color: color.shade(bg, 5%);
    }

    .row [class*="spans"].border-left {
        border-color: $hard-border-color;
    }

    #appUpsell {
        background-color: color.shade(bg, 5%);
    }

    .list-devices li {
        background-color: color.shade(bg, 30%);
    }

    #uploadFile form {
        background-color: color.shade(bg, 8%);
    }

    .form-control::placeholder {
        color: color.shade(fg, 50%, 80%);
    }

    button[class*="StepActions--cancel"] {
        background: transparent;
        border: none;
        color: color.get(accent4);
    }

    .visibility-section {
        border-color: $hard-border-color;
    }

    .stats-container {
        background-color: color.shade(bg, 8%);
    }

    [class*="ExpandableOptionList--who-can-see"] {
        background-color: color.shade(bg, 5%);
        border-color: $hard-border-color;
    }

    .dropzone {
        background-color: color.shade(bg, 5%);
        border-color: $hard-border-color;
    }

    .activity-tags {
        label {
            background-color: color.shade(bg, 8%);
            border-color: $soft-border-color;

            &:hover {
                background-color: color.shade(bg, 12%);

                &::before,
                &::after {
                    border-right-color: color.shade(bg, 12%);
                }
            }

            &::before,
            &::after {
                border-right-color: color.shade(bg, 8%);
            }
        }

        input:checked + label {
            background-color: color.shade(accent2, 3%);
            color: color.shade(bg, 10%);

            &::before,
            &::after {
                border-right-color: color.shade(accent2, 3%);
            }
        }
    }

    #settings-menu {
        a:link,
        a:visited {
            background-color: color.shade(bg, 8%);
            color: color.shade(fg, 8%);
            border-color: $mid-border-color;
        }

        .selected a {
            background-color: color.shade(accent, -10%);
            color: color.shade(fg, -10%);
        }
    }

    .upsell {
        background-color: color.shade(bg, 5%);
    }

    .setting,
    .editable-setting {
        border-color: $mid-border-color;
    }

    .editable-setting {
        &:hover,
        &.editing {
            background-color: color.shade(bg, 12%);
            color: color.shade(fg, 10%);
        }
    }

    .setting-label,
    #my-profile .timezone-container {
        color: color.shade(fg, 10%);
    }

    table.gear tr:hover td {
        background-color: color.shade(bg, 12%);
    }

    #apps .app {
        border-color: $mid-border-color;
    }

    ul.list-objects > li {
        border-color: $mid-border-color;
    }

    #fitness-freshness .list-stats li {
        color: color.shade(fg, 8%);
    }

    .dropdown-menu > li {
        > a,
        > .btn {
            color: color.shade(fg, 8%);
        }
    }

    #about-container {
        background-color: color.shade(bg, 15%);
    }

    button.close-action {
        color: transparent;
    }

    .content form.search {
        background-color: color.shade(bg, 8%);
        border-color: $mid-border-color;
        box-shadow: none;
    }

    .card-body .chart-container {
        background-color: transparent;

        > svg.progress-bar-svg-container {
            background-color: color.shade(bg, 8%);
        }
    }

    .list-apps .app-card {
        background-color: color.shade(bg, 8%);
        border-color: $mid-border-color;
    }   

    .apps-container {
        background-color: color.shade(bg, 8%);
        background-image: none;
        border-color: $mid-border-color;
    }

    #race-features {
        background-color: color.shade(bg, 3%);
        border-color: $mid-border-color;
        color: color.shade(fg, 3%);
    }

    #parent-regions-nav {
        background-color: color.shade(bg, 8%);
    }

    #regions-nav li a {
        color: color.shade(fg, 3%);
    }

    .list-parent-regions h2 {
        background-color: color.shade(bg, 8%);

        a {
            color: color.shade(fg, 3%);
        }
    }

    #global-footer {
        &,
        nav,
        .upsell-container {
            background-color: color.shade(bg, 5%);
            color: color.shade(fg, 12%);

            a {
                color: color.shade(fg, 12%);
            }
        }
    }

    .testimonials {
        background-color: color.shade(bg, 5%);
        color: color.shade(fg, 12%);
    }

    .navbar {
        a:not(.btn),
        .dropdown .dropdown-toggle {
            color: color.shade(fg, 8%);
        }
    }

    .perk-row {
        background-color: color.shade(bg, 12%);

        .perk-details,
        .terms-link {
            color: color.shade(fg, 8%);
        }
    }

    .product {
        color: color.shade(fg, 8%);
    }

    #athlete-history-chart {
        #effort-box-activity-date {
            fill: color.shade(fg, 12%);
        }

        #effort-box {
            fill: color.shade(bg, 12%);
            stroke: color.shade(fg, 12%);
        }

        .vgrid,
        .axis {
            stroke: color.shade(bg, 5%);
        }

        #vgrid-selected {
            stroke: color.shade(accent, -15%);
        }
        #hgrid-selected {
            stroke: color.shade(accent4, 15%);
        }
    }

    .leaderboard .loading-panel {
        background-color: color.get(bg, 75%);
    }

    .stats-container .activity-map {
        background-color: color.shade(bg, 5%);
    }

    #similar-activities-trend-chart svg {
        .horiz-line, .vert-line {
            stroke: color.shade(bg, 15%);
        }
    }

    #similar-activities-section #similar-activities-chart-container #similar-activities-chart {
        .effort-flag {
            fill: color.shade(bg, 15%);
            stroke: color.shade(fg, 8%);
        }

        .effort-flag-link.original-effort-link,
        .effort-flag-pace {
            fill: color.shade(fg, 5%);
        }
    }

    #roster {
        thead th {
            background-color: color.shade(bg, 10%);
        }

        .roster-entry-row:nth-child(even) td {
            background-color: color.shade(bg, 3%);
        }
    }

    #sidebar {
        background-color: color.shade(bg, 8%);

        .info {
            background-color: color.shade(bg, 12%);
        }

        .labs-disclaimer {
            background-color: color.shade(bg, 15%);
        }
    }

    #compare-graph {
        &,
        #compare-info-text {
            background-color: color.shade(bg, 8%);
        }

        svg {
            text {
                fill: color.shade(fg, 8%);
            }

            line {
                fill: color.shade(fg, 8%);
            }
        }
    }

    #compare-outer {
        .ui-resizable-n {
            background-color: color.shade(bg, 8%);
        }
    }

    #scrubber {
        background-color: color.shade(bg, 8%);
    }

    #analysis-chart svg {
        .yaxis2,
        .xaxis {
            .tick line {
                stroke: color.shade(bg, 5%);
                shape-rendering: auto;
            }
        }

        line.baseline {
            stroke: color.get(fg);
        }
    }

    .add-to-roster {
        color: color.shade(accent4, 10%);
    }

    .remove-from-roster {
        color: color.shade(accent, -10%);
    }

    .pace-info-box {
        background-color: color.shade(bg, 8%);
        border-color: $hard-border-color;
    }

    #search-results.table .edit-col {
        background-color: color.shade(bg, 8%);
    }

    #content-view .activity-content .sidebar {
        background-color: color.get(bg);
    }
}


.sauce-theme-dark {
    @include dark.theme;
}

.sauce-theme-windows31 {
    @include windows31.theme;
}

.sauce-theme-royalpeach {
    @include royalpeach.theme;
}

.sauce-theme-deepred {
    @include deepred.theme;
}
