@use 'color';

:root {
    --sauce-bg-hue: 0;
    --sauce-bg-sat: 0%;
    --sauce-bg-light: 100%;
    --sauce-bg-shade-dir: -1;

    --sauce-fg-hue: 0;
    --sauce-fg-sat: 0%;
    --sauce-fg-light: 0%;
    --sauce-fg-shade-dir: 1;

    --sauce-accent-hue: 16;
    --sauce-accent-sat: 100%;
    --sauce-accent-light: 50%;
    --sauce-accent-shade-dir: -1;
}


.sauce-dark-mode {
    --sauce-bg-light: 8%;
    --sauce-bg-shade-dir: 1;
    --sauce-fg-light: 80%;
    --sauce-fg-shade-dir: -1;

    $hard-border-color: color.shade(bg, 20%);
    $soft-border-color: color.shade(bg, 5%);

    body {
        background-color: color.get(bg);
        color: color.get(fg);
    }

    .app-icon {
        &:not(.icon-badge-premium):not(.icon-badge-pro):not(.icon-premium) {
            filter: invert(1);
        }
    }

    .card {
        background-color: color.shade(bg, 8%);
        color: color.shade(fg, 8%);

        .card-footer,
        .card-section {
            border-color: $hard-border-color;
        }
    }

    #notifications-button {
        border: none;
    }

    .btn,
    .button,
    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .selection,
    .pagination a,
    .pagination span,
    .pagination em {
        background-color: #5554;
        border-color: #5559;
        color: color.darken(fg, 2%);

        &:active,
        &.active {
            background-color: #5559;
            border-color: #555c;
            color: color.lighten(fg, 6%);
        }

        &:hover,
        &:focus {
            background-color: #5556;
            border-color: #555a;
            color: color.lighten(fg, 2%);
        }

        &[disabled],
        &.disabled {
            background-color: #5551;
            border-color: #5555;
            color: color.darken(fg, 10%);
        }

        &.btn-link {
            border-color: transparent;
            background-color: transparent;
            color: color.shade(fg, 10%);

            &:hover {
                color: color.shade(accent, 10%);
            }
        }
    }

    .page {
        a:not(.btn),
        .btn.btn-link {
            &:link,
            &:visited {
                color: color.shade(fg, 4%);
            }
        }
    }

    .drop-down-menu {
        &.active .selection {
            background-color: color.lighten(bg, 10%);
        }

        .options {
            background: color.lighten(bg, 10%);
            color: color.darken(fg, 10%);
            border-color: $hard-border-color;

            li > * {
                color: inherit;
            }
        }
    }

    .drop-down-menu .options a:hover,
    .slide-menu .options a:hover,
    .drop-down-menu .options .clickable:hover,
    .slide-menu .options .clickable:hover,
    .drop-down-menu .options .btn:hover,
    .slide-menu .options .btn:hover {
        background: color.lighten(bg, 20%);
    }

    .slide-menu {
        box-shadow: none;

        &:not(:first-child) .selection {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .active {
            background: transparent;
        }

        .selection:hover {
        }
    }

    .ui-dialog {
        .ui-widget-content,
        .ui-dialog-content {
            background: color.lighten(bg, 8%);
        }
    }

    .pagenav {
        border: none;
        background: color.lighten(bg, 5%);

        li {
            border-color: $hard-border-color;

            > a {
                color: color.darken(fg, 10%);

                &:hover,
                &:active {
                    background-color: color.lighten(bg, 10%);
                }

                &:focus {
                    outline: none;
                }
            }

            &.selected a {
                color: color.lighten(fg, 10%);
            }
        }
    }

    #basic-analysis {
        .chart {
            background-color: color.lighten(bg, 10%);
        }

        rect.static-info-box {
            fill: color.lighten(bg, 20%);
        }

        #stacked-chart {
            background-color: color.lighten(bg, 20%);
        }

        .xaxis-container .background,
        rect.static-label-box {
            fill: color.lighten(bg, 25%);
        }

        text.static-info-box.value {
            fill: color.shade(fg, 0%);
        }
    }

    #global-header {
        background: color.darken(accent, 15%);
        border: none;

        .upload-button.app-icon {
            filter: invert(1) saturate(0) contrast(3) !important;
        }

        .branding {
            filter: saturate(0) contrast(5) drop-shadow(2px 2px 1px #0005);
        }

        #notifications-button {
            background: transparent;
        }

        #notifications-drop-down {
            background-color: color.lighten(bg, 10%);
            color: color.darken(fg, 10%);

            li a {
                color: color.darken(fg, 10%);

                &:hover {
                    background-color: color.lighten(bg, 5%);
                }
            }
        }

        .nav-group .drop-down-menu {
            &.active,
            &:hover {
                background: #0006;

                .nav-link {
                    background: transparent;
                    color: color.lighten(fg, 15%);
                }
            }

            .selection {
                border: none;

                &::after {
                    filter: invert(1) saturate(0) brightness(2);
                }
            }

            .app-icon {
                filter: initial;
                background-position: initial !important;
            }
        }

        .nav-bar {
            .nav-link,
            .nav-link:visited {
                color: color.lighten(fg, 10%);
            }

            .selected.nav-item {
                box-shadow: inset 0 -2px 0 0 #fff;
            }
        }
    }

    section,
    .section {
        header,
        .header {
            background: color.shade(bg, 10%);
            border: none;
        }

        &.with-border {
            border-color: $soft-border-color;
        }
    }

    .section {
        border-color: $hard-border-color;
    }

    footer.achievements {
        background: color.lighten(bg, 5%);
    }

    table:not(.unstyled) thead tr {
        background: color.lighten(bg, 5%);
    }

    .grabber {
        background: color.lighten(bg, 14%);
    }

    .leaflet-container img.leaflet-tile {
        filter: invert(1) hue-rotate(320deg);
    }

    .ReactModal__Content [class|="Modal--content"] {
        background-color: color.lighten(bg, 5%);
    }

    .activity-stats {
        .section {
            border-color: $soft-border-color;
        }

        .secondary-stats.inline-stats {
            background-color: color.lighten(bg, 5%);
        }
    }

    .activity-summary-container:before {
        border-color: $soft-border-color;
    }

    td {
        border-bottom-color: color.lighten(bg, 10%);
    }

    .ui-dialog {
        border-color: $hard-border-color;
        background-color: color.shade(bg, 10%);

        .ui-dialog-content,
        .ui-widget-content {
            border-color: $hard-border-color;
        }
    }

    .actions-menu {
        border-color: transparent;

        > * {
            background-color: color.shade(bg, 10%);
        }
    }

    #heading {
        .icon-collapse {
            filter: invert(1);
        }

        .button {
            background: transparent;
        }

        .button,
        .sharing {
            border-color: transparent
        }
    }

    .lightbox-window {
        $body-bg-color: color.shade(bg, 10%);
        background-color: $body-bg-color;
        color: color.shade(fg, 10%);
        border-color: $hard-border-color;

        .modal-header,
        .glossary-header {
            background-color: color.shade(accent, 20%);
            border-color: $soft-border-color;
        }

        .tabs {
            background-color: color.shade(bg, 15%);
            border-color: $hard-border-color;

            .tab {
                color: inherit;
            }

            .selected .tab {
                background-color: $body-bg-color;
                border-color: $hard-border-color;
            }
        }

        .modal-body,
        .glossary-body {
            background-color: $body-bg-color !important;
        }

        .modal-footer {
            background-color: color.shade(bg, 0%) !important;
        }

        .comments,
        .list-athletes {
            li,
            form {
                border-color: $hard-border-color !important;
            }
        }

        .glossary-body .btn-group-vertical .btn.selected {
            background-color: color.shade(bg, 5%);
        }
    }

    input:not([type="range"]),
    textarea,
    .textarea-clone {
        background-color: color.shade(bg, 8%) !important;
        color: color.shade(fg, 8%) !important;
        border-color: $hard-border-color !important;

        &:focus {
            background-color: color.shade(bg, 2%) !important;
            color: color.shade(fg, 2%) !important;
        }
    }

    #notifications-drop-down {
        border-color: $hard-border-color !important;

        li {
            border-color: $hard-border-color !important;

            &.unread {
                background-color: color.shade(bg, 2%) !important;
            }
        }
    }

    .activity-summary .others-section-v2 {
        border-color: $hard-border-color !important;
    }

    #map-container,
    #map-canvas {
        border: none;
    }

    .grabber {
        border-color: $hard-border-color !important;
    }

    #heading.collapsed header,
    #progress-goals .yearly-goal {
        border-color: $hard-border-color !important;
    }

    .infobox {
        background-color: color.shade(bg, 2%) !important;
        color: color.shade(fg, 2%) !important;
    }

    #basic-analysis #effort-detail {
        color: color.shade(fg, 2%) !important;
    }

    .base-chart rect.simple-bar {
        stroke: transparent;
    }

    #basic-analysis {
        g .bottom-line.partial,
        .xaxis-container .domain,
        .base-chart .extent {
            stroke: color.shade(fg, 30%) !important;
        }
    }

    #relative-effort {
        [class*="WeekInsight--title"] {
            color: color.shade(fg, 10%);
        }

        [class*="WeekInsight--description"],
        [class*="WeekInsight--date-range"] {
            color: color.shade(fg, 20%);
        }

        [class*="ActivitySummary--impact"] {
            color: color.shade(fg, 5%);
        }

        table[class*="Activities--table"] {
            tr {
                &:nth-child(odd) {
                    background-color: #7773;
                }

                td {
                    background-color: transparent;
                }
            }
        }
    }

    svg.recharts-surface {
        g.recharts-layer {
            path.recharts-area-area {
                fill: color.shade(accent, 30%);
            }

            path.recharts-area-curve {
                stroke: color.shade(fg, 30%);
            }
        }

        g.recharts-cartesian-grid-vertical,
        g.recharts-cartesian-axis {
            line {
                stroke: color.shade(fg, 40%);
            }
        }

        circle.recharts-dot {
            fill: color.shade(fg, 0%);
            stroke: color.shade(bg, 50%);
        }
    }

    .view > footer {
        .footer-promos,
        .footer-global {
            background-color: color.shade(bg, 5%);
            color: color.shade(fg, 5%);
        }
    }

    #athlete-profile {
        #totals li strong {
            color: color.shade(fg, 5%);
        }
    }

    .sidebar-footer {
        a,
        .dropdown .btn,
        .copyright {
            color: color.shade(fg, 15%);
        }
    }

    .activity-map.entry-image .entry-image-wrapper img,
    .group-activity-map img {
        filter: invert(1) hue-rotate(320deg);
    }

    .tabbed-cards {
        .tabs {
            > li .tab {
                background-color: color.shade(bg, 5%);
            }

            > li.selected .tab,
            > li[aria-selected='true'] .tab {
                background-color: color.shade(bg, 8%);
            }

            > li:hover .tab {
                background-color: color.shade(bg, 15%);
            }
        }

        .tab-contents > div {
            background-color: color.shade(bg, 8%);
        }
    }

    #js-dashboard-athlete-goals {
        .weekly-goal svg {
            filter: invert(1);
        }

        [class|="ProgressGoalsRelativeEffortTab--head"] {
            color: color.shade(fg, 10%);
        }

        [class|="WeeklyGraph--container"] {
            background-color: transparent;

            svg {
                text {
                    fill: color.get(fg);
                }
            }
        }
    }

    .feed {
        .group-activity {
            .list-entries .avatar,
            .group-activity-icon {
                background-color: color.shade(bg, 15%);
                border-color: $hard-border-color;
            }

            > .entry-media::before,
            .list-entries > li::before {
                border-color: $hard-border-color;
            }
        }

        .feed-entry {
            .kudos-comments {
                .media-actions .btn {
                    background-color: color.shade(bg, 15%);
                    border-color: $hard-border-color;

                    &:hover {
                        background-color: color.shade(bg, 20%);
                    }

                    &:active {
                        background-color: color.shade(bg, 5%);
                    }
                }

                .kudos-facepile .avatar img {
                    background-color: color.shade(bg, 15%);
                    border-color: $hard-border-color;
                }
            }

            .entry-comments form .media-content {
                border-color: $hard-border-color;
            }
        }
    }

    .stat-subtext,
    .feed time {
        color: color.shade(fg, 10%);
    }
}
