@use 'color';

:root {
    --sauce-bg-hue: 0;
    --sauce-bg-sat: 0%;
    --sauce-bg-light: 100%;

    --sauce-fg-hue: 0;
    --sauce-fg-sat: 0%;
    --sauce-fg-light: 0%;

    --sauce-accent-hue: 16;
    --sauce-accent-sat: 100%;
    --sauce-accent-light: 50%;
}


.sauce-dark-mode {
    --sauce-bg-light: 8%;
    --sauce-fg-light: 92%;

    body {
        background-color: color.get(bg);
        color: color.get(fg);
    }

    .btn,
    .button,
    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    .selection,
    .pagination a,
    .pagination span,
    .pagination em {
        background-color: #5554;
        border-color: #5559;
        color: color.darken(fg, 2%);

        &:active,
        &.active {
            background-color: #5559;
            border-color: #555c;
            color: color.darken(fg, -6%);
        }

        &:hover,
        &:focus {
            background-color: #5556;
            border-color: #555a;
            color: color.darken(fg, -2%);
        }

        &[disabled],
        &.disabled {
            background-color: #5551;
            border-color: #5555;
            color: color.darken(fg, 10%);
        }
    }

    .btn,
    .button,
    button,
    input[type='submit'],
    input[type='button'],
    input[type='reset'] {
        &.btn-minimal,
        &.minimal {
            &:hover,
            &:focus {
                background-color: pink;
                //border-color: #555a;
                //color: color.darken(fg, -2%);
            }
        }
    }

    .drop-down-menu.active .selection {
        background-color: color.darken(bg, -10%);
    }

    .drop-down-menu .options {
        background: color.darken(bg, -10%);
        color: color.darken(fg, 10%);
    }

    .drop-down-menu .options a:hover,
    .slide-menu .options a:hover,
    .drop-down-menu .options .clickable:hover,
    .slide-menu .options .clickable:hover,
    .drop-down-menu .options .btn:hover,
    .slide-menu .options .btn:hover {
        background: color.darken(bg, -20%);
    }

    .ui-dialog {
        .ui-widget-content,
        .ui-dialog-content {
            background: color.darken(bg, -20%);
        }
    }

    .pagenav li > a {
        &:hover,
        &:active {
            background-color: color.darken(bg, -30%);
        }
    }

    #basic-analysis {
        .chart {
            background-color: color.darken(bg, -10%);
        }

        rect.static-info-box {
            fill: color.darken(bg, -20%);
        }

        #stacked-chart {
            background-color: color.darken(bg, -20%);
        }

        .xaxis-container .background,
        rect.static-label-box {
            fill: color.darken(bg, -25%);
        }
    }

    #global-header {
        background: color.darken(accent, 15%);
        border: none;

        .nav-group .drop-down-menu {
            &.active,
            &:hover {
                background: transparent;

                .nav-link {
                    background: transparent;
                    color: color.get(fg);
                }
            }

            .selection {
                border: none;

                &::after {
                    filter: invert(1) saturate(0) brightness(2);
                }
            }
        }

        .nav-bar {
            .nav-link,
            .nav-link:visited {
                color: color.darken(fg, 10%);
            }
        }

        .app-icon.icon-search {
            filter: invert(1);
        }
    }

    section,
    .section {
        header,
        .header {
            background: color.darken(bg, -30%);
        }
    }

    footer.achievements {
        background: color.darken(bg, -30%);
    }

    table:not(.unstyled) thead tr {
        background: color.darken(bg, -40%);
    }

    .grabber {
        background: color.darken(bg, -40%);
    }

    .leaflet-container img.leaflet-tile {
        filter: invert(1) hue-rotate(320deg);
    }

    .ReactModal__Content [class|="Modal--content"] {
        background-color: color.darken(bg, -5%);
    }

    .activity-stats .secondary-stats.inline-stats {
        background-color: color.darken(bg, -5%);
    }
}
