<form class="sauce-key-value">
    <div class="entry">
        <key>{{{/enable}}} TSS</key>
        <value><input class="ds-vis" type="checkbox" name="tss"
            {{disabledDatasets.tss ? '' : 'checked'}}/></value>
    </div>
    <div class="entry">
        <key>{{{/enable}}} {{{/analysis_distance}}}</key>
        <value><input class="ds-vis" type="checkbox" name="distance"
            {{disabledDatasets.distance ? '' : 'checked'}}/></value>
    </div>
    <div class="entry">
        <key>{{{/enable}}} {{{/analysis_time}}}</key>
        <value><input class="ds-vis" type="checkbox" name="duration"
            {{disabledDatasets.duration ? '' : 'checked'}}/></value>
    </div>
    <div class="entry">
        <key>{{{/enable}}} {{{/analysis_energy}}}</key>
        <value><input class="ds-vis" type="checkbox" name="energy"
            {{disabledDatasets.energy ? '' : 'checked'}}/></value>
    </div>
</form>
