<form class="sauce-key-value">
    {{JSON.stringify(prefs)}}
    <div class="entry">
        <key>Show TSS</key>
        <value><input type="checkbox" name="tss"/></value>
    </div>
    <div class="entry">
        <key>Show Distance</key>
        <value><input type="checkbox" name="distance"/></value>
    </div>
    <div class="entry">
        <key>Show Hours</key>
        <value><input type="checkbox" name="hours"/></value>
    </div>
    <div class="entry">
        <key>Show Energy</key>
        <value><input type="checkbox" name="energy"/></value>
    </div>
</form>
