{- await embed('performance/time-range.html', obj) -}

<section class="sauce-panels">

    <div class="sauce-panel training-chart-view">
        <header class="title">
            {{{training_load_title}}}
            <a href="https://www.cyclingweekly.com/fitness/training-software-369155"
               class="more-info" target="_blank">[{{{more_info}}}]</a>
            <div class="chart-reset-zoom hidden btn btn-xs btn-outline btn-secondary">{{{reset_zoom}}}</div>
        </header>

        <div class="chart-tooltip"></div>
        <div class="sauce-panel-content chart"><canvas/></div>
    </div>

    <div class="sauce-panel activity-volume-chart-view">
        <header class="title">
            <span>{{{activities_title}}} - <span class="metric-display"></span></span>
            <div class="chart-reset-zoom hidden btn btn-xs btn-outline btn-secondary">{{{reset_zoom}}}</div>
        </header>

        <div class="chart-tooltip"></div>
        <div class="sauce-panel-content chart"><canvas/></div>
    </div>

    <div class="sauce-panel elevation-chart-view">
        <header class="title">
            {{{elevation_title}}}
            <div class="chart-reset-zoom hidden btn btn-xs btn-outline btn-secondary">{{{reset_zoom}}}</div>
        </header>

        <div class="chart-tooltip"></div>
        <div class="sauce-panel-content chart"><canvas/></div>
    </div>
</section>
