<header class="title">
    <span class="panel-name">{{name}}</span>
    <a href="https://www.cyclingweekly.com/fitness/training-software-369155"
       class="more-info" target="_blank">[{{{more_info}}}]</a>
    <div class="chart-reset-zoom hidden btn btn-xs btn-outline btn-secondary">{{{reset_zoom}}}</div>
    <div class="btn btn-xs btn-icon-only btn-unstyled sauce-panel-settings"
         title="{{{panel_settings_tooltip}}}">{{=icon cog-duotone=}}</div>
</header>

<div class="chart-tooltip"></div>
<div class="sauce-panel-content chart"><canvas/></div>
