<div class="sauce-brand-sidebar">
    <div class="sauce-logo"></div>
    <div class="sauce-label">Sauce<br/>{{{stats}}}</div>
</div>

<div class="sauce-data-tuple">
    <line class="heading" title="{{{elapsed_time_tooltip}}}">
        <key>{{{elapsed}}}</key>
        <value>{{elapsed}}</value>
    </line>

    <% if (obj.inactive) { %>
        <line title="{{{inactive_time_tooltip}}}">
            <key>{{{inactive}}}</key>
            <value>{{inactive}}</value>
        </line>
    <% } %>
</div>

<% if (obj.power) { %>
    <div class="sauce-data-tuple">
        <line class="heading" title="{{{moving_power_tooltip}}}">
            <key>{{{power}}}</key>
            <value>
                {{Math.round(power.moving).toLocaleString()}}<abbr class="unit">w</abbr>
                <% if (obj.weight) { %>
                    | {{(power.moving / weight).toFixed(1)}}<abbr class="unit">w/kg</abbr>
                <% } %>
            </value>
        </line>

        <% if (power.elapsed) { %>
            <line title="{{{elapsed_power_tooltip}}}">
                <key>{{{elapsed}}}</key>
                <value>{{Math.round(power.elapsed).toLocaleString()}}<abbr class="unit">w</abbr></value>
            </line>
        <% } %>

        <% if (obj.power.np) { %>
            <line title="{{{normalized_tooltip}}}">
                <key>NP®</key>
                <value>{{Math.round(power.np).toLocaleString()}}<abbr class="unit">w</abbr></value>
            </line>
        <% } %>
    </div>
<% } %>

<% if (obj.pace) { %>
    <div class="sauce-data-tuple">
        <line class="heading" title="{{{moving_pace_tooltip}}}">
            <key>{{{pace}}}</key>
            <value>{{pace.moving}}<abbr class="unit">/{{distUnit}}</abbr></value>
        </line>

        <% if (pace.elapsed) { %>
            <line title="{{{elapsed_pace_tooltip}}}">
                <key>{{{elapsed}}}</key>
                <value>{{pace.elapsed}}<abbr class="unit">/{{distUnit}}</abbr></value>
            </line>
        <% } %>

        <% if (pace.gap) { %>
            <line title="{{{gap_tooltip}}}">
                <key>GAP</key>
                <value>{{pace.gap}}<abbr class="unit">/{{distUnit}}</abbr></value>
            </line>
        <% } %>
    </div>
<% } %>

<% if (obj.energy) { %>
    <div class="sauce-data-tuple">
        <line class="heading" title="{{{energy_tooltip}}}">
            <key>{{{energy}}}</key>
            <value>{{Math.round(energy.kj).toLocaleString()}}<abbr class="unit">kJ</abbr></value>
        </line>

        <line title="{{{energy_rate_tooltip}}}">
            <key>{{{rate}}}</key>
            <value>{{Math.round(energy.kjHour).toLocaleString()}}<abbr class="unit">kJ/h</abbr></value>
        </line>

        <% if (energy.tss) { %>
            <line title="{{{tss_tooltip}}}">
                <key>TSS®</key>
                <value>{{Math.round(energy.tss).toLocaleString()}}</value>
            </line>
        <% } %>
    </div>
<% } %>

<% if (obj.elevation && (elevation.gain || elevation.loss)) { %>
    <div class="sauce-data-tuple">
        <line class="heading">
            <key>{{{elevation}}}</key>
            <value>
                <% if (elevation.gain && elevation.loss) { %>
                    <span class="sauce-positive" title="{{{elevation_gain_tooltip}}}">
                        +{{elevation.gain}}<abbr class="unit">{{elUnit}}</abbr></span>,
                    <span class="sauce-negative" title="{{{elevation_loss_tooltip}}}">
                        -{{elevation.loss}}<abbr class="unit">{{elUnit}}</abbr></span>
                <% } else if (elevation.gain) { %>
                    <span class="sauce-positive" title="{{{elevation_gain_tooltip}}}">
                        +{{elevation.gain}}<abbr class="unit">{{elUnit}}</abbr></span>
                <% } else if (elevation.loss) { %>
                    <span class="sauce-negative" title="{{{elevation_loss_tooltip}}}">
                        -{{elevation.loss}}<abbr class="unit">{{elUnit}}</abbr></span>
                <% } %>
            </value>
        </line>

        <% if (elevation.vam) { %>
            <line title='"Velocità Ascensionale Media": {{{vam_tooltip}}}'>
                <key>VAM</key>
                <value>
                    {{Math.round(elevation.vam).toLocaleString()}}<abbr class="unit">Vm/h</abbr>
                    <sup class="sauce-beta">{{{beta}}}</sup>
                </value>
            </line>
        <% } %>
    </div>
<% } %>

<div class="sauce-data-tuple">
    <line class="heading">
        <key>{{{data}}}</key>
        <value>{{samples.toLocaleString()}} {{{samples}}}</value>
    </line>

    <line>
        <key/>
        <value><a class="sauce-raw-data" href="javascript:void(0);">{{{view}}} {{{raw_data}}}</a></value>
    </line>

    <line>
        <key/>
        <value><a class="sauce-graph-data" href="javascript:void(0);">{{{view}}} {{{graphs}}}</a></value>
    </line>
</div>
