<div class="sauce-brand-sidebar">
    <div class="sauce-logo"><img src="{{logo}}"/></div>
    <div class="sauce-label">
        Sauce<br/>
        {{{stats}}}
    </div>
</div>

<div class="sauce-data-tuple">
    <line class="heading" title="{{{moving_time_tooltip}}}">
        <key>{{{moving}}}</key>
        <value>{{moving}}</value>
    </line>

    <% if (obj.paused) { %>
        <line title="{{{paused_time_tooltip}}}">
            <key>{{{paused}}}</key>
            <value>{{paused}}</value>
        </line>
    <% } %>

    <% if (obj.stops) { %>
        <line>
            <key>{{{stops}}}</key>
            <value>{{stops}}</value>
        </line>
    <% } %>

</div>

<% if (obj.pace) { %>
    <div class="sauce-data-tuple">
        <line class="heading" title="{{{moving_pace_tooltip}}}">
            <key>{{{pace}}}</key>
            <value>{{pace.moving}}<abbr class="unit">{{paceUnit}}</abbr></value>
        </line>

        <% if (pace.gap) { %>
            <line title="{{{gap_tooltip}}}">
                <key>GAP</key>
                <value>{{pace.gap}}<abbr class="unit">{{paceUnit}}</abbr></value>
            </line>
        <% } %>

        <% if (pace.elapsed && pace.elapsed !== pace.moving) { %>
            <line title="{{{elapsed_pace_tooltip}}}">
                <key>{{{elapsed}}}</key>
                <value>{{pace.elapsed}}<abbr class="unit">{{paceUnit}}</abbr></value>
            </line>
        <% } %>
    </div>
<% } %>

<% if (obj.power) { %>
    <div class="sauce-data-tuple">
        <line class="heading" title="{{{moving_power_tooltip}}}">
            <key>{{{power}}}</key>
            <value>
                {{power.estimate ? '~' : ''}}{{Math.round(power.movingAvg).toLocaleString()}}<abbr class="unit">w</abbr>
                <% if (power.movingWKg) { %>
                    | {{power.movingWKg.toFixed(1)}}<abbr class="unit">w/kg</abbr>
                <% } %>
            </value>
        </line>

        <% if (obj.power.np) { %>
            <line title="{{{np_tooltip}}}">
                <key>NP®</key>
                <value>{{Math.round(power.np).toLocaleString()}}<abbr class="unit">w</abbr></value>
            </line>
        <% } %>

        <% if (power.elapsedAvg && power.elapsedAvg !== power.movingAvg) { %>
            <line title="{{{elapsed_power_tooltip}}}">
                <key>{{{elapsed}}}</key>
                <value>{{power.estimate ? '~' : ''}}{{Math.round(power.elapsedAvg).toLocaleString()}}<abbr class="unit">w</abbr></value>
            </line>
        <% } %>
    </div>
<% } %>

<% if (obj.energy) { %>
    <div class="sauce-data-tuple">
        <line class="heading" title="{{{energy_tooltip}}}">
            <key>{{{energy}}}</key>
            <value>{{Math.round(energy.kj).toLocaleString()}}<abbr class="unit">kJ</abbr></value>
        </line>

        <line title="{{{energy_rate_tooltip}}}">
            <key>{{{rate}}}</key>
            <value>{{Math.round(energy.kjHour).toLocaleString()}}<abbr class="unit">kJ/h</abbr></value>
        </line>

        <% if (energy.tss) { %>
            <line title="{{{tss_tooltip}}}">
                <key>TSS®</key>
                <value>{{Math.round(energy.tss).toLocaleString()}}</value>
            </line>
        <% } %>
    </div>
<% } %>

<% if (obj.elevation &&
       (elevation.gain ||
        elevation.loss ||
        (elevation.grade && Math.abs(elevation.grade) >= 1) ||
        (elevation.vam && elevation.vam >= 1))) { %>
    <div class="sauce-data-tuple">
        <line class="heading">
            <key>{{{elevation}}}</key>
            <value>
                <% if (elevation.gain && elevation.loss) { %>
                    <span class="sauce-positive" title="{{{elevation_gain_tooltip}}}">
                        +{{elevation.gain}}<abbr class="unit">{{elUnit}}</abbr></span>,
                    <span class="sauce-negative" title="{{{elevation_loss_tooltip}}}">
                        -{{elevation.loss}}<abbr class="unit">{{elUnit}}</abbr></span>
                <% } else if (elevation.gain) { %>
                    <span class="sauce-positive" title="{{{elevation_gain_tooltip}}}">
                        +{{elevation.gain}}<abbr class="unit">{{elUnit}}</abbr></span>
                <% } else if (elevation.loss) { %>
                    <span class="sauce-negative" title="{{{elevation_loss_tooltip}}}">
                        -{{elevation.loss}}<abbr class="unit">{{elUnit}}</abbr></span>
                <% } %>
            </value>
        </line>

        <% if (elevation.grade && Math.abs(elevation.grade) >= 1) { %>
            <line title="{{{grade_tooltip}}}">
                <key>{{{grade}}}</key>
                <value>{{elevation.grade.toFixed(1)}}<abbr class="unit">%</abbr></value>
            </line>
        <% } %>

        <% if (elevation.vam && elevation.vam >= 1) { %>
            <line title='"Velocità Ascensionale Media": {{{vam_tooltip}}}'>
                <key>VAM</key>
                <value>
                    {{Math.round(elevation.vam).toLocaleString()}}<abbr class="unit">Vm/h</abbr>
                </value>
            </line>
        <% } %>
    </div>
<% } %>

<div class="sauce-data-tuple">
    <line class="heading">
        <key>{{{data}}}</key>
        <value>{{samples.toLocaleString()}} {{{samples}}}</value>
    </line>

    <line>
        <key/>
        <value><a class="sauce-raw-data">{{{view}}} {{{raw_data}}}</a></value>
    </line>

    <line>
        <key/>
        <value><a class="sauce-graph-data">{{{view}}} {{{graphs}}}</a></value>
    </line>
</div>

<% if (supportsRankBadge && obj.power && power.rank && power.rank.badge && !power.estimate) { %>
    <div class="sauce-data-tuple vcentered sauce-rank-badge">
        <img src="{{power.rank.badge}}" class="rank_badge"
             title="{{{ranking_tooltip}}}: {{Math.round(power.rank.level * 100)}}%"/>
    </div>
<% } %>
