<div class="sauce-brand-sidebar">
    <div class="sauce-logo"></div>
    <div class="sauce-label">Sauce<br/>Stats</div>
</div>
<% if (obj.elapsed) { %>
    <div class="sauce-data-tuple"
         title="Elapsed time includes stops.  It is the full duration.">
        <span class="sauce-heading">Elapsed:</span> {{elapsed}}
        <% if (obj.elapsedPower) { %>
            <div class="sauce-line">
                Power Avg:
                {{Math.round(elapsedPower).toLocaleString()}}<abbr class="unit">w</abbr>
                <% if (obj.weight) { %>
                    | {{(elapsedPower / weight).toFixed(1)}}<abbr class="unit">w/kg</abbr>
                <% } %>
            </div>
        <% } %>
        <% if (obj.elapsedNP) { %>
            <div class="sauce-line">
                Normalized:
                {{Math.round(elapsedNP).toLocaleString()}}<abbr class="unit">np</abbr>
            </div>
        <% } %>
    </div>
<% } %>
<% if (obj.moving) { %>
    <div class="sauce-data-tuple"
         title="Moving time excludes stops.  It is only the active time.">
        <span class="sauce-heading">Moving:</span> {{moving}}
        <% if (obj.movingPower) { %>
            <div class="sauce-line">
                Power Avg:
                {{Math.round(movingPower).toLocaleString()}}<abbr class="unit">w</abbr>
                <% if (obj.weight) { %>
                    | {{(movingPower / weight).toFixed(1)}}<abbr class="unit">w/kg</abbr>
                <% } %>
            </div>
        <% } %>
        <% if (obj.movingNP) { %>
            <div class="sauce-line">
                Normalized:
                {{Math.round(movingNP).toLocaleString()}}<abbr class="unit">np</abbr>
            </div>
        <% } %>
    </div>
<% } %>
<% if (obj.kj) { %>
    <div class="sauce-data-tuple" title="Kilojoules of energy used">
        <span class="sauce-heading">Energy:</span>
        {{Math.round(kj).toLocaleString()}}<abbr class="unit">kJ</abbr>
        <div class="sauce-line">
            Per Hour:
            {{Math.round(kjHour).toLocaleString()}}<abbr class="unit">kJ/h</abbr>
        </div>
    </div>
<% } %>
<% if (obj.altitude) { %>
    <div class="sauce-data-tuple">
        <span class="sauce-heading">Elevation:</span>
        <% if (altitude.gain || altitude.loss) { %>
            <% if (altitude.gain && altitude.loss) { %>
                <span class="sauce-positive" title="Altitude Gain">
                    +{{altitude.gain}}<abbr class="unit">{{elUnit}}</abbr></span>,
                <span class="sauce-negative" title="Altitude Loss">
                    -{{altitude.loss}}<abbr class="unit">{{elUnit}}</abbr></span>
            <% } else if (altitude.gain) { %>
                <span class="sauce-positive" title="Altitude Gain">
                    +{{altitude.gain}}<abbr class="unit">{{elUnit}}</abbr></span>
            <% } else if (altitude.loss) { %>
                <span class="sauce-negative" title="Altitude Loss">
                    +{{altitude.loss}}<abbr class="unit">{{elUnit}}</abbr></span>
            <% } %>
        <% } %>
        <% if (altitude.vam) { %>
            <div class="sauce-line"
                 title='"Velocità Ascensionale Media" i.e. climbing meters per hour'>
                VAM: {{Math.round(altitude.vam).toLocaleString()}}<abbr class="unit">Vm/h</abbr>
                <sup class="sauce-beta">BETA</sup>
            </div>
        <% } %>
    </div>
<% } %>
<div class="sauce-data-tuple">
    <span class="sauce-heading">Data:</span>
    {{samples.toLocaleString()}} samples
    <div class="sauce-line">
        <a class="sauce-raw-data" href="javascript:void(0);">View raw data</a>
    </div>
    <div class="sauce-line">
        <a class="sauce-graph-data" href="javascript:void(0);">View graph data</a>
    </div>
</div>
