<ul id="sauce-infopanel" class="pagenav">
    <li class="group">
        <div class="title"
             title="Best Pace sustained for a given distance.">
            Best Pace
        </div>
        <table>
            <% for (const {label, roll, pace} of bestPaces) { %>
                <tr id="sauce-cp-{{roll.period}}" title="Fastest average pace for {{label}}">
                    <td>{{label}}</td>
                    <td>{{pace}}<abbr class="unit short">/{{distUnit}}</abbr></td>
                </tr>
            <% } %>
        </table>
    </li>
</ul>
