<ul id="sauce-infopanel" class="pagenav">
    <li class="group">
        <div class="title"
             title="Best Pace sustained for a given distance.">
            Best Pace
        </div>
        <table>
            <% for (const [label, distance] of cp_distances) { %>
                <tr style="display: none;" id="sauce-cp-row-{{distance}}">
                    <td>{{label}}</td>
                    <td title="Best sustained pace for {{label}}">
                        <span id="sauce-cp-{{distance}}"></span>
                    </td>
                </tr>
            <% } %>
        </table>
    </li>
</ul>
