<div title="{{title}}" class="sauce-moreinfo">
    <div class="sauce-sparkline"></div>
    <table>
        <tr>
            <td>{{{start_of_effort}}}</td>
            <td title="Time offset to the start of this effort.">
                <a class="start_time_link">{{startsAt}}</a>
            </td>
        </tr>

        <tr>
            <td>{{{elapsed_time}}}</td>
            <td title="Hours:Minutes:Seconds">
                <span>{{elapsed}}</span>
            </td>
        </tr>

        <tr>
            <td>{{{pace}}} <abbr class="unit short" title="{{distUnitLong}}">/{{distUnit}}</abbr></td>
            <td>
                <% if (pace.min) { %>
                    <sub class="sauce-negative" title="Slowest Pace">{{pace.min}}</sub>
                <% } %>
                <span title="Average Pace">{{pace.avg}}</span>
                <sup class="sauce-positive" title="Peak Pace">{{pace.max}}</sup>
            </td>
        </tr>

        <% if (pace.gap) { %>
            <tr>
                <td title="Grade Adjusted Pace / {{distUnit}}">
                    GAP
                    <abbr class="unit short" title="{{distUnitLong}}">/{{distUnit}}</abbr>
                </td>
                <td title="Grade Adjusted Pace">{{pace.gap}}</td>
            </tr>
        <% } %>

        <% if (hr) { %>
            <tr>
                <td>{{{heartrate}}}</td>
                <td>
                    <sub class="sauce-positive" title="Lowest BPM">{{hr.min}}</sub>
                    <span title="Average BPM">{{Math.round(hr.avg)}}</span>
                    <sup class="sauce-negative" title="Peak BPM">{{hr.max}}</sup>
                </td>
            </tr>
        <% } %>

        <% if (cadence) { %>
            <tr>
                <td title="Steps per minute">{{{cadence}}}</td>
                <td title="Steps per minute">
                    {{Math.round(cadence)}}<abbr class="unit short">spm</abbr>
                </tr>
        <% } %>

        <% if (grade) { %>
            <tr>
                <td>{{{elevation}}}</td>
                <td>
                    <sub class="sauce-negative" title="Altitude Loss">{{grade.loss}}{{elevationUnit}}</sub>
                    <span title="Average Grade">{{Math.round(grade.avg)}}<small>%</small></span>
                    <sup class="sauce-positive" title="Altitude Gain">{{grade.gain}}{{elevationUnit}}</sup>
                </td>
            </tr>
        <% } %>
    </table>
</div>
