<div title="{{ title }}" class="sauce-critpower-moreinfo">
    <div class="sauce-sparkline"></div>
    <table>
        <tr>
            <td>Start of effort</td>
            <td><a class="start_time_link">{{ start_time }}</a></td>
        </tr>
        <tr>
            <td>Watts/kg</td>
            <td class="rank_holder">
                {{ w_kg.toFixed(1) }}
                <% if (rank_image) { %>
                    <img src="{{ rank_image }}" class="rank_badge" alt="{{ sauce.power.rankCat(rank) }}" title="World Ranking: {{ Math.round(rank * 100) }}%"/>
                <% } %>
            </td>
        </tr>
        <tr>
            <td>Average</td>
            <td>{{ Math.round(cp_avg) }}w</td>
        </tr>
        <tr>
            <td>Peak</td>
            <td>{{ peak_power }}w</td>
        </tr>
        <% if (np) { %>
            <tr>
                <td>Normalized</td>
                <td>{{ Math.round(np) }}w</td>
            </tr>
        <% } if (if_ !== undefined) { %>
            <tr>
                <td>Intensity</td>
                <td>{{ Math.round(if_ * 100) }}%</td>
            </tr>
        <% } if (tss !== undefined) { %>
            <tr>
                <td>TSS</td>
                <td>{{ Math.round(tss) }}</td>
            </tr>
        <% } %>
    </table>
</div>
