<ul id="sauce-infopanel"
    class="pagenav <% if (isWattEstimate) { %>watt-estimate<% } %>">
    <li class="group">
        <div class="title"
             title="Critical Power is the maximum power sustained for a given period of time.">
            {{{critical_power}}}
            <% if (isWattEstimate) { %>
                <p class="watt-estimate-disclaimer"
                   title="Using estimated wattage data source.  Expect a high margin of error!">
                    <b>&#9888;</b> <small>(estimated)</small>
                </p>
            <% } %>
        </div>
        <table>
            <% for (const {label, roll, power} of critPowers) { %>
                <tr id="sauce-cp-{{roll.period}}" title="Maximum average watts for {{label}}<% if (isWattEstimate) { %>

NOTE: These values are being calculated from Strava generated watt estimates.  For accurate values you need real power data provided by a power measurement device.<% } %>">
                    <td>{{label}}</td>
                    <td><% if (isWattEstimate) { %>~<% } %>{{power}}<abbr class="unit short">w</abbr></td>
                </tr>
            <% } %>
        </table>
    </li>
</ul>
