<div title="{{title}}" class="sauce-moreinfo">
    <div class="sauce-sparkline"></div>
    <table>
        <tr>
            <td>Start of effort</td>
            <td title="Time offset to the start of this effort.">
                <a class="start_time_link">{{startsAt}}</a>
            </td>
        </tr>

        <% if (wKg) { %>
            <tr>
                <td>Watts/kg</td>
                <td class="rank_holder">
                    <span title="Average watts divided by body weight in kilograms.">{{wKg.toFixed(1)}}</span>
                    <% if (rank && rank.badge) { %>
                        <img src="{{rank.badge}}" class="rank_badge"
                             title="World Ranking: {{Math.round(rank.level * 100)}}%"/>
                    <% } %>
                </td>
            </tr>
        <% } %>

        <tr>
            <td>Power</td>
            <td>
                <span title="Average Watts">{{Math.round(power.avg)}}<abbr class="unit short">w</abbr></span>
                <sup title="Peak Watts">{{power.max}}<abbr class="unit short">w</abbr></sup>
            </td>
        </tr>

        <% if (power.np) { %>
            <td title="Normalized Power">NP</td>
            <td>{{Math.round(power.np)}}<abbr class="unit short">w</abbr></td>
        <% } %>

        <% if (hr) { %>
            <tr>
                <td>Heartrate</td>
                <td>
                    <sub title="Lowest BPM">{{hr.min}}</sub>
                    <span title="Average BPM">{{Math.round(hr.avg)}}</span>
                    <sup title="Peak BPM">{{hr.max}}</sup>
                </td>
            </tr>
        <% } %>

        <% if (cadence) { %>
            <tr>
                <td title="Pedal RPM">Cadence</td>
                <td title="Pedal RPM">{{Math.round(cadence)}}</td>
            </tr>
        <% } %>

        <% if (grade) { %>
            <tr>
                <td>Elevation</td>
                <td>
                    <sub title="Descended">{{grade.loss}}{{elevationUnit}}</sub>
                    <span title="Average Grade">{{Math.round(grade.avg)}}<small>%</small></span>
                    <sup title="Climbed">{{grade.gain}}{{elevationUnit}}</sup>
                </td>
            </tr>

            <% if (grade.vam > 0) { %>
                <tr title='"Velocità Ascensionale Media" / average ascent speed in meters per hour'>
                    <td>VAM <sup style="color: blue">BETA</sup></td>
                    <td>{{Math.round(grade.vam).toLocaleString()}}
                        <abbr class="unit short" title="Ascent velocity meters/hour">Vm/h</abbr>
                    </td>
                </tr>
            <% } %>
        <% } %>

        <% if (intensity) { %>
            <tr>
                <td>Intensity</td>
                <td title="Percent of FTP">{{Math.round(intensity * 100)}}%</td>
            </tr>
        <% } %>

        <% if (tss) { %>
            <tr>
                <td>TSS</td>
                <td title="Total Stress Score">{{Math.round(tss)}}</td>
            </tr>
        <% } %>
    </table>
</div>
