<ul id="sauce-critpower" class="pagenav">
    <li class="group">
        <div class="title"
             title="Critical Power is the maximum power sustained for a given period of time.">
            Critical Power
            <% if (is_watt_estimate) { %>
                <p class="watt-estimate"
                   title="Using estimated wattage data source.  Expect a high margin of error!">
                    <b>&#9888;</b> <small>(estimated)</small>
                </p>
            <% } %>
        </div>
        <table>
            <% for (let x of cp_periods) { %>
                <tr style="display: none;" id="sauce-cp-row-{{ x[1] }}">
                    <td>{{ x[0] }}</td>
                    <td>
                        <span id="sauce-cp-{{ x[1] }}"></span>
                        <attr class="unit">W</attr>
                    </td>
                </tr>
            <% } %>
        </table>
    </li>
</ul>
