<li class="group">
    <div class="drop-down-menu sauce-title-menu">
        <a title="{{{[sourceTooltip]}}}" class="selection">{{{[source]}}}</a>
        <ul class="options">
            <% for (const x of menu.filter(x => x.source !== source)) { %>
                <li data-source="{{x.source}}" title="{{{[x.tooltipKey]}}}">
                    <a>{{{[x.source]}}}</a>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="watt-estimate-disclaimer" title="{{{watt_estimate_tooltip}}}">
        <b>&#9888;</b> <small>({{{estimated}}})</small>
    </div>
    <table>
        <% for (const {zone, value} of criticals) { %>
            <tr data-source="{{source}}" data-key="{{zone.value}}">
                <td>{-zone.label-}</td>
                <td>
                    {{value}}<abbr class="unit short">{{unit}}</abbr>
                </td>
            </tr>
        <% } %>
    </table>
</li>
