<li class="group">
    <div class="drop-down-menu sauce-title-menu">
        <a title="{{{[sourceTooltip]}}}" class="selection">
            <div class="sauce-svg-icon">{-sourceIcon-}</div>
            {{{[source]}}}
        </a>
        <ul class="options">
            <% for (const menuEntry of menuInfo) { %>
                <li data-source="{{menuEntry.source}}"
                    class="{{menuEntry.source === source ? 'selected' : ''}}"
                    title="{{{[menuEntry.tooltip]}}}">
                    <a>
                        <div class="sauce-svg-icon">{-menuEntry.icon-}</div>
                        {{{[menuEntry.source]}}}
                    </a>
                </li>
            <% } %>
        </ul>
    </div>

    <% if (obj.isWattEstimate) { %>
        <div class="watt-estimate-disclaimer" title="{{{watt_estimate_tooltip}}}">
            <b>&#9888;</b> <small>({{{estimated}}})</small>
        </div>
    <% } %>

    <table>
        <% for (const row of rows) { %>
            <tr data-source="{{source}}"
                data-zone-value="{{row.zoneValue}}"
                data-zone-label="{{row.zoneLabel}}"
                data-start-time="{{row.startTime}}"
                data-end-time="{{row.endTime}}">
                <td>{-row.zoneLabel-}</td>
                <td>{{row.value}}<% if (row.unit) { %><abbr class="unit short">{{row.unit}}</abbr><% } %></td>
            </tr>
        <% } %>
    </table>
</li>
