<div class="mutable-data-entry">
    <key>
        <input <% if (parent.valueMin != null) { %>min="{{parent.valueMin}}"<% } %>
               <% if (parent.valueMax != null) { %>max="{{parent.valueMax}}"<% } %>
               <% if (parent.valueStep != null) { %>step="{{parent.valueStep}}"<% } %>
               type="number" required value="{{value}}"/>
        <% if (parent.valueUnit) { %>
            <abbr class="unit">{{parent.valueUnit}}</abbr>
        <% } %>
    </key>
    <value>
        <!--Important to set a 4 digit max to avoid chrome reserving too much space for huge years-->
        <% const saneMax = new Date(Date.now() + 365 * 86400 * 1000).toISOString().substr(0, 10); %>
        <input type="date" min="1970-01-01" max="{{saneMax}}" required value="{{ts}}"/>
    </value>
    <div class="btn btn-unstyled btn-icon-only mutable-data-entry-delete"
         title="{{{delete_entry_tooltip}}}">{{=icon times-circle-duotone=}}</div>
</div>
