<div class="history-entry">
    <key>
        <input min="{{obj.valueMin != null ? valueMin : ''}}"
               max="{{obj.valueMax != null ? valueMax : ''}}"
               type="number" required
               value="{{!isNaN(value) && value != null ? valueConvert(value): ''}}"/>
        <% if (obj.valueUnit) { %>
            <abbr class="unit">{{valueUnit}}</abbr>
        <% } %>
    </key>
    <value>
        <input type="date" min="1969-01-01" required
               value="{{!isNaN(ts) && ts != null ? (new Date(ts)).toISOString().split('T')[0] : ''}}"/>
    </value>
    <button class="btn btn-unstyled btn-icon-only history-entry-delete"
            title="{{{delete_entry_tooltip}}}">{-await fa('times-circle-duotone')-}</button>
</div>
