<div class="sauce-comment-holder">
    <a class="sauce-athlete" href="{{athlete.url}}" target="_BLANK"
       alt="{{athlete.name}}" title="{{athlete.name}}"
        ><img src="{{athlete.avatar_url}}"/></a>
    <div class="sauce-comment">
        <% for (const x of tokens) { %>
            <% if (x.type === "mention_token") { %>
                <a href="{{x.path}}">{{x.text}}</a>
            <% } else { %>
                {{x.text}}
            <% } %>
        <% } %>
        <div class="sauce-footer">{{athlete.firstname}} • {{timeago}}</div>
    </div>
</div>
