<div class="btn-group dropdown {{rateLimited ? 'limit-reached' : ''}}" id="sauce-kudo-all">
    <button type="button" class="btn btn-icon sauce-invoke">
        <div class="app-icon icon-kudo kudo"></div>
        <span class="inactive-only">Kudo {{{all}}}</span>
        <span class="active-only status">...</span>
        <span class="limit-reached-only">{{{kudo_limit_reached}}}</span>
        <span class="complete-only">{{{kudo_complete}}}</span>
    </button>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{-await fa('chevron-down-duotone')-}</button>
    <div class="dropdown-menu">
        <label class="filter">
            <input type="checkbox" {{filters.has('virtual') ? 'checked' : ''}}
                   name="virtual"/>{{{exclude_virtual}}}</label>
        <label class="filter">
            <input type="checkbox" {{filters.has('commutes') ? 'checked' : ''}}
                   name="commutes"/>{{{exclude_commutes}}}</label>
    </div>
</div>
