<% if (hasPatronRequirement || useTrial) { %>
    <form class="sauce-key-value">
        <div class="padded-info">
            <div class="help" data-for="intro">
                <a class="sauce-dismiss">{-await fa('times-circle-duotone')-}</a>
                {{{intro_help1}}}<br/>
                <br/>
                <a href="https://support.garmin.com/en-US/?faq=rzvP53Si4O3barYoXzw5L7"
                   target="_blank">{{{intro_help_side_loading_more_info}}}</a><br/>
                </br/>
                <i>{{{intro_help_note}}}</i>
            </div>
            <a class="help-info" data-help="intro" title="{{{/dialog_help_info_tooltip}}}">{- await fa('info-circle-duotone') -}</a>
            {{{intro1}}} <a href="https://support.garmin.com/en-US/?faq=PH8600FL9d9MDCiYaJbg0A"
                            target="_blank">{{{intro_supported_devices}}}</a>.<br/>
            <br/>
            <i>{{{intro_note}}}</i>
        </div>
        <div class="entry">
            <div class="help" data-for="segment-name">
                <a class="sauce-dismiss">{-await fa('times-circle-duotone')-}</a>
                {{{segment_name_help}}}
            </div>
            <a class="help-info" data-help="segment-name" title="{{{/dialog_help_info_tooltip}}}">{- await fa('info-circle-duotone') -}</a>
            <key>{{{segment_name}}}:</key>
            <input name="segment-name" type="text" value="{{segmentName}}" minlength="1" maxlength="40"/>
        </div>

        <div class="entry">
            <key>{{{leader_name}}}:</key>
            <input name="leader-name" type="text" value="{{leaderName}}" minlength="1" maxlength="30"/>
        </div>

        <div class="entry">
            <key>{{{leader_type}}}:</key>
            <select name="leader-type">
                <option value="rival" {{!isSelf ? "selected" : ""}}>{{{rival}}}</option>
                <option value="goal" {{isSelf ? "selected" : ""}}>{{{goal}}}</option>
                <option value="pr">{{{pr}}}</option>
                <option value="challenger">{{{challenger}}}</option>
                <option value="kom">{{{kom}}}</option>
                <option value="qom">{{{qom}}}</option>
                <option value="club_leader">{{{club_leader}}}</option>
            </select>
        </div>

        <div class="entry" title="{{{speed_adjust_tooltip}}}">
            <key>{{{speed_adjust}}}:</key>
            <input name="speed-adjust" type="number" min="-100" max="100" step="any" value="0"/>
            <abbr class="unit">%</abbr>
        </div>

        <div class="entry">
            <key>{{{time}}}:</key>
            <span class="leader-time">{{leaderTime}}</span>
        </div>
    </form>
<% } else { %>
    <div class="padded-info">
        <img class="self" src="{{selfImageUrl}}"/>
        {{{beg1}}}<br/>
        <br/>
        {{{beg2}}}
        <br/>
        <br/>
        {{{beg3}}}
    </div>
<% } %>
