<% if (hasPatronRequirement || useTrial) { %>
    <form class="sauce-key-value">
        <div class="padded-info">
            <div class="help" data-for="intro">
                <a class="dismiss"></a>
                The Sauce Live Segment creator generates a segement file from any Strava activity.  The file created conforms to the FIT segment file open standard.  This file is compatible with supported Garmin devices and may be compatible with other devices that can support side loading of segment files.<br/>
                <br/>
                <a href="https://support.garmin.com/en-US/?faq=rzvP53Si4O3barYoXzw5L7" target="_blank">More info on garmin side loading can be found here.</a><br/>
                </br/>
                <i>NOTE: Wahoo devices do NOT support side loading segment files.</i>
            </div>
            <a class="help-info" data-help="intro" title="{{{/dialog_help_info_tooltip}}}">{-infoIcon-}</a>
            Create a live segment file for use with <a href="https://support.garmin.com/en-US/?faq=PH8600FL9d9MDCiYaJbg0A" target="_blank">supported Garmin devices</a>.
            <br/><br/>
            <i>This will generate a FIT segment file that can be placed in the "Garmin/NewFiles" folder of your Garmin when you connect it to a computer via USB.</i>
        </div>
        <div class="entry">
            <div class="help" data-for="segment-name">
                <a class="dismiss"></a>
                The segment name is how this segment appears on your device when you approach the starting location.
            </div>
            <a class="help-info" data-help="segment-name" title="{{{/dialog_help_info_tooltip}}}">{-infoIcon-}</a>
            <key>Segment Name:</key>
            <input name="segment-name" type="text" value="{{segmentName}}" minlength="1" maxlength="40"/>
        </div>

        <div class="entry">
            <key>Leader Name:</key>
            <input name="leader-name" type="text" value="{{leaderName}}" minlength="1" maxlength="30"/>
        </div>

        <div class="entry">
            <key>Leader Type:</key>
            <select name="leader-type">
                <option value="rival" {{!isSelf ? "selected" : ""}}>Rival</option>
                <option value="goal" {{isSelf ? "selected" : ""}}>Goal</option>
                <option value="pr">PR</option>
                <option value="challenger">Challenger</option>
                <option value="kom">KOM</option>
                <option value="qom">QOM</option>
                <option value="club_leader">Club Leader</option>
            </select>
        </div>

        <div class="entry" title="Adjust the overall speed by some percentage">
            <key>Speed Adjust:</key>
            <input name="speed-adjust" type="number" min="-100" max="100" step="any" value="0"/>
            <abbr class="unit">%</abbr>
        </div>

        <div class="entry">
            <key>Time:</key>
            <span class="leader-time">{{leaderTime}}</span>
        </div>
    </form>
<% } else { %>
    <div class="padded-info">
        <img class="self" src="{{selfImageUrl}}"/>
        Hi my name is Justin and I'm the author of Sauce,<br/>
        <br/>
        I'm working hard to make Sauce the best Strava upgrade possible but without support I won't be able to dedicate
        the time and energy into making this possible.  Please consider becoming a patron to enable this feature, and more, so you can get the full Sauce experience.<br/>
        <br/>
        Thank you so much for understanding and contributing to making Sauce even better!
    </div>
<% } %>
