<li class="group">
    <div class="drop-down-menu sauce-title-menu">
        <a title="{{{[sourceTooltip]}}}"
           class="selection {{obj.isWattEstimate ? 'watt-estimate' : ''}}">
            <div class="sauce-svg-icon">{-sourceIcon-}</div>
            {{{[source]}}}
            <% if (obj.isWattEstimate) { %>
                <div class="watt-estimate-disclaimer" title="{{{watt_estimate_tooltip}}}">
                    <span class="text">{{{estimated}}}</span>
                </div>
            <% } %>
        </a>
        <ul class="options">
            <% for (const menuEntry of menuInfo) { %>
                <li data-source="{{menuEntry.source}}"
                    class="{{menuEntry.source === source ? 'selected' : ''}}"
                    title="{{{[menuEntry.tooltip]}}}">
                    <a>
                        <div class="sauce-svg-icon">{-menuEntry.icon-}</div>
                        {{{[menuEntry.source]}}}
                    </a>
                </li>
            <% } %>
            <li class="sauce-peaks-settings">
                <a>
                    <div class="sauce-svg-icon">{-await fa('cog-duotone')-}</div>
                    {{{settings}}}
                </a>
            </li>
        </ul>
    </div>
    <table>
        <% for (const row of rows) { %>
            <tr data-source="{{source}}"
                data-range-value="{{row.rangeValue}}"
                data-range-label="{{row.rangeLabel}}"
                data-start-time="{{row.startTime}}"
                data-end-time="{{row.endTime}}"
                data-wall-start-time="{{row.wallStartTime}}"
                data-wall-end-time="{{row.wallEndTime}}"
                <% if (obj.isDistanceRange) { %>
                    data-distance-range="true"
                <% } %>
                style="{{row.style}}">
                <td>{-row.rangeLabel-}</td>
                <td>
                    {{row.value}}<% if (row.unit) { %><abbr class="unit short">{{row.unit}}</abbr><% } %>
                    <div class="sauce-peak-rank">
                        <div class="place"></div>
                        <div class="category"></div>
                    </div>
                </td>
            </tr>
        <% } %>
    </table>
</li>
