<section class="ranges">
    <b>{{{peaks_ranges}}}:</b>
    <p>{{{peaks_ranges_intro}}}</p>
    <div class="cols">
        <div class="periods">
            <div class="btn btn-sm btn-secondary reset {{isPeriodsDefault ? 'hidden' : ''}}"
                 data-id="periods">{{{peaks_reset_to_defaults}}}</div>
        </div>
        <div class="dists">
            <div class="btn btn-sm btn-secondary reset {{isDistsDefault ? 'hidden' : ''}}"
                 data-id="dists">{{{peaks_reset_to_defaults}}}</div>
        </div>
    </div>
</section>
