<% if (obj.athlete) { %>
    <section class="overview {{collapsed.overview === true ? 'collapsed' : ''}}"
             data-id="overview">
        <header>
            <i class="icon">{{=icon info-circle-duotone=}}</i>
            <div class="title">{{{overview}}}</div>
            <a class="view-control collapser">{{=icon minus-square-duotone=}}</a>
            <a class="view-control expander">{{=icon plus-square-duotone=}}</a>
        </header>

        <% if (totalTime && weeklyTime) { %>
            <row class="full">
                <header>{{{/analysis_time}}}:</header>
                <div class="backdrop-icon">{{=icon watch-duotone=}}</div>
                <h2>{-humanDuration(totalTime, {maxPeriod: 3600, precision: 3600, html: true})-}</h2>
                <h3>
                    {-humanDuration(weeklyTime, {maxPeriod: 3600, minPeriod: 3600, digits: 1, html: true})-}
                    <abbr class="unit">/ week</abbr>
                </h3>
            </row>
        <% } %>

        <% if (totalDistance && weeklyDistance) { %>
            <row class="full">
                <header>{{{/analysis_distance}}}:</header>
                <div class="backdrop-icon">{{=icon road-duotone=}}</div>
                <h2>{-humanDistance(totalDistance, 0, {html: true})-}</h2>
                <h3>
                    {-humanDistance(weeklyDistance, undefined, {html: true})-}
                    <abbr class="unit"> / week</abbr>
                </h3>
            </row>
        <% } %>

        <% if (totalAltGain && weeklyAltGain) { %>
            <row class="full">
                <header>{{{/analysis_elevation}}}:</header>
                <div class="backdrop-icon">{{=icon mountains-duotone=}}</div>
                <h2>{-humanElevation(totalAltGain, {html: true})-}</h2>
                <h3>
                    {-humanElevation(weeklyAltGain, {html: true})-}
                    <abbr class="unit"> / week</abbr>
                </h3>
            </row>
        <% } %>

        <% if (mostFreqType) { %>
            <row class="full">
                <header>{{{activities}}}:</header>
                <% if (Math.round(mostFreqType.pct * 100) < 100) { %>
                    <div class="cols">
                        <h2>{{humanNumber(mostFreqType.pct * 100)}}<abbr class="unit">%
                                {{{[mostFreqLocaleKey]}}}</abbr></h2>
                        <div class="counts-piechart"></div>
                    </div>
                <% } else { %>
                    <div class="backdrop-icon">
                        <% if (mostFreqType.type === 'ride') { %>
                            {{=icon biking-duotone=}}
                        <% } else if (mostFreqType.type === 'run') { %>
                            {{=icon running-duotone=}}
                        <% } else if (mostFreqType.type === 'swim') { %>
                            {{=icon swimmer-duotone=}}
                        <% } else if (mostFreqType.type === 'ski') { %>
                            {{=icon skiing-nordic-duotone=}}
                        <% } else if (mostFreqType.type === 'workout') { %>
                            {{=icon fire-alt-duotone=}}
                        <% } %>
                    </div>
                    <h2>100<abbr class="unit">% {{{[mostFreqLocaleKey]}}}</abbr></h2>
                <% } %>
            </row>
        <% } %>
    </section>

    <section class="training {{collapsed.training === true ? 'collapsed' : ''}}"
             data-id="training">
        <header>
            <i class="icon">{{=icon transporter-1-duotone=}}</i>
            <div class="title">{{{training}}}</div>
            <a class="view-control collapser">{{=icon minus-square-duotone=}}</a>
            <a class="view-control expander">{{=icon plus-square-duotone=}}</a>
        </header>

        <% if (missingTSS.length) { %>
            <row class="warning">
                <key>{{=icon exclamation-triangle-duotone=}}{{{missing}}} TSS:</key>
                <value><a href="javascript:void(0);" class="missing-tss">{{missingTSS.length}} {{{activities}}}</a></value>
            </row>
        <% } %>

        <% if (tssAvg) { %>
            <row>
                <key>{{{/analysis_avg}}} TSS:</key>
                <value>{{humanNumber(tssAvg)}}</value>
            </row>
        <% } %>
        <row>
            <key>{{{active_days}}}:</key>
            <value>{{humanNumber(activeDays)}}</value>
        </row>
        <% if (maxCTL >= 0) { %>
            <row>
                <key>{{{peak_fitness}}}:</key>
                <value>{{humanNumber(maxCTL)}} <abbr class="unit">CTL</abbr></value>
            </row>
        <% } %>
        <% if (minTSB < Infinity) { %>
            <row>
                <key>{{{least_form}}}:</key>
                <value>{{humanNumber(minTSB)}} <abbr class="unit">TSB</abbr></value>
            </row>
        <% } %>
    </section>

    <section class="highlights {{collapsed.highlights === true ? 'collapsed' : ''}}"
             data-id="highlights">
        <header>
            <i class="icon">{{=icon medal-duotone=}}</i>
            <div class="title">{{{/analysis_best_performances}}}</div>
            <a class="view-control collapser">{{=icon minus-square-duotone=}}</a>
            <a class="view-control expander">{{=icon plus-square-duotone=}}</a>
        </header>

        <select name="type">
            <option value="power" {{type === 'power' ? 'selected' : ''}}>{{{/analysis_power}}}</option>
            <option value="power_wkg" {{type === 'power_wkg' ? 'selected' : ''}}>{{{/analysis_power}}} (w/kg)</option>
            <option value="np" {{type === 'np' ? 'selected' : ''}}>NP</option>
            <option value="xp" {{type === 'xp' ? 'selected' : ''}}>xPower</option>
            <option value="pace" {{type === 'pace' ? 'selected' : ''}}>{{{/analysis_pace}}}</option>
            <option value="gap" {{type === 'gap' ? 'selected' : ''}}>{{{/analysis_gap}}}</option>
            <option value="hr" {{type === 'hr' ? 'selected' : ''}}>{{{/analysis_heartrate}}}</option>
        </select>

        <% for (const x of peaks) { %>
            <row>
                <key>{{x.key}}:</key>
                <value><a href="javascript:void(0);"
                          data-id="{{x.activity}}">{{x.prettyValue}}<% if (x.unit) { %><abbr
                              class="unit short">{{x.unit}}</abbr><% } %></a></value>
            </row>
        <% } %>
    </section>

    <section class="sync-stats {{collapsed.sync_stats === true  ? 'collapsed' : ''}}"
             data-id="sync_stats">
        <header>
            <i class="icon">{{=icon sync-alt-duotone=}}</i>
            <div class="title">{{{activity_sync_title}}}</div>
            <a class="view-control collapser">{{=icon minus-square-duotone=}}</a>
            <a class="view-control expander">{{=icon plus-square-duotone=}}</a>
        </header>
        <% if (sync.active) { %>
            <row>
                <key>{{{/sync_control_panel_status}}}:</key>
                <value>{{sync.status}}</value>
            </row>
        <% } %>
        <% if (sync.error) { %>
            <row>
                <key>{{{/sync_control_panel_last_error}}}:</key>
                <value>{{sync.error}}</value>
            </row>
        <% } %>
        <% if (sync.counts) { %>
            <row>
                <key>{{{activities_title}}}:</key>
                <value>{{humanNumber(sync.counts.total)}}</value>
            </row>
            <row>
                <key>{{{/sync_control_panel_imported}}}:</key>
                <value>{{humanNumber(sync.counts.imported)}}</value>
            </row>
            <row>
                <key>{{{/sync_control_panel_remaining}}}:</key>
                <value>{{humanNumber(sync.counts.total - sync.counts.unavailable - sync.counts.imported)}}</value>
            </row>
            <row>
                <key>{{{/sync_control_panel_unavailable}}}:</key>
                <value>{{humanNumber(sync.counts.unavailable)}}</value>
            </row>
            <row>
                <key>{{{/sync_control_panel_processed}}}:</key>
                <value>{{humanNumber(sync.counts.processed)}}</value>
            </row>
            <row>
                <key>{{{/sync_control_panel_unprocessable}}}:</key>
                <value>{{humanNumber(sync.counts.unprocessable)}}</value>
            </row>
        <% } %>
    </section>
<% } %>

<% if (obj.isSafari) { %>
    <!-- Doesn't work following a restart.. may leave in later after more copy updates, but for now it's misleading...
    <br/>
    Psssst.. you might need this...
    <a href="{{sauce.extUrl}}pages/safari_db_size_hack.html" target="_blank">Safari storage hack</a> -->
<% } %>
