<header class="filters">
    <div class="period-selector">
        <b class="title">Period:</b><br/>
        <select name="period">
            <option value="30" {{period === 30 ? 'selected' : ''}}>30 days</option>
            <option value="90" {{period === 90 ? 'selected' : ''}}>90 days</option>
            <option value="182" {{period === 182 ? 'selected' : ''}}>6 months</option>
            <option value="365" {{period === 365 ? 'selected' : ''}}>1 year</option>
            <option value="730" {{period === 730 ? 'selected' : ''}}>2 years</option>
            <option value="1825" {{period === 1825 ? 'selected' : ''}}>5 years</option>
        </select>
    </div>

    <div class="start-end">
        <div class="btn btn-sm oldest period">{-await fa('angle-double-left-regular')-}</div>
        <div class="btn btn-sm prev period">{-await fa('angle-left-regular')-}</div>
        <div class="dates">
            <div class="start period">⋯</div>
            <div style="pointer-events: none; opacity: 0.5; font-size: 0.8em;" class="btn btn-unstyled btn-icon-only btn-sm">{-await fa('arrow-alt-right-duotone')-}</div>
            <div class="end period">⋯</div>
        </div>
        <div class="btn btn-sm next period">{-await fa('angle-right-regular')-}</div>
        <div class="btn btn-sm newest period">{-await fa('angle-double-right-regular')-}</div>
    </div>

    <div class="right-padding"></div>

    <div class="window-controls">
        <div class="btn btn-sm btn-icon-only btn-unstyled expand">{-await fa('expand-alt-duotone')-}</div>
        <div class="btn btn-sm btn-icon-only btn-unstyled compress">{-await fa('compress-alt-duotone')-}</div>
    </div>
</header>

<section class="sauce-panels">
    <div class="sauce-panel">
        <header class="title">Peak Performances</header> <!-- XXX localize -->
        <div class="sauce-panel-content peaks-view loading-mask"></div>
    </div>

    <div class="sauce-panel training">
        <header class="title">
            Training Load - Fitness, Fatigue and Form <!-- XXX localize -->
            <a href="https://www.cyclingweekly.com/fitness/training-software-369155"
               class="more-info">[more info]</a><!--XXX localize-->
        </header>

        <div class="sauce-panel-content chart">
            <canvas id="training"/>
        </div>
    </div>

    <div class="sauce-panel activities">
        <header class="title">
            <span>Activities - <span class="metric-display"></span></span> <!-- XXX localize -->
        </header>

        <div class="sauce-panel-content chart">
            <canvas id="activities"/>
        </div>
    </div>

    <div class="sauce-panel elevation">
        <header class="title">
            Elevation Gained <!-- XXX localize -->
        </header>

        <div class="sauce-panel-content chart">
            <canvas id="elevation"/>
        </div>
    </div>
</section>
