<% if (obj.athlete) { %>
    <section class="overview {{collapsed.overview === true ? 'collapsed' : ''}}"
             data-id="overview">
        <header>
            <i class="icon">{-await fa('info-circle-duotone')-}</i>
            <div class="title">Overview<!--XXX Localize--></div>
            <a class="view-control collapser">{-await fa('minus-square-duotone')-}</a>
            <a class="view-control expander">{-await fa('plus-square-duotone')-}</a>
        </header>
        <% if (missingTSS.length) { %>
            <row>
                <key>{-await fa('exclamation-triangle-duotone')-}Missing TSS:</key><!--XXX localize-->
                <value>{-await fa('exclamation-circle-duotone')-} <a href="foo">{{missingTSS.length}} activities</a></value>
            </row>
        <% } %>
        <row>
            <key>Active time:</key><!--XXX localize-->
            <value>{{humanDuration(totalTime, {maxPeriod: 3600, precision: 3600})}}</value>
        </row>
        <row>
            <key>Active days:</key><!--XXX localize-->
            <value>{{humanNumber(activeDays)}}</value>
        </row>
        <row>
            <key>Avg week:</key><!--XXX localize-->
            <value>{{humanDuration(weeklyTime)}}</value>
        </row>
        <row>
            <key>Avg TSS:</key><!--XXX localize-->
            <value>{{humanNumber(tssAvg)}}</value>
        </row>
        <row>
            <key>Peak fitness (CTL):</key><!--XXX localize-->
            <value>{{humanNumber(maxCTL)}}</value>
        </row>
        <row>
            <key>Least form (TSB):</key><!--XXX localize-->
            <value>{{humanNumber(minTSB)}}</value>
        </row>
    </section>

    <section class="results {{collapsed.results === true ? 'collapsed' : ''}}"
             data-id="results">
        <header>
            <i class="icon">{-await fa('medal-duotone')-}</i>
            <div class="title">Best Performances<!--XXX Localize--></div>
            <a class="view-control collapser">{-await fa('minus-square-duotone')-}</a>
            <a class="view-control expander">{-await fa('plus-square-duotone')-}</a>
        </header>
        <row>
            <key>Best 5 sec power:</key><!--XXX localize-->
            <value>{{humanNumber(peaks.s5)}}w</value>
        </row>
        <row>
            <key>Best 1 min power:</key><!--XXX localize-->
            <value>{{humanNumber(peaks.s60)}}w</value>
        </row>
        <row>
            <key>Best 5 min power:</key><!--XXX localize-->
            <value>{{humanNumber(peaks.s300)}}w</value>
        </row>
        <row>
            <key>Best 20 min power:</key><!--XXX localize-->
            <value>{{humanNumber(peaks.s1200)}}w</value>
        </row>
        <row>
            <key>Best 60 min power:</key><!--XXX localize-->
            <value>{{humanNumber(peaks.s3600)}}w</value>
        </row>
    </section>

    <section class="sync-stats {{collapsed.sync_stats === true  ? 'collapsed' : ''}}"
             data-id="sync_stats">
        <header>
            <i class="icon">{-await fa('sync-alt-duotone')-}</i>
            <div class="title">Activity Sync<!--XXX Localize--></div>
            <a class="view-control collapser">{-await fa('minus-square-duotone')-}</a>
            <a class="view-control expander">{-await fa('plus-square-duotone')-}</a>
        </header>
        <% if (sync.active) { %>
            <row>
                <key>Status:</key><!--XXX localize-->
                <value>{{sync.status}}</value>
            </row>
        <% } %>
        <% if (sync.error) { %>
            <row>
                <key>Last Error:</key><!--XXX localize-->
                <value>{{sync.error}}</value>
            </row>
        <% } %>
        <% if (sync.counts) { %>
            <row>
                <key>Activities:</key><!--XXX localize-->
                <value>{{humanNumber(sync.counts.total)}}</value>
            </row>
            <row>
                <key>Imported:</key><!--XXX localize-->
                <value>{{humanNumber(sync.counts.imported)}}</value>
            </row>
            <row>
                <key>Remaining:</key><!--XXX localize-->
                <value>{{humanNumber(sync.counts.total - sync.counts.unavailable - sync.counts.imported)}}</value>
            </row>
            <row>
                <key>Unavailable:</key><!--XXX localize-->
                <value>{{humanNumber(sync.counts.unavailable)}}</value>
            </row>
            <row>
                <key>Processed:</key><!--XXX localize-->
                <value>{{humanNumber(sync.counts.processed)}}</value>
            </row>
            <row>
                <key>Unprocessable:</key><!--XXX localize-->
                <value>{{humanNumber(sync.counts.unprocessable)}}</value>
            </row>
        <% } %>
    </section>
<% } %>
