<div class="peak-controls">
    <select name="type">
        <option value="power" {{prefs.type === 'power' ? 'selected' : ''}}>Power</option>
        <option value="power_wkg" {{prefs.type === 'power_wkg' ? 'selected' : ''}}>Power (w/kg)</option>
        <option value="np" {{prefs.type === 'np' ? 'selected' : ''}}>NP</option>
        <option value="xp" {{prefs.type === 'xp' ? 'selected' : ''}}>xPower</option>
        <option value="pace" {{prefs.type === 'pace' ? 'selected' : ''}}>Pace</option>
        <option value="gap" {{prefs.type === 'gap' ? 'selected' : ''}}>GAP</option>
        <option value="hr" {{prefs.type === 'hr' ? 'selected' : ''}}>Heartrate</option>
    </select>
    <% if (['pace', 'gap'].includes(prefs.type)) { %>
        <select name="distance">
            <% for (const x of distances) { %>
                <option value="{{x.value}}" {{prefs.distance === x.value ? 'selected' : ''}}>{{humanRaceDistance(x.value)}}</option>
            <% } %>
        </select>
    <% } else { %>
        <select name="time">
            <% for (const x of periods) { %>
                <option value="{{x.value}}" {{prefs.time === x.value ? 'selected' : ''}}>{{humanDuration(x.value)}}</option>
            <% } %>
        </select>
    <% } %>

    <select name="limit">
        <option value="10" {{prefs.limit === 10 ? 'selected' : ''}}>Top 10</option>
        <option value="25" {{prefs.limit === 25 ? 'selected' : ''}}>Top 25</option>
        <option value="100" {{prefs.limit === 100 ? 'selected' : ''}}>Top 100</option>
        <option value="500" {{prefs.limit === 500 ? 'selected' : ''}}>Top 500</option>
        <option value="0" {{prefs.limit === 0 ? 'selected' : ''}}>All Results</option>
    </select>

    <label>
        <input type="checkbox" name="include-all-athletes" {{prefs.includeAllAthletes ? 'checked' : ''}}/>
        All Athletes
    </label>

    <label>
        <input type="checkbox" name="include-all-dates" {{prefs.includeAllDates ? 'checked' : ''}}/>
        All Dates
    </label>
</div>

<div class="results">
    <table class="sauce-perf">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Value</th>
                <% if (prefs.includeAllAthletes) { %>
                    <th>Athlete</th>
                <% } %>
                <th>Activity</th>
                <th>Type</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% let i = 1; %>
            <% for (const x of peaks.filter(x => x.activity)) { %>
                <tr data-id="{{x.activity.id}}" title="Click to view details">
                    <td>{{humanNumber(i++)}}</td>
                    <td>{{valueFormatter(x.value)}}<abbr class="unit short">{{unit}}</abbr></td>
                    <% if (prefs.includeAllAthletes) { %>
                        <td>{{await athleteName(x.activity.athlete)}}</td>
                    <% } %>
                    <td class="activity-name">
                        <div class="name-container">
                            <a href="https://www.strava.com/activities/{{x.activity.id}}/analysis/{{x.start}}/{{x.end}}"
                               title="{{x.activity.name}}{{x.activity.description ? '\n\n' + x.activity.description : ''}}">{{x.activity.name}}</a>
                        </div>
                    </td>
                    <td>{{x.activityType}}</td>
                    <td>{{humanDate(x.activity.ts)}}</td>
                    <td>
                        <div class="btn btn-icon-only btn-unstyled edit-activity"
                             data-id="{{x.activity.id}}"
                             title="Edit activity">{-await fa('edit-duotone')-}</div>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="resize-drag">{-await fa('grip-lines-light')-}</div>
