<% if (!athletes.length) { %>
    <h1>Enable an athlete for sync!</h1>
<% } else { %>
    <nav>
        <b>Athlete:</b><br/>
        <select name="athlete">
            <% for (const x of athletes) { %>
                <option value="{{x.id}}">{{x.name}}</option>
            <% } %>
        </select>
        <button class="btn btn-icon-only sync-panel"
                title="Open control panel for this athlete.">{-await fa('cog-duotone')-}</button>

        <br/>

        <div class="summary"></div>
    </nav>

    <main></main>

    <aside class="details"></aside>
<% } %>
