<header class="sauce-swapped-background">
    <div class="title">Activity Details<!--XXX Localize--></div>
    <a class="view-control collapser">{-await fa('window-close-regular')-}</a>
</header>
<section class="content sauce-swapped-background">
    <% if (!activities) { %>
        <i>Click on a graph item to see activity details...<!--XXX localize--></i>
    <% } else { %>
        <% for (const a of activities) { %>
            <div class="activity" data-id="{{a.id}}">
                <header class="title">
                    <button class="btn btn-icon-only btn-unstyled edit-activity"
                            title="Edit activity">{-await fa('edit-duotone')-}</button> <!-- XXX localize -->
                    <small>{{humanDate(a.ts, {includeDayOfWeek: true})}}</small>
                    <a class="activity-name" href="/activities/{{a.id}}">{{a.name}}</a>
                </header>
                <% if (sauce.model.getActivityTSS(a) != null || a.tssOverride != null) { %>
                    <% if (a.tssOverride != null) { %>
                        <row>
                            <key>TSS Override:</key>
                            <value>{{humanNumber(a.tssOverride)}}</value>
                        </row>
                    <% } %>
                    <% if (a.stats && a.stats.tss != null) { %>
                        <row>
                            <key>TSS:</key>
                            <value>{{humanNumber(sauce.model.getActivityTSS(a))}}</value>
                        </row>
                    <% } %>
                    <% if (a.stats && a.stats.tTss != null) { %>
                        <row>
                            <key>tTSS:</key>
                            <value>{{humanNumber(a.stats.tTss)}}</value>
                        </row>
                    <% } %>
                <% } else { %>
                    <row>
                        <key>TSS:</key>
                        <value class="sauce-negative">
                            <a class="edit-activity sauce-negative"
                               title="Click to edit">Unavailable</a><!-- XXX localize -->
                        </value>
                    </row>
                <% } %>
                <% if (a.stats) { %>
                    <row>
                        <key>Active:</key>
                        <value>{{humanTimer(sauce.model.getActivityActiveTime(a))}}</value>
                    </row>
                    <% if (a.stats.power) { %>
                        <row>
                            <key>Power:</key>
                            <value>{{humanNumber(a.stats.power)}}<abbr class="unit short">w</abbr></value>
                        </row>
                    <% } %>
                    <% if (a.stats.np) { %>
                        <row>
                            <key>NP:</key>
                            <value>{{humanNumber(a.stats.np)}}<abbr class="unit short">w</abbr></value>
                        </row>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    <% } %>
</section>
