<% if (!athletes.length) { %>
    <div class="onboarding-stack">
        <div class="section-wrap">
            <section class="cols">
                <div class="col-left">
                    <img src="https://saucellc.io/images/perf-promo/2.png"/>
                    <div class="btn btn-xl btn-primary enable">Activate Sauce Performance and Get Started!</div>
                </div>

                <div class="col-right">
                    <div class="copy welcome">
                        <h1>Welcome to Sauce Performance!</h1>
                        <p>Take your Strava experience to the next level with improved training and performance insights made possible with <span class="saucey">Sauce</span> for Strava!</p>
                        <ol>
                            <li>See and interact with critical training metrics like Training Stress Balance (TSB/Form) and Cumulative Training Load (CTL/Fitness).</li>
                            <li>View all your best power results and paces compared to all your prior activities.</li>
                            <li>For coaches, get immediate visibility into your athletes' stress levels as well as how their actual results are shaping up.</li>
                            <li>Manage athlete weight and FTP power over time.</li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>

        <div class="section-wrap">
            <section class="cols">
                <div class="col-left">
                    <img src="https://saucellc.io/images/perf-promo/3.png"/>
                    <div class="btn btn-xl btn-primary enable">Enable your account right meow!</div>
                </div>

                <div class="col-right">
                    <div class="copy how-it-works">
                        <h2>How it works...</h2>
                        <p><span class="saucey">Sauce Performance</span> is built on an advanced synchronization system that imports the entire athlete activity history from Strava servers to your browser's internal storage.  It uses proven browser technology to store, index and analyze the activities without the use of 3rd party servers.  Once an athletes' activity history is synchronized, a world of new activity analysis possibilities are available!</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="section-wrap">
            <section class="cols">
                <div class="col-left">
                    <img src="https://saucellc.io/images/perf-promo/4.png"/>
                    <div class="btn btn-xl btn-primary enable">Enable synchronization for your profile!</div>
                </div>

                <div class="col-right">
                    <div class="copy faq">
                        <h2>FAQ</h2>
                        <dl>
                            <dt>Does it cost anything?</dt>
                            <dd>Basic functionality works for free but you can unlock the full power for $2/month via <a href="https://www.patreon.com/sauce4strava" target="_blank">Patreon</a>.</dd>

                            <dt>How do you get this data?</dt>
                            <dd><span class="saucey">Sauce</span> uses same servers and webpages that the normal Strava website uses.  Much reverse engineering was done to avoid the need for any special API access or 3rd party servers.</dd>

                            <dt>Why does the sync process take so long the first time?</dt>
                            <dd>Strava has time based usage limits that prevent doing too many network requests in a period of time.  If too many activities are downloaded at once your account will be temporarily rate limited.  <span class="saucey">Sauce</span> is programmed to stay safely within these limits as long as you only sync one device at a time.</dd>

                            <dt>Why does <span class="saucey">Sauce</span> need to "Synchronize" my data for the Performance features?</dt>
                            <dd><span class="saucey">Sauce</span> provides as much functionality as it can based on the data Strava makes available.  But to provided advanced training and historical data access it is necessary to have direct access to all the data for an athlete together.  Functions like training load and ranked peak power charts rely on having access to an athletes entire history to function properly.  <span class="saucey">Sauce Performance</span> makes use your browsers own storage facility to do this.

                            <dt>Where is all this data being stored?</dt>
                            <dd>Right on your computer in your web browsers storage system called "IndexedDB."  This is a tried and true database that lives in your browser and for most platforms is capable of storing and querying gigabytes of data efficiently.  It's a perfect fit for <span class="saucey">Sauce's</span> privacy model - your data is never sent to a 3rd party server.  It stays with you on your devices.</dd>

                            <dt>How do I protect my data or share it with another device?</dt>
                            <dd>Backup, Backup, Backup!  Since no extra servers are used, it's important that you backup your data.  Look for the "Export Data," button in the sync control panel to create backup files that you can place somewhere safe.</dd>

                        </dl>
                    </div>
                </div>
            </section>
        </div>

    </div>
<% } else { %>
    <nav>
        <b>Athlete:<!--XXX Localize--></b>
        <div class="athlete">
            <select name="athlete">
                <% for (const x of athletes) { %>
                    <option value="{{x.id}}" {{x.id === athleteId ? 'selected' : ''}}>{{x.name}}</option>
                <% } %>
            </select>
        </div>

        <div class="summary"></div>
    </nav>

    <main></main>

    <aside class="details"></aside>
<% } %>
