<table class="sauce-perf">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Pace</th>
            <th>Elevation</th>
            <th>TSS Override</th>
            <th>Exclude Peaks</th>
        </tr>
    </thead>
    <tbody>
        <% for (const a of activities) { %>
            <tr data-id="{{a.id}}">
                <td class="activity-name">
                    <div class="name-container">
                        <a href="https://www.strava.com/activities/{{a.id}}"
                           title="{{a.name}}{{a.description ? "\n\n" + a .description : ''}}">{{a.name}}</a>
                    </div>
                </td>
                <td class="date">{{humanDate(a.ts)}}</td>
                <td class="type">{{a.type || a.basetype}}</td>
                <% if (a.stats) { %>
                    <% if (a.stats.activeTime) { %>
                        <td class="time">{{humanTimer(a.stats.activeTime)}}</td>
                    <% } else { %>
                        <td>-</td>
                    <% } %>
                    <% if (a.stats.distance) { %>
                        <td class="distance">{{humanDistance(a.stats.distance, 0, {suffix: true})}}</td>
                    <% } else { %>
                        <td>-</td>
                    <% } %>
                    <td class="pace">{{humanPace(1 / (a.stats.distance / a.stats.activeTime), {precision: 0, activityType: a.basetype, suffix: true})}}</td>
                    <% if (a.stats.altitudeGain) { %>
                        <td class="elevation">+{{humanElevation(a.stats.altitudeGain, {suffix: true})}}</td>
                    
                    <% } else { %>
                        <td>-</td>
                    <% } %>
                <% } else { %>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                <% } %>
                <td class="tss_override">
                    <input type="number" name="tss_override" value="{{a.tssOverride}}"
                           placeholder="{{sauce.model.getActivityTSS(a)}}"/>
                </td>
                <td class="peaks_exclude">
                    <input type="checkbox" name="peaks_exclude"
                           {{a.peaksExclude ? 'checked' : ''}}/>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
