<form class="input sauce-key-value">
    <div class="padded-info">
        <div class="help" data-for="intro">
            <a class="sauce-dismiss">{{=icon times-circle-duotone=}}</a>
            {{{intro_help1}}}
            <br/><br/>
            {{{intro_help2}}}
            <br/><br/>
            {{{intro_help3}}}
        </div>
        <a class="help-info" data-help="intro" title="{{{/dialog_help_info_tooltip}}}">{{=icon info-circle-duotone=}}</a>
        {{{intro}}}
        <br/><br/>
        <i>{{{intro_note}}}</i>
    </div>
    <div class="entry">
        <div class="help" data-for="crr">
            <a class="sauce-dismiss">{{=icon times-circle-duotone=}}</a>
            {{{crr_help1}}}
            <br/><br/>
            {{{crr_help2}}}
        </div>
        <a class="help-info" data-help="crr" title="{{{/dialog_help_info_tooltip}}}">{{=icon info-circle-duotone=}}</a>
        <b>{{{crr_heading}}}:</b>
        <div class="indent">
            <div class="entry" title="{{{crr_bike_tooltip}}}">
                <key>{{{crr_bike}}}:</key>
                <label><input type="radio" name="bike" value="road"
                              {{bike === "road" ? "checked" : ""}}/> {{{crr_bike_road}}}</label>
                <label><input type="radio" name="bike" value="mtb"
                              {{bike === "mtb" ? "checked" : ""}}/> {{{crr_bike_mtb}}}</label>
            </div>
            <div class="entry" title="{{{crr_terrain_tooltip}}}">
                <key>Crr / {{{crr_terrain}}}:</key>
                <select name="terrain">
                    <option value="asphalt" {{terrain === "asphalt" ? "selected" : ""}}>{{{crr_terrain_asphalt}}}</option>
                    <option value="gravel" {{terrain === "gravel" ? "selected" : ""}}>{{{crr_terrain_gravel}}}</option>
                    <option value="grass" {{terrain === "grass" ? "selected" : ""}}>{{{crr_terrain_grass}}}</option>
                    <option value="offroad" {{terrain === "offroad" ? "selected" : ""}}>{{{crr_terrain_offroad}}}</option>
                    <option value="sand" {{terrain === "sand" ? "selected" : ""}}>{{{crr_terrain_sand}}}</option>
                    <option style="display: none" value="custom" {{terrain === "custom" ? "selected" : ""}}>{{{crr_terrain_custom}}}</option>
                </select>
                <input name="crr" type="number" value="{{crr}}" min="0" step="0.0005"
                       title="{{{crr_tooltip}}}" style="width: calc(6ch + 1em);"/>
            </div>
        </div>
    </div>

    <div class="entry">
        <div class="help" data-for="cda">
            <a class="sauce-dismiss">{{=icon times-circle-duotone=}}</a>
            {{{cda_help1}}}
            <br/><br/>
            {{{cda_help_table_heading}}}:
            <table class="unstyled">
                <tr><td>0.17 to 0.23:</td><td>{{{cda_help_table_elite_tt}}}</td>
                <tr><td>0.23 to 0.30:</td><td>{{{cda_help_table_good_tt}}}</td>
                <tr><td>0.30 to 0.35:</td><td>{{{cda_help_table_road}}}</td>
                <tr><td>0.35 to 0.50:</td><td>{{{cda_help_table_climbing}}}</td>
                <tr><td>0.50+:</td><td>{{{cda_help_table_upright}}}</td>
            </table>
        </div>
        <a class="help-info" data-help="cda" title="{{{/dialog_help_info_tooltip}}}">{{=icon info-circle-duotone=}}</a>
        <b>{{{cda_heading}}}:</b>
        <div class="indent">
            <div class="entry" title="{{{cda_tooltip}}}">
                <key>CdA:</key>
                <input name="aero" type="range" min="0.15" max="0.7" step="0.01" value="{{cda}}"/>
                <input name="cda" type="number" min="0.15" max="0.7" step="0.01" value="{{cda}}"
                       title="{{{cda_tooltip}}}" style="width: calc(4ch + 1em);"/>
                <abbr class="unit">m²</abbr>
            </div>

            <div class="entry flex" title="{{{cda_position_tooltip}}}">
                <key>{{{cda_position}}}:</key>
                <span class="cda-position" data-min="-Infinity" data-max="0.23">{{{cda_help_table_elite_tt}}}</span>
                <span class="cda-position" data-min="0.23" data-max="0.30">{{{cda_help_table_good_tt}}}</span>
                <span class="cda-position" data-min="0.30" data-max="0.35">{{{cda_help_table_road}}}</span>
                <span class="cda-position" data-min="0.35" data-max="0.50">{{{cda_help_table_climbing}}}</span>
                <span class="cda-position" data-min="0.50" data-max="Infinity">{{{cda_help_table_upright}}}</span>
            </div>
        </div>
    </div>

    <div class="entry collapsable" title="{{{drafting_tooltip}}}">
        <div class="help" data-for="draft">
            <a class="sauce-dismiss">{{=icon times-circle-duotone=}}</a>
            {{{drafting_help}}}
        </div>
        <a class="help-info" data-help="draft" title="{{{/dialog_help_info_tooltip}}}">{{=icon info-circle-duotone=}}</a>
        <label><b>{{{drafting}}}:</b> <input name="drafting" type="checkbox" style="margin-left: 0.22em;"/></label>
        <div class="indent drafting-options">
            <div class="entry"title="{{{riders_tooltip}}}">
                <key>{{{riders}}}:</key>
                <input name="riders" type="range" min="2" max="8" step="1" value="2"/>
                <span class="annotation draft-riders"></span>
            </div>

            <div class="entry" title="{{{rotating_tooltip}}}">
                <key>{{{rotating_paceline}}}:</key>
                <input name="rotating" type="checkbox"/>
            </div>

            <div class="rotating-draft-options">
                <div class="entry" title="{{{work_tooltip}}}">
                    <key>{{{time_at_front}}}:</key>
                    <input name="work" type="range" min="0" max="1" step="0.01" value="0.5"/>
                    <span class="annotation draft-work"></span>%
                </div>
            </div>
            <div class="static-draft-options">
                <div class="entry" title="{{{position_tooltip}}}">
                    <key>{{{position}}}:</key>
                    <input name="position" type="range" min="1" max="2" step="1" value="2"/>
                    <span class="annotation draft-position">2</span>
                </div>
            </div>
            <div class="entry" title="{{{group_weight_tooltip}}}">
                <key>{{{group_weight}}}:</key>
                <input name="group-body-weight" type="number" disabled placeholder="{{bodyWeight}}" value="{{bodyWeight}}" min="0" step="any"/>
                <abbr class="unit">{{weightUnit}}</abbr>
                <label>
                    <input name="group-use-athlete-weight" type="checkbox" checked/>
                    {{{group_use_athlete_weight}}}
                </label>
            </div>
        </div>
    </div>

    <div class="entry" title="{{{power_tooltip}}}">
        <key>{{{power}}}:</key>
        <input name="power" type="number" placeholder="{{power}}" value="{{power}}"/>
        <abbr class="unit">w</abbr>
    </div>

    <div class="entry" title="{{{body_weight_tooltip}}}">
        <key>{{{body_weight}}}:</key>
        <input name="body-weight" type="number" placeholder="{{bodyWeight}}" value="{{bodyWeight}}" min="0" step="any"/>
        <abbr class="unit">{{weightUnit}}</abbr>
    </div>

    <div class="entry" title="{{{gear_weight_tooltip}}}">
        <key>{{{gear_weight}}}:</key>
        <input name="gear-weight" type="number" placeholder="{{gearWeight}}" value="{{gearWeight}}" min="0" step="any"/>
        <abbr class="unit">{{weightUnit}}</abbr>
    </div>

    <div class="entry" title="{{{slope_tooltip}}}">
        <key>{{{slope}}}:</key>
        <input name="slope" type="number" placeholder="{{slope}}" value="{{slope}}" step="0.1"/>
        <abbr class="unit">%</abbr>
    </div>

    <div class="entry" title="{{{distance_tooltip}}}">
        <key>{{{/analysis_distance}}}:</key>
        <input name="distance" type="number" placeholder="{{distance}}" value="{{distance}}" step="0.001" min="0"/>
        <abbr class="unit">{{distanceUnit}}</abbr>
    </div>


    <div class="entry" title="{{{elevation_tooltip}}}">
        <key>{{{elevation}}}:</key>
        <input name="elevation" type="number" placeholder="{{elevation}}" value="{{elevation}}"/>
        <abbr class="unit">{{elevationUnit}}</abbr>
    </div>

    <div class="entry" title="{{{wind_tooltip}}}">
        <key>{{{wind}}}:</key>
        <input name="wind" type="number" value="{{wind}}" step="any"/>
        <abbr class="unit">{{speedUnit}}</abbr>
    </div>
</form>

<div class="output sauce-key-value">
    <section class="original">
        <div class="heading">{{{original_performance}}}:</div>

        <div class="entry">
            <key>{{{time}}}:</key> {{time}}
        </div>

        <div class="entry">
            <key>{{{/analysis_speed}}}:</key> {{speed}}<abbr class="unit">{{speedUnit}}</abbr>
        </div>

        <% if (wkg) { %>
            <div class="entry">
                <key>Watts/kg:</key> {{wkg}}<abbr class="unit">w/kg</abbr>
            </div>
        <% } %>
    </section>

    <section class="predicted valid-only">
        <div class="heading">{{{predicted_performance}}}:</div>

        <div class="entry">
            <key>{{{time}}}:</key>
            <span class="time"></span>
            <small class="ahead-behind"></small>
        </div>

        <div class="entry">
            <key>{{{/analysis_speed}}}:</key>
            <span class="speed"></span><abbr class="unit">{{speedUnit}}</abbr>
        </div>

        <% if (hasWeight) { %>
            <div class="entry">
                <key>Watts/kg:</key>
                <span class="wkg"></span><abbr class="unit">w/kg</abbr>
            </div>
        <% } %>
    </section>

    <section class="invalid">
        <div class="heading">{{{predicted_performance}}}:</div>
        <div class="entry">
            <b>No velocity predicted for these parameters</b>
        </div>
    </section>

    <section class="power-details valid-only">
        <div class="heading">{{{power_details_heading}}}:</div>
        <div class="entry columns">
            <div class="left-col">
                <div class="entry gravity" title="{{{power_details_gravity_tooltip}}}">
                    <dot style="background-color: {{powerColors.gravity}}"/>
                    <key>{{{power_details_gravity}}}:</key>
                    <span class="power"></span><abbr class="unit">w</abbr>
                    <small><span class="pct"></span><abbr class="unit">%</abbr></small>
                </div>
                <div class="entry aero" title="{{{power_details_aero_tooltip}}}">
                    <dot style="background-color: {{powerColors.aero}}"/>
                    <key>{{{power_details_aero}}}:</key>
                    <span class="power"></span><abbr class="unit">w</abbr>
                    <small><span class="pct"></span><abbr class="unit">%</abbr></small>
                </div>
                <div class="entry rr" title="{{{power_details_rr_tooltip}}}">
                    <dot style="background-color: {{powerColors.rr}}"/>
                    <key>{{{power_details_rr}}}:</key>
                    <span class="power"></span><abbr class="unit">w</abbr>
                    <small><span class="pct"></span><abbr class="unit">%</abbr></small>
                </div>
            </div>
            <div class="right-col sparkline"></div>
        </div>
    </section>

    <section class="drafting-output valid-only">
        <div class="heading">{{{drafting}}}:</div>
        <div class="entry" title="{{{group_power_tooltip}}}">
            <key>{{{group_power}}}:</key>
            <span class="group-power"></span><abbr class="unit">w</abbr>
        </div>

        <div class="entry" title="{{{power_variance_tooltip}}}">
            <key>{{{power_variance}}}:</key>
            <span class="power-variance"></span><abbr class="unit">%</abbr>
        </div>

        <div class="entry columns rider-icons">
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
            <div class="draft-rider-icon">{{=icon biking-duotone=}}<label/></div>
        </div>
    </section>
</div>
