<% if (!athletes.length) { %>
    <div class="onboarding">
        <div class="visuals-left">
            <img src="https://saucellc.io/images/perf-promo/1.png"/>
            <div class="btn btn-xl btn-primary enable">Enable Sync and Get Started!</div>
        </div>

        <div class="copy-right">
            <div class="welcome">
                <h1>Welcome to Sauce Performance!</h1>
                <p>Take your Strava experience to the next level with professional training and performance insights only possible when Strava is combined with <span class="saucey">Sauce</span>.  See and interact with critical training metrics like Training Stress Balance (TSB/Form) and Cumulative Training Load (CTL/Fitness).  View all your best power or pace compared to all your prior activities.  Sauce Performance is great for coaches and coached athletes.  Sync your athletes data and get immediate visibility into their training progress as well as how their actual results are shaping up.</p>
            </div>
            <div class="how-it-works">
                <h2>How it works...</h2>
                <p>Sauce Performance is a highly advanced server-less solution for synchronizing your entire workout history from Strava servers into your browser.  It uses cutting edge browser technology to store, index and analyze the entire history of activities.  Once an athlete's activity history is synchronized a world of new data analysis possibilities are available.</p>
            </div>

            <img src="https://saucellc.io/images/perf-promo/2.png" loading="lazy"/>
            <img src="https://saucellc.io/images/perf-promo/3.png" loading="lazy"/>
        </div>
    </div>

<% } else { %>

    <nav>
        <b>Athlete:<!--XXX Localize--></b>
        <div class="athlete">
            <select name="athlete">
                <% for (const x of athletes) { %>
                    <option value="{{x.id}}" {{x.id === athleteId ? 'selected' : ''}}>{{x.name}}</option>
                <% } %>
            </select>
        </div>

        <div class="summary"></div>
    </nav>

    <main></main>

    <aside class="details"></aside>
<% } %>
