{{{power_profile_about1}}}

<br/><br/>

{{{power_profile_about2}}}

<br/><br/>

<div class="sauce-rank-widget">
    {{{power_profile_select}}}
    <select id="sauce-rank-level">
        <option value="7">World Tour</option>
        <option value="6">Pro</option>
        <option value="5">Cat 1</option>
        <option value="4">Cat 2</option>
        <option value="3">Cat 3</option>
        <option value="2">Cat 4</option>
        <option value="1">Cat 5</option>
    </select>
    <select id="sauce-rank-gender">
        <option value="male">{{{male}}}</option>
        <option value="female">{{{Female}}}</option>
    </select>

    <div class="rank-graph"></div>
</div>

<footer>
    {{{power_profile_footer_leadin}}},
    <a target="_BLANK" href="https://www.trainingpeaks.com/blog/power-profiling/">Andy's Power Profiling blog</a>.
</footer>
