{{{power_profile_about1}}}

<br/><br/>

{{{power_profile_about2}}}

<br/>

<div class="sauce-rank-widget">
    {{{power_profile_select}}}
    <select id="sauce-rank-level">
        <option value="7" data-cat="world-tour">World Tour</option>
        <option value="6" data-cat="pro">Pro</option>
        <option value="5" data-cat="cat1">Cat 1</option>
        <option value="4" data-cat="cat2">Cat 2</option>
        <option value="3" data-cat="cat3">Cat 3</option>
        <option value="2" data-cat="cat4">Cat 4</option>
        <option value="1" data-cat="cat5">Cat 5</option>
    </select>
    <select id="sauce-rank-gender">
        <option value="male">{{{male}}}</option>
        <option value="female">{{{Female}}}</option>
    </select>

    <div class="rank-graph"></div>
</div>

<footer>
    <i>{{{power_profile_footer_leadin}}}:
    <a target="_BLANK" href="https://www.trainingpeaks.com/blog/power-profiling/">Andy's Power Profiling blog</a></i>
</footer>
