<div class="sauce-sparkline"></div>
<table>
    <tr title="{{{start_of_effort_tooltip}}}">
        <td>{{{start_of_effort}}}</td>
        <td><a class="start_time_link">{{startsAt}}</a></td>
    </tr>

    <% if (obj.power) { %>
        <% if (power.elapsedWKg) { %>
            <tr title="{{{wkg_tooltip}}}">
                <td>{{{Watts}}}/kg</td>
                <td class="rank_holder">
                    <span>{{power.elapsedWKg.toFixed(1)}}</span>
                    <% if (power.rank && power.rank.badge) { %>
                        <img src="{{power.rank.badge}}" class="rank_badge"
                             title="{{{ranking_tooltip}}}: {{Math.round(power.rank.level * 100)}}%"/>
                    <% } %>
                </td>
            </tr>
        <% } %>

        <tr title="{{{elapsed_power_tooltip}}}">
            <td>{{{power}}}</td>
            <td>
                {{Math.round(power.elapsedAvg)}}<abbr class="unit short">w</abbr>
                <sup class="sauce-positive" title="{{{max_power_tooltip}}}">
                    {{power.max}}
                </sup>
            </td>
        </tr>

        <% if (power.np) { %>
            <tr title="{{{np_tooltip}}}">
                <td>NP®</td>
                <td>{{Math.round(power.np)}}<abbr class="unit short">w</abbr></td>
            </tr>
        <% } %>
    <% } %>

    <% if (obj.hr) { %>
        <tr>
            <td>{{{heartrate}}}</td>
            <td>
                <sub class="sauce-positive" title="{{{low_hr_tooltip}}}">{{hr.min}}</sub>
                {{hr.avg}}<abbr class="unit short">{{hrUnit}}</abbr>
                <sup class="sauce-negative" title="{{{high_hr_tooltip}}}">{{hr.max}}</sup>
            </td>
        </tr>
    <% } %>

    <% if (obj.cadence) { %>
        <tr title="{{{cycling_cadence_tooltip}}}">
            <td>{{{cadence}}}</td>
            <td>{{cadence}}<abbr class="unit short">{{cadenceUnit}}</abbr>
        </tr>
    <% } %>

    <% if (obj.pace) { %>
        <tr>
            <td>{{{speed}}}</td>
            <td>
                {{pace.avg}}<abbr class="unit short">{{paceUnit}}</abbr>
                <sup class="sauce-positive" title="{{{high_speed_tooltip}}}">{{pace.max}}</sup>
            </td>
        </tr>
    <% } %>

    <% if (obj.elevation) { %>
        <tr>
            <td>{{{elevation}}}</td>
            <td>
                <sub class="sauce-negative" title="{{{elevation_loss_tooltip}}}">
                    {{elevation.loss}}<abbr class="unit short">{{elevationUnit}}</abbr>
                </sub>
                <span title="{{{grade_tooltip}}}">
                    {{Math.round(elevation.grade)}}<abbr class="unit short">%</abbr>
                </span>
                <sup class="sauce-positive" title="{{{elevation_gain_tooltip}}}">
                    {{elevation.gain}}<abbr class="unit short">{{elevationUnit}}</abbr>
                </sup>
            </td>
        </tr>

        <% if (elevation.vam && elevation.vam > 0) { %>
            <tr title='"Velocità Ascensionale Media": {{{vam_tooltip}}}'>
                <td>VAM</td>
                <td>
                    {{Math.round(elevation.vam).toLocaleString()}}<abbr class="unit short">Vm/h</abbr>
                </td>
            </tr>
        <% } %>
    <% } %>
</table>
