<h5>{{{intro}}}</h5>

<div class="source-of-change">
    {{=icon file-export-duotone=}}
    <div class="rows">
        <div>
            <% if (obj.deviceInfo?.name) { %>
                Device Name: {{deviceInfo.name}}
            <% } else { %>
                Device ID: {{deviceId.split('-')[0]}}
            <% } %>
            <a class="device-name-edit">{{=icon edit-duotone=}}</a>
        </div>
        <% if (obj.deviceInfo) { %>
            <div>
                {{deviceInfo.browser}} {{deviceInfo.browserVersion}} - {{deviceInfo.platform}}
                <% if (deviceInfo.location) { %>
                    - {{deviceInfo.location.region}}, {{deviceInfo.location.country}}
                <% } %>
            </div>
        <% } %>
        <div>{{{time_of_change}}}: {{humanDateTime(changeset.updated)}}</div>
    </div>
</div>

<p>{{{instruction}}}</p>

<b>{{{proposed_changeset}}}</b>
<ul class="changes">
    <% for (const x of dryrun.logs) { %>
        <li><code>{{x}}</code></li>
    <% } %>
</ul>
