<form class="input sauce-key-value">
    <div class="padded-info">
        <div class="help" data-for="intro">
            <a class="dismiss"></a>
            {{{intro_help}}}
        </div>
        <a class="help-info" data-help="intro" title="{{{/dialog_help_info_tooltip}}}">{- await faIcon('info-circle-duotone') -}</a>
        {{{intro}}}
    </div>

    <div class="entry">
        <key>{{{enabled}}}:</key>
        <input name="enable" type="checkbox" {{enabled ? 'checked' : ''}}/>
    </div>

    <div class="entry">
        <key>{{{status}}}:</key>
        <value class="status"></value>
    </div>

    <div class="entry">
        <key>{{{synced}}}:</key>
        <value class="synced"></value>
    </div>

    <div class="entry">
        <key>{{{last_sync}}}:</key>
        <value class="last-sync"></value>
    </div>

    <div class="entry">
        <key>{{{next_sync}}}:</key>
        <value class="next-sync"></value>
    </div>

    <div class="entry">
        <div class="help" data-for="ftp">
            <a class="dismiss"></a>
            {{{cda_help1}}}
            <br/><br/>
            {{{cda_help_table_heading}}}:
            <table class="unstyled">
                <tr><td>0.17 to 0.23:</td><td>{{{cda_help_table_elite_tt}}}</td>
                <tr><td>0.23 to 0.30:</td><td>{{{cda_help_table_good_tt}}}</td>
                <tr><td>0.30 to 0.35:</td><td>{{{cda_help_table_road}}}</td>
                <tr><td>0.35 to 0.50:</td><td>{{{cda_help_table_climbing}}}</td>
                <tr><td>0.50+:</td><td>{{{cda_help_table_upright}}}</td>
            </table>
        </div>
        <a class="help-info" data-help="ftp" title="{{{/dialog_help_info_tooltip}}}">{- await faIcon('info-circle-duotone') -}</a>
        <b>{{{ftp_history}}}:</b>
        <div class="indent">
            <% for (const x of (athlete.ftpHistory || [])) { %>
                <div class="entry">
                    <key>{{(new Date(x.ts)).toLocaleDateString()}}:</key>
                    <value>{{x.value.toLocaleString()}}<abbr class="unit">w</abbr>
                    <button class="delete btn-sm">X</button></value>
                </div>
            <% } %>
            <button class="add btn-sm btn-block">Add new entry</button>
        </div>
    </div>

    <div class="entry">
        <b>{{{weight_history}}}:</b>
        <div class="indent">
            <% for (const x of (athlete.weightHistory || [])) { %>
                <div class="entry">
                    <key>{{(new Date(x.ts)).toLocaleDateString()}}:</key>
                    <value>{{humanWeight(x.value)}}<abbr class="unit">{{weightUnit}}</abbr></value>
                    <button class="delete btn-sm">X</button></value>
                </div>
            <% } %>
            <button class="add btn-sm btn-block">Add new entry</button>
        </div>
    </div>

    <pre>{{JSON.stringify(athlete)}}</pre>
</form>
