<form class="input sauce-key-value">
    <div class="padded-info">
        <div class="help" data-for="intro">
            <a class="sauce-dismiss">{-await fa('times-circle-duotone')-}</a>
            {{{intro_help}}}
        </div>
        <a class="help-info" data-help="intro" title="{{{/dialog_help_info_tooltip}}}">{- await fa('info-circle-duotone') -}</a>
        {{{intro}}}
    </div>

    <div class="entry">
        <key>{{{enabled}}}:</key>
        <input name="enable" type="checkbox" {{enabled ? 'checked' : ''}}/>
    </div>

    <div class="entry status">
        <key>{{{status}}}:</key>
        <value></value>
        <button class="btn btn-unstyled btn-icon-only sync-stop"
                title="{{{sync_stop_tooltip}}}">{-await fa('stop-circle-regular')-}</button>
        <button class="btn btn-unstyled btn-icon-only sync-start"
                title="{{{sync_start_tooltip}}}">{-await fa('play-circle-regular')-}</button>
        <button class="btn btn-unstyled btn-icon-only sync-recompute"
                title="{{{sync_recompute_tooltip}}}">{-await fa('redo-solid')-}</button>
    </div>

    <div class="entry synced">
        <key>{{{synced}}}:</key>
        <value><progress></progress> <span class="text"></span></value>
    </div>

    <div class="entry last-sync">
        <key>{{{last_sync}}}:</key>
        <value></value>
    </div>

    <div class="entry next-sync">
        <key>{{{next_sync}}}:</key>
        <value></value>
    </div>

    <div class="entry history ftp"></div>
    <div class="entry history weight"></div>
</form>
