<form class="sync-mgmt input sauce-key-value">

    <h3>Sync  Status</h3>

    <div class="padded-info">
        <div class="help" data-for="intro">
            <a class="sauce-dismiss">{-await fa('times-circle-duotone')-}</a>
            {{{intro_help}}}
        </div>
        <a class="help-info" data-help="intro" title="{{{/dialog_help_info_tooltip}}}">{- await fa('info-circle-duotone') -}</a>
        {{{intro}}}
    </div>

    <div class="entry">
        <key>{{{enabled}}}:</key>
        <input name="enable" type="checkbox" {{enabled ? 'checked' : ''}}/>
    </div>

    <div class="entry status">
        <key>{{{status}}}:</key>
        <value></value>
        <button class="btn btn-unstyled btn-icon-only sync-stop"
                title="{{{sync_stop_tooltip}}}">{-await fa('stop-circle-regular')-}</button>
        <button class="btn btn-unstyled btn-icon-only sync-start"
                title="{{{sync_start_tooltip}}}">{-await fa('play-circle-regular')-}</button>
        <button class="btn btn-unstyled btn-icon-only sync-recompute"
                title="{{{sync_recompute_tooltip}}}">{-await fa('redo-solid')-}</button>
    </div>

    <div class="entry error">
        <key>{{{last_error}}}:</key>
        <value></value>
    </div>

    <div class="entry synced">
        <key>{{{synced}}}:</key>
        <value>
            <span class="text"></span>
            <progress></progress>
        </value>
    </div>

    <div class="entry last-sync">
        <key>{{{last_sync}}}:</key>
        <value></value>
    </div>

    <div class="entry next-sync">
        <key>{{{next_sync}}}:</key>
        <value></value>
    </div>
</form>

<div class="athlete-mgmt sauce-key-value">

    <h3>Athlete Settings</h3>

    <div class="padded-info">
        <% if (!athlete.hrZonesTS || !athlete.hrZones) { %>
            <i>Heartrate zones have not been established.</i> <!-- XXX localize -->
            <button class="btn btn-sm btn-icon-only btn-unstyled sync-hr-zones">{-await fa('sync-alt-duotone')-}</button> <!--XXX localize-->
        <% } else {%>
            Heartrate Zones | <small>updated {{humanDate(athlete.hrZonesTS)}}</small> <!--XXX localize-->
            <button class="btn btn-sm btn-icon-only btn-unstyled sync-hr-zones">{-await fa('sync-alt-duotone')-}</button> <!--XXX localize-->
            <table class="hr-zones">
                <tr><td>Z1</td><td>Recovery</td><td>0 - {{athlete.hrZones.z1}}</td></tr>
                <tr><td>Z2</td><td>Endurance</td><td>{{athlete.hrZones.z1}} - {{athlete.hrZones.z2}}</td></tr>
                <tr><td>Z3</td><td>Tempo</td><td>{{athlete.hrZones.z2}} - {{athlete.hrZones.z3}}</td></tr>
                <tr class="lt"><td>Z4</td><td>Threshold</td><td>{{athlete.hrZones.z3}} - {{athlete.hrZones.z4}}</td></tr>
                <tr><td>Z5</td><td>Anaerobic</td><td>{{athlete.hrZones.z4}} - Max</td></tr>
            </table>
        <% } %>
    </div>

    <div class="entry block history ftp"></div>

    <div class="entry block history weight"></div>
</div>
