<% if (!athlete.hrZonesTS || !athlete.hrZones) { %>
    <div class="header">
        <i>{{{no_hr_zones}}}</i>
        <div class="btn btn-sm btn-icon-only btn-unstyled sync-hr-zones">{{=icon sync-alt-duotone=}}</div>
    </div>
<% } else {%>
    <div class="header">
        <div class="title">{{{hr_zones}}} <small>({{{updated}}} {{humanDate(athlete.hrZonesTS)}})</small></div>
        <div class="btn btn-sm btn-icon-only sync-hr-zones">{{=icon redo-solid=}}</div>
    </div>
    <table class="hr-zones">
        <tr><td>Z1</td><td>{{{hr_zone1}}}</td><td>0 - {{athlete.hrZones.z1}}</td></tr>
        <tr><td>Z2</td><td>{{{hr_zone2}}}</td><td>{{athlete.hrZones.z1}} - {{athlete.hrZones.z2}}</td></tr>
        <tr><td>Z3</td><td>{{{hr_zone3}}}</td><td>{{athlete.hrZones.z2}} - {{athlete.hrZones.z3}}</td></tr>
        <tr class="lt"><td>Z4</td><td>{{{hr_zone4}}}</td><td>{{athlete.hrZones.z3}} - {{athlete.hrZones.z4}}</td></tr>
        <tr><td>Z5</td><td>{{{hr_zone5}}}</td><td>{{athlete.hrZones.z4}} - Max</td></tr>
    </table>
<% } %>
