<ul class="inline-stats section secondary-stats sauce-stats">
    <% if (obj.np) { %>
        <li title="{{{np_tooltip}}}">
            <strong>{{humanNumber(np)}}<abbr class="unit">w</abbr></strong>
            <div class="label">NP®</div>
        </li>
    <% } else if (obj.power) { %>
        <li>
            <strong>{{humanNumber(power)}}<abbr class="unit">w</abbr></strong>
            <div class="label">{{{power}}}</div>
        </li>
    <% } %>


    <% if (obj.intensity) { %>
        <li title="{{{intensity_tooltip}}}">
            <strong>{{humanNumber(intensity * 100)}}<abbr class="unit">%</abbr></strong>
            <div class="label">IF®</div>
        </li>
    <% } %>

    <% if (obj.tss) { %>
        <li title="{{{tss_tooltip}}}">
            <strong>{{humanNumber(tss)}}</strong>
            <div class="label">TSS®</div>
        </li>
    <% } else if (obj.tTss) { %>
        <li title="{{{trimp_tss_tooltip}}}">
            <strong>{{humanNumber(tTss)}}</strong>
            <div class="label">tTSS®</div>
        </li>
    <% } %>


    <div class="divider"></div>

    <% if (obj.ftpOrigin) { %>
        <li>
            <strong class="sauce-editable-field ftp">
                <a class="origin-{{ftpOrigin}}"
                   title="{{{ftp_link_tooltip}}}">{{humanNumber(ftp)}}</a><!--
                --><input data-width="5ch" type="text" value="{{ftp}}"
                       title="{{{ftp_input_tooltip}}}"/><!--
                --><abbr class="unit" title="Watts">W</abbr>
            </strong>
            <div class="label">FTP</div>
        </li>
    <% } %>

    <li>
        <strong class="sauce-editable-field weight">
            <a class="origin-{{weightOrigin}}"
               title="{{{weight_link_tooltip}}}">{{weightNorm}}</a><!--
            --><input data-width="6ch" type="text" value="{{weight}}"
                   title="{{{weight_input_tooltip}}}"/><!--
            --><abbr class="unit" title="Weight">{{weightUnit}}</abbr>
        </strong>
        <div class="label">{{{weight}}}</div>
    </li>
</ul>
