<ul class="inline-stats section secondary-stats sauce-stats">
    <% if (np !== undefined) { %>
        <li>
            <strong>{{ Math.round(np) }}<abbr class="unit" title="Watts">W</abbr></strong>
            <div class="label">Normalized Power</div>
        </li>
    <% } %> 
    <li>
        <strong>
            <a class="provide_ftp">{{ ftp }}</a><abbr class="unit" title="Watts">W</abbr>
            <input style="display: none;" type="text" value="{{ ftp }}"/>
        </strong>
        <div class="label">FTP</div>
    </li>
    <% if (if_ !== undefined) { %> 
        <li>
            <strong>{{ if_.toFixed(2) }}<abbr class="unit" title="Intesity Factor">IF</abbr></strong>
            <div class="label">Intensity Factor</div>
        </li>
    <% } if (tss !== undefined) { %> 
        <li>
            <strong>{{ Math.round(tss) }}</strong>
            <div class="label">TSS</div>
        </li>
    <% } %> 
    <li>
        <strong>{{ Math.round(weight_norm) }}<abbr class="unit" title="Weight">{{ weight_unit }}</abbr></strong>
        <div class="label">Weight</div>
    </li>
</ul>
