<section class="sauce-info">
    <div class="panel">
        <heading>
            <h1>
                Overview
                <a class="external" title="View on trailforks.com" target="_blank"
                   href="https://www.trailforks.com/trails/{{trail.alias}}/"
                    >{-await fa('external-link-duotone')-}</a>
            </h1>
            <% if (trail.expanded.difficulty) { %>
                <div class="tf-difficulty tf-{{trail.expanded.difficulty.class}}"
                     title="{{trail.expanded.difficulty.title}}"
                    ><% if (trail.expanded.difficulty.image) { %><img
                        src="{{sauce.extUrl}}images/trail_difficulty/{{trail.expanded.difficulty.image}}"
                    /><% } else if (trail.expanded.difficulty.icon) { %><div
                        class="tf-icon">{-await fa(trail.expanded.difficulty.icon)-}</div
                    ><% } %></div>
            <% } %>
        </heading>

        <% if (trail.expanded.description) { %>
            <div class="item desc"><span>{-trail.expanded.description-}</span></div>
        <% } %>

        <div class="item activity-flags">
            <key>Activity types</key>
            <% if (trail.act_atv) { %>
                <div class="activity-icon" title="ATV's permitted">
                    {-await fa('truck-pickup-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_ebike) { %>
                <div class="activity-icon" title="E-bike's permitted">
                    {-await fa('bicycle-duotone')-}
                    <div class="sub-icon">{-await fa('bolt-duotone')-}</div>
                </div>
            <% } %>
            <% if (trail.act_hike) { %>
                <div class="activity-icon" title="Hiking permitted">
                    {-await fa('hiking-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_trailrun) { %>
                <div class="activity-icon" title="Running permitted">
                    {-await fa('running-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_horse) { %>
                <div class="activity-icon" title="Horse's permitted">
                    {-await fa('horse-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_moto || trail.act_mototrials) { %>
                <div class="activity-icon" title="Motorcycle's permitted">
                    {-await fa('motorcycle-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_mtb) { %>
                <div class="activity-icon" title="Mountain bike's permitted">
                    {-await fa('biking-mountain-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_skialpine || trail.act_skibc || trail.act_skixc) { %>
                <div class="activity-icon" title="Skiing permitted">
                    {-await fa('skiing-nordic-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_snowshoe) { %>
                <div class="activity-icon" title="Snow shoeing permitted">
                    {-await fa('snowflake-duotone')-}
                </div>
            <% } %>
            <% if (trail.act_snowmobile) { %>
                <div class="activity-icon" title="Snow mobile's permitted">
                    {-await fa('snowmobile-duotone')-}
                </div>
            <% } %>
        </div>

        <% if (trail.expanded.condition) { %>
            <div class="item tf-condition tf-{{trail.expanded.condition.class}}">
                <key>Condition:</key>
                <value>
                    <div class="tf-icon">
                        {-await fa(trail.expanded.condition.icon || 'certificate-duotone')-}
                    </div>
                    {{trail.expanded.condition.title}}
                </value>
            </div>
        <% } %>

        <% if (trail.expanded.status) { %>
            <div class="item tf-status tf-{{trail.expanded.status.class}}">
                <key>Status:</key>
                <value>
                    <div class="tf-icon">{-await fa('circle-duotone')-}</div>
                    {{trail.expanded.status.title}}
                </value>
            </div>
        <% } %>

        <div class="item">
            <key>Distance:</key>
            <value>
                {{humanDistance(trail.stats.distance)}} <abbr class="unit short">{{distanceUnit}}</abbr>
            </value>
        </div>
        <div class="item">
            <key>Grade:</key>
            <value>{{humanNumber(trail.stats.grade, 1)}}<abbr class="unit short">%</abbr></value>
        </div>
        <div class="item"><key>Global rank:</key><value>{{trail.global_rank.toLocaleString()}}</value></div>
        <div class="item"><key>Popularity Score:</key><value>{{trail.popularity_score}}</value></div>
        <div class="item"><key>Rating:</key><value>{{trail.rating}}</value></div>
        <% if (trail.land_manager) { %>
            <div class="item"><key>Land manager:</key><value>{{trail.land_manager}}</value></div>
        <% } %>
        <% if (trail.expanded.direction) { %>
            <div class="item"><key>Direction:</key><value>{{trail.expanded.direction}}</value></div>
        <% } %>
        <% if (trail.expanded.bikeType) { %>
            <div class="item"><key>Bike type:</key><value>{{trail.expanded.bikeType}}</value></div>
        <% } %>
        <% if (trail.expanded.physicalRating) { %>
            <div class="item"><key>Physical rating:</key><value>{{trail.expanded.physicalRating}}</value></div>
        <% } %>
        <% if (trail.expanded.seasonType) { %>
            <div class="item"><key>Season type:</key><value>{{trail.expanded.seasonType}}</value></div>
        <% } %>
        <% if (trail.expanded.trailType) { %>
            <div class="item"><key>Trail type:</key><value>{{trail.expanded.trailType}}</value></div>
        <% } %>
        <% if (trail.expanded.ttfs && trail.expanded.ttfs.length) { %>
            <div class="item"><key>Tech Features:</key><value>{{trail.expanded.ttfs.join(', ')}}</value></div>
        <% } %>
        <% if (trail.expanded.usage) { %>
            <div class="item"><key>Usage:</key><value>{{trail.expanded.usage}}</value></div>
        <% } %>
    </div>

    <% if (obj.reports && reports.length) { %>
        <div class="panel">
            <heading>
                <h1>
                    Reports
                    <a class="external" title="View all on trailforks" target="_blank"
                       href="https://www.trailforks.com/trails/{{trail.alias}}/reports/"
                        >{-await fa('external-link-duotone')-}</a>
                </h1>
            </heading>
            <% for (const x of reports) { %>
                <div class="report">
                    <span class="age" title="{{x.created.toLocaleString()}}">
                        <a href="https://www.trailforks.com/profile/{{x.username}}/" target="_blank">{{x.username}}</a> • {-await humanRelTime(x.created)-}
                    </span>

                    <div class="item">
                        <value class="reported">
                           <% if (x.expanded.condition) { %>
                                <span class="tf-condition tf-{{x.expanded.condition.class}}">
                                    <div class="tf-icon">
                                        {-await fa(x.expanded.condition.icon || 'certificate-duotone')-}
                                    </div>
                                    {{x.expanded.condition.title}}</span><% if (x.expanded.status) { %>, <% } %>
                            <% } %>

                            <% if (x.expanded.status) { %>
                                <span class="tf-status tf-{{x.expanded.status.class}}">
                                    <div class="tf-icon">{-await fa('circle-duotone')-}</div>
                                    {{x.expanded.status.title}}
                                </span>
                            <% } %>
                        </value>
                    </div>
                    <% if (x.expanded.description) { %>
                        <div class="item desc"><span>"{-x.expanded.description-}"</span></div>
                    <% } %>
                </div>
            <% } %>
        </div>
    <% } %>
</section>

<section class="geo">
    <div class="sparkline elevation"></div>
    <div class="map"></div>
</section>

<% if ((obj.photos && photos.length) ||
       (obj.videos && videos.length)) { %>
    <section class="contribs">
        <% if (obj.photos && photos.length) { %>
            <div class="panel">
                <heading>
                    <h1>
                        Photos
                        <a class="external" title="View all on trailforks" target="_blank"
                           href="https://www.trailforks.com/trails/{{trail.alias}}/photos/"
                            >{-await fa('external-link-duotone')-}</a>
                    </h1>
                </heading>
                <div class="sauce-media">
                    <% for (const x of photos) { %>
                        <div class="item">
                            <a class="tf-media photo" href="javascript:void(0)" data-id="{{x.id}}">
                                <img src="{{x.thumbs.s}}"/>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>

        <% if (obj.videos && videos.length) { %>
            <div class="panel">
                <heading>
                    <h1>
                        Videos
                        <a class="external" title="View all on trailforks" target="_blank"
                           href="https://www.trailforks.com/trails/{{trail.alias}}/videos/"
                            >{-await fa('external-link-duotone')-}</a>
                    </h1>
                </heading>
                <div class="sauce-media">
                    <% for (const x of videos) { %>
                        <div class="item">
                            <a class="tf-media video" href="javascript:void(0)" data-id="{{x.id}}">
                                <img src="{{x.thumbs.s}}"/>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </section>
<% } %>
