<small>
    {{trail.title}}<br/>
    segcor: {{Math.round(segmentCorrelation * 100)}}<br/>
    trailcor: {{Math.round(trailCorrelation * 100)}}
</small>
<a title="{{trail.title}} {{Math.round(segmentCorrelation * 100)}} {{Math.round(trailCorrelation * 100)}}" class="report">
    <% if (trail.difficultyInfo) { %>
        <% if (trail.difficultyInfo.image) { %>
            <img title="{{trail.difficultyInfo.title}} - Click for full report"
                 class="difficulty {{trail.difficultyInfo.class || ''}}"
                 src="{{sauce.extUrl}}images/trail_difficulty/{{trail.difficultyInfo.image}}"/>
        <%  } else if (trail.difficultyInfo.icon) { %>
            <div title="{{trail.difficultyInfo.title}} - Click for full report"
                 class="difficulty {{trail.difficultyInfo.class || ''}}"
                 style="color: {{trail.difficultyInfo.color}};">{-await faIcon(trail.difficultyInfo.icon)-}</div>
        <% } %>
    <% } %>
    <% if (trail.conditionInfo) { %>
        <div class="condition {{trail.conditionInfo.class || ''}}"
             title="{{trail.conditionInfo.title}} - Click for full report">
            {-await faIcon(trail.conditionInfo.icon || 'certificate-duotone')-}
        </div>
    <% } %>
    <% if (trail.statusInfo) { %>
        <div class="status {{trail.statusInfo.class || ''}}"
             title="{{trail.statusInfo.title}} - Click for full report">{-await faIcon('circle-duotone')-}</div>
    <% } %>
</a>
