<a class="report">
    <% if (aggDif.length) { %>
        <div class="tf-icon-stack">
            <% for (const x of aggDif) { %>
                <% if (x.image) { %>
                    <img class="tf-difficulty tf-{{x.class}}"
                         src="{{sauce.extUrl}}images/trail_difficulty/{{x.image}}"/>
                <%  } else if (x.icon) { %>
                    <div class="tf-difficulty tf-{{x.class}} tf-icon"
                         style="color: {{x.color}};">{-await faIcon(x.icon)-}</div>
                <% } %>
            <% } %>
        </div>
    <% } %>
    <% if (aggCond.length) { %>
        <div class="tf-icon-stack">
            <% for (const x of aggCond) { %>
                <div class="tf-condition tf-{{x.class}} tf-icon">
                    {-await faIcon(x.icon || 'certificate-duotone')-}
                </div>
            <% } %>
        </div>
    <% } %>
    <% if (aggStatus.length) { %>
        <div class="tf-icon-stack">
            <% for (const x of aggStatus) { %>
                <div class="tf-status tf-{{x.class}} tf-icon">
                    {-await faIcon('circle-duotone')-}
                </div>
            <% } %>
        </div>
    <% } %>
</a>
