<a class="report"
   title="<% for (const x of descs) { %> • {{x.tooltip + '\n'}}<% } %>">
    <% if (mostDifficult) { %>
        <div class="tf-icon-stack">
            <% if (mostDifficult.image) { %>
                <img class="tf-difficulty tf-{{mostDifficult.class}}"
                     src="{{sauce.extUrl}}images/trail_difficulty/{{mostDifficult.image}}"/>
            <%  } else if (mostDifficult.icon) { %>
                <div class="tf-difficulty tf-{{mostDifficult.class}} tf-icon"
                     style="color: {{mostDifficult.color}};">{-await fa(mostDifficult.icon)-}</div>
            <% } %>
        </div>
    <% } %>
    <% if (worstCondition) { %>
        <div class="tf-icon-stack">
            <div class="tf-condition tf-{{worstCondition.class}} tf-icon">
                {-await fa(worstCondition.icon || 'certificate-duotone')-}
            </div>
        </div>
    <% } %>
    <% if (worstStatus) { %>
        <div class="tf-icon-stack">
            <div class="tf-status tf-{{worstStatus.class}} tf-icon">
                {-await fa('circle-duotone')-}
            </div>
        </div>
    <% } %>
</a>
