<table class="sauce-perf activity-table">
    <thead>
        <tr>
            <% const up = '<span class="sort-by up">↑</span>'; %>
            <% const down = '<span class="sort-by down">↓</span>'; %>
            <th data-sort-id="name">{{{/name}}}{-sortBy === 'name' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="date">{{{/analysis_date}}}{-sortBy === 'date' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="type">{{{/type}}}{-sortBy === 'type' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="duration">{{{/analysis_time}}}{-sortBy === 'duration' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="distance">{{{/analysis_distance}}}{-sortBy === 'distance' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="pace">{{{/analysis_pace}}}{-sortBy === 'pace' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="elevation">{{{/analysis_elevation}}}{-sortBy === 'elevation' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="tss">TSS{-sortBy === 'tss' ? (sortDesc ? down : up) : ''-}</th>
            <th data-sort-id="exclude_peaks" title="{{{exclude_peaks_tooltip}}}"
                >{{=icon eye-slash-regular=}}{-sortBy === 'exclude_peaks' ? (sortDesc ? down : up) : ''-}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for (const a of activities.slice(0, rowLimit)) { %>
            {-await embed(entryTpl, {a, ...obj})-}
        <% } %>
        <tr class="load-more {{activities.length <= rowLimit ? 'hidden' : ''}}">
            <td colspan="10" class="centered">{{{/load_more}}}</td>
        </tr>
        <tr class="activity-streams"><td colspan="10"></td></tr>
    </tbody>
</table>
