<% let colCount = 1; %>
<table class="sauce-perf activity-table">
    <thead>
        <tr>
            <% const up = '<span class="sort-by up">↑</span>'; %>
            <% const down = '<span class="sort-by down">↓</span>'; %>
            <% for (const x of columns) { %>
                <% colCount++; %>
                <% const sortIndicator = x.sortKey && sortBy === x.id ? (sortDesc ? down : up) : ''; %>
                <th data-align="{{x.align}}" title="{{typeof x.tooltip === 'function' ? x.tooltip() : (x.tooltip || '')}}"
                    <% if (x.sortKey) { %> 
                        data-sort-id="{{x.id}}"
                    <% } %> 
                    >
                    <% if (x.shortLabelKey) { %> 
                        {{{[x.shortLabelKey]}}}{-sortIndicator-}
                    <% } else if (x.shortLabel) { %> 
                        {-x.shortLabel-}{-sortIndicator-}
                    <% } else if (x.labelKey) { %> 
                        {{{[x.labelKey]}}}{-sortIndicator-}
                    <% } else if (x.label) { %> 
                        {-x.label-}{-sortIndicator-}
                    <% } else { %> 
                        <% console.error('malformed col def', x); %>
                    <% } %> 
                </th>
            <% } %>
            <th><!--expand/collapse--></th>
        </tr>
    </thead>
    <tbody>
        <% for (const a of activities.slice(0, rowLimit)) { %>
            {-await embed(entryTpl, {a, ...obj})-}
        <% } %>
        <tr class="load-more {{activities.length <= rowLimit ? 'hidden' : ''}}">
            <td colspan="{{colCount}}" class="centered">{{{/load_more}}}</td>
        </tr>
        <tr class="activity-streams"><td colspan="{{colCount}}"></td></tr>
    </tbody>
</table>
