<% let tmp; %>
<tr data-id="{{a.id}}">
    <% for (const x of columns) { %>
        <td data-column-id="{{x.id}}" class="column {{x.extraClass || ''}}" data-align="{{x.align}}"
            title="{{typeof x.tooltip === 'function' ? x.tooltip(a) : (x.tooltip || '')}}">{-await x.format.call(table, a, peaks.get(a.id))-}</td>
    <% } %>
    <td>
         <div class="btn btn-icon-only btn-unstyled collapse-activity"
              title="{{{/compress_tooltip}}}">{{=icon minus-square-duotone=}}</div>
         <div class="btn btn-icon-only btn-unstyled expand-activity"
              title="{{{/expand_tooltip}}}">{{=icon plus-square-duotone=}}</div>
         <div class="btn btn-icon-only btn-unstyled edit-activity"
              title="{{{edit_activity_tooltip}}}">{{=icon edit-duotone=}}</div>
    </td>
</tr>
