<header class="sauce-swapped-background">
    <div class="title">{{{activity_details}}}</div>
    <a class="view-control collapser">{{=icon window-close-regular=}}</a>
</header>
<section class="content sauce-swapped-background">
    <% if (!daily) { %>
        <i>{{{activity_details_empty}}}</i>
        <br/>
        <center><b>- {{{or}}} -</b></center>
        <br/>
        <div class="btn btn-sm load-more recent">{{{show_some_activities}}}</div>
    <% } else { %>
        <% if (hasNewer) { %>
            <div class="btn btn-sm btn-secondary load-more newer"
                 title="{{{show_newer_activity}}}">{{=icon ellipsis-h-light=}}</div>
        <% } %>

        <% for (const day of Array.from(daily).reverse()) { %>
            <% const multiple = day.activities.length > 1;  if (multiple) { %>
                <div class="entry day">
                    <header class="title">
                        <small>{{humanDate(day.date, {style: 'weekday'})}}</small><br/>
                        {{day.activities.length}} Activities
                    </header>
                    <% if (day.tss) { %>
                        <row>
                            <key>TSS:</key>
                            <value>{{humanNumber(day.tss)}}</value>
                        </row>
                    <% } %>
                    <% if (day.powerZonesTime.length) { %>
                        <row>
                            <key>{{{power_zones}}}:</key>
                            <value> </value>
                            <div class="btn btn-icon-only btn-unstyled expand"
                                 title="{{{/analysis_expand_tooltip}}}">{{=icon plus-square-duotone=}}</div>
                            <div class="btn btn-icon-only btn-unstyled compress"
                                 title="{{{/analysis_compress_tooltip}}}">{{=icon minus-square-duotone=}}</div>
                            <div class="expanded-details">
                                <% for (const [i, x] of day.powerZonesTime.entries()) { %>
                                    <row>
                                        <key>{{{/analysis_power}}} Z{{i + 1}}:</key>
                                        <value>{{humanTimer(x)}}</value>
                                    </row>
                                <% } %>
                            </div>
                        </row>
                    <% } %>
                    <% if (day.duration) { %>
                        <row>
                            <key>{{{/analysis_time}}}:</key>
                            <value>{{humanTimer(day.duration)}}</value>
                        </row>
                    <% } %>
                    <% if (day.distance) { %>
                        <row>
                            <key>{{{/analysis_distance}}}:</key>
                            <value>
                                {{humanDistance(day.distance)}}<abbr
                                    class="unit short">{{sauce.locale.distanceFormatter.shortUnitKey()}}</abbr>
                            </value>
                        </row>
                    <% } %>
                    <% if (day.kj) { %>
                        <row>
                            <key>{{{/analysis_energy}}}:</key>
                            <value>{{humanNumber(day.kj)}}<abbr class="unit short">kJ</abbr></value>
                        </row>
                    <% } %>
                    <% if (day.altGain) { %>
                        <row>
                            <key>{{{elevation_gain}}}:</key>
                            <value>{{humanElevation(day.altGain)}}<abbr
                                class="unit short">{{sauce.locale.elevationFormatter.shortUnitKey()}}</abbr></value>
                        </row>
                    <% } %>
            <% } %>
            <% for (const a of day.activities.reverse()) { %>
                <div class="activity {{!multiple ? 'entry' : ''}}" data-id="{{a.id}}">
                    <header class="title">
                        <div class="btn btn-icon-only btn-unstyled edit-activity"
                             title="{{{edit_activity_tooltip}}}">{{=icon edit-duotone=}}</div>
                        <% if (multiple) { %>
                            <small>{{humanTime(a.ts)}}</small>
                        <% } else { %>
                            <small>{{humanDateTime(a.ts, {style: 'weekday'})}}</small>
                        <% } %>
                        <a class="activity-name" target="_blank" href="/activities/{{a.id}}">{{a.name}}</a>
                    </header>
                    <% if (a.description) { %>
                        <p class="activity-desc">{{a.description}}</p>
                    <% } %>
                    <% if (sauce.model.getActivityTSS(a) != null) { %>
                        <row>
                            <key>TSS:</key>
                            <value>{{humanNumber(sauce.model.getActivityTSS(a))}}</value>
                            <div class="btn btn-icon-only btn-unstyled expand"
                                 title="{{{/analysis_expand_tooltip}}}">{{=icon plus-square-duotone=}}</div>
                            <div class="btn btn-icon-only btn-unstyled compress"
                                 title="{{{/analysis_compress_tooltip}}}">{{=icon minus-square-duotone=}}</div>
                            <div class="expanded-details">
                                <% if (a.tssOverride != null) { %>
                                    <row>
                                        <key>TSS {{{override}}}:</key>
                                        <value>{{humanNumber(a.tssOverride)}}</value>
                                    </row>
                                <% } %>
                                <% if (a.stats && a.stats.tss != null) { %>
                                    <row>
                                        <key>TSS {{{/analysis_power}}}:</key>
                                        <value>{{humanNumber(a.stats.tss)}}</value>
                                    </row>
                                <% } %>
                                <% if (a.stats && a.stats.tTss != null) { %>
                                    <row>
                                        <key>tTSS:</key>
                                        <value>{{humanNumber(a.stats.tTss)}}</value>
                                    </row>
                                <% } %>
                            </div>
                        </row>
                    <% } else { %>
                        <row>
                            <key>TSS:</key>
                            <value class="sauce-negative">
                                <a class="edit-activity sauce-negative"
                                   title="Click to edit">{{{unavailable}}}</a>
                            </value>
                        </row>
                    <% } %>
                    <% if (a.stats) { %>
                        <% if (a.stats.intensity != null) { %>
                            <row>
                                <key>IF:</key>
                                <value>{{humanNumber(a.stats.intensity * 100)}}%</value>
                                <div class="btn btn-icon-only btn-unstyled expand"
                                     title="{{{/analysis_expand_tooltip}}}">{{=icon plus-square-duotone=}}</div>
                                <div class="btn btn-icon-only btn-unstyled compress"
                                     title="{{{/analysis_compress_tooltip}}}">{{=icon minus-square-duotone=}}</div>
                                <div class="expanded-details">
                                    <% for (const [i, x] of a.stats.powerZonesTime.entries()) { %>
                                        <row>
                                            <key>{{{/analysis_power}}} Z{{i + 1}}:</key>
                                            <value>{{humanTimer(x)}}</value>
                                        </row>
                                    <% } %>
                                </div>
                            </row>
                        <% } %>
                        <% if (a.stats.activeTime) { %>
                            <row>
                                <key>{{{/analysis_time}}}:</key>
                                <value>{{humanTimer(a.stats.activeTime)}}</value>
                            </row>
                        <% } %>
                        <% if (a.stats.power) { %>
                            <row data-expand-mode="peaks" data-peak-type="power">
                                <key>{{{/analysis_power}}}:</key>
                                <value>{{humanNumber(a.stats.power)}}<abbr class="unit short">w</abbr></value>
                                <div class="btn btn-icon-only btn-unstyled expand"
                                     title="{{{/analysis_expand_tooltip}}}">{{=icon plus-square-duotone=}}</div>
                                <div class="btn btn-icon-only btn-unstyled compress"
                                     title="{{{/analysis_compress_tooltip}}}">{{=icon minus-square-duotone=}}</div>
                            </row>
                        <% } %>
                        <% if (a.basetype === 'run' && a.stats.activeTime && a.stats.distance) { %>
                            <row data-expand-mode="peaks" data-peak-type="pace">
                                <key>{{{/analysis_pace}}}:</key>
                                <value>{{humanPace(a.stats.activeTime / a.stats.distance, {suffix: true})}}</value>
                                <div class="btn btn-icon-only btn-unstyled expand"
                                     title="{{{/analysis_expand_tooltip}}}">{{=icon plus-square-duotone=}}</div>
                                <div class="btn btn-icon-only btn-unstyled compress"
                                     title="{{{/analysis_compress_tooltip}}}">{{=icon minus-square-duotone=}}</div>
                            </row>
                        <% } %>
                        <% if (a.stats.distance) { %>
                            <row>
                                <key>{{{/analysis_distance}}}:</key>
                                <value>{{humanDistance(a.stats.distance)}}<abbr
                                    class="unit short">{{sauce.locale.distanceFormatter.shortUnitKey()}}</abbr></value>
                            </row>
                        <% } %>
                        <% if (a.stats.kj) { %>
                            <row>
                                <key>{{{/analysis_energy}}}:</key>
                                <value>{{humanNumber(a.stats.kj)}}<abbr class="unit short">kJ</abbr></value>
                            </row>
                        <% } %>
                        <% if (a.stats.altitudeGain) { %>
                            <row>
                                <key>{{{elevation_gain}}}:</key>
                                <value>{{humanElevation(a.stats.altitudeGain)}}<abbr
                                    class="unit short">{{sauce.locale.elevationFormatter.shortUnitKey()}}</abbr></value>
                            </row>
                        <% } %>
                    <% } %>
                    <% const errors = getSyncErrors(a);%>
                    <% if (errors) { %>
                        <% for (const x of errors) { %>
                            <row>
                                <key class="sauce-negative">{{{sync_error}}}:</key>
                                <value>{{humanDate(x.error.ts)}}</value>
                                <value><b>{{x.name}}:</b> {{x.error.message}}</value>
                            </row>
                        <% } %>
                    <% } %>
                    <% if (obj.debug) { %>
                        <row>
                            <key>DEBUG:</key>
                            <value><pre>{{JSON.stringify(a, null, 2)}}</pre></value>
                        </row>
                    <% } %>
                </div>
            <% } %>
            <% if (multiple) { %>
                </div><!-- /day -->
            <% } %>
        <% } %>

        <% if (hasOlder) { %>
            <div class="btn btn-sm btn-secondary load-more older"
                 title="{{{show_older_activity}}}">{{=icon ellipsis-h-light=}}</div>
        <% } %>
    <% } %>
</section>
