<form class="sauce-key-value sauce-vertical">
    <div class="entry">
        <key>{{{/type}}}:</key>
        <value>
            <select name="type">
                <% for (const x of panelViews) { %>
                    <option value="{{x.uuid}}">{{{['/' + x.typeLocaleKey]}}}</option>
                <% } %>
            </select>
        </value>
        <br/>
        <p class="desc">{{{['/' + selected.descLocaleKey]}}}</p>
    </div>

    <div class="entry">
        <key>{{{/name}}}:</key>
        <value><input type="text" name="name" placeholder="{{{['/' + selected.nameLocaleKey]}}}"/></value>
    </div>
</form>
