<form class="sauce-key-value sauce-vertical">
    <div class="entry">
        <key>{{{/type}}}:</key>
        <value>
            <select name="type">
                <% for (const x of Object.values(panelViews)) { %>
                    <option value="{{x.name}}">{{{['/' + x.nameLocaleKey]}}}</option>
                <% } %>
            </select>
        </value>
        <br/>
        <p class="desc">{{{['/' + panelViews[selected].descLocaleKey]}}}</p>
    </div>

    <div class="entry">
        <key>{{{/name}}}:</key>
        <value><input type="text" name="name" placeholder="{{{['/' + panelViews[selected].nameLocaleKey]}}}"/></value>
    </div>
</form>
